<!--shareable non dummy component-->

<div class="search" id="search">

    <div class="search__toggle">
        <span style="font-size: 50px; font-family: monospace;">&laquo;</span>

        {{ 'shared.toggleFilters' | translate }}
    </div>

    <div class="search__content">

        <input class="input input--search" id="fltrTaxon" placeholder="{{ 'shared.search_searchTaxon' | translate }}">

        <div class="bulk">
            <button class="button button--dropdown">Filterbolk 1</button>
        </div>

        <div class="bulk">
            <button class="button button--dropdown">Filterbolk 2</button>
        </div>


        <div class="bulk">
            <button class="button button--dropdown">Filterbolk 3</button>
        </div>


        <div class="bulk">
            <button class="button button--dropdown">Filterbolk 4</button>
        </div>


        <div class="bulk">
            <button class="button button--dropdown">Filterbolk 5</button>
        </div>

    </div>

</div>

<!--shareable non dummy component-->