<!--shareable non dummy component-->

<div class="search-wrapper" id="search">

    <div class="search" [ngClass]="{'search--active' : isActive}">

        <div class="search__content">

            <input class="input input--search" id="fltrTaxon"
                placeholder="{{ 'shared.search_searchTaxon' | translate }}">

            <div class="bulk">
                <button class="button button--dropdown">Filterbolk 2</button>
                <div class="bulk__content">
                    <input type="text" class="input input--search" placeholder="Søk noe">
                    <br>

                </div>
            </div>


            <div class="bulk">
                <button class="button button--dropdown">Filterbolk 3</button>
                <div class="bulk__content">
                    <input type="text" class="input input--search" placeholder="Søk noe">
                </div>
            </div>


            <div class="bulk">
                <button class="button button--dropdown">Filterbolk 4</button>
                <div class="bulk__content"></div>
            </div>


            <div class="bulk">
                <button class="button button--dropdown">Filterbolk 5</button>
                <div class="bulk__content"></div>
            </div>

        </div>

        <div class="search__bar">
            <button class="button button--sm">Lukk</button>
            <button class="button button--sm button--full">Søk</button>
        </div>

    </div>



</div>

<!--shareable non dummy component-->