<!--layout component-->

<footer class="footer" role="contentinfo">

    <div class="footer__grid">

        <div class="footer__column">

            <ul class="link-list">
                <li><a routerLink="/about">Om tjenesten</a></li>
                <li><a routerLink="/about">Brukerstøtte</a></li>
                <li></li>
                <li></li>
            </ul>

        </div>

        <div class="footer__column">
            <ul class="link-list">
                <li><a routerLink="/sitemap">Innholdskart A-Å</a></li>
                <li><a routerLink="/news">Aktuelle saker</a></li>
                <li><a routerLink="/en">English</a></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="footer__column footer__column--y">


        </div>

    </div>

</footer>

<!--layout component-->