<!--shareable component-->

<nav class="shortcuts">

    <a class="shortcuts__link" routerLink="/report/add-observation">
        <span class="shortcuts__icon">
            <img src="/assets/images/iconEye.png" alt="">
        </span>
        <span class="shortcuts__text">Legg til observasjon</span>
    </a>

    <a class="shortcuts__link" routerLink="/observations/sightings">
        <span class="shortcuts__icon">
            <img src="/assets/images/iconEye.png" alt="">
        </span>
        <span class="shortcuts__text">Se observasjoner</span>
    </a>

</nav>

<!--shareable component-->