<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro"></div>

    <div class="page__content">

        <p class="body-text">
            {{ 'statistics.shared_tableDescription_content' | translate: { value: translationParamValue } }}
            {{ 'statistics.shared_tableDescription_includedData' | translate }}
        </p>

        <app-assessment-category [categoryVariant]="assessmentCategoryTypes.redlist"></app-assessment-category>

        <br>
        <p class="body-text"> {{ 'statistics.shared_tableDescription_includedDataExplanation' | translate }}</p>

        <div class="table-container" tabindex="0" role="region" aria-labelledby="caption1"
            *ngIf="data$ | async as redlistedSpecies; else noData">

            <table class="custom-table" aria-describedby="redlist">
                <caption id="caption1">{{ 'statistics.tableCaption_redlistedSpeciesData' | translate }}</caption>
                <thead role="rowgroup">
                    <tr role="row">
                        <th scope="col" role="columnheader">
                            {{ 'statistics.tableHeading_speciesGroup' | translate }}
                        </th>
                        <th scope="col" role="columnheader">
                            {{ 'statistics.tableHeading_riskGroup' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_sightingsCount' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_withMedia' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validated' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validatedAndApproved' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody role="rowgroup" *ngFor="let species of redlistedSpecies | keyvalue">
                    <tr role="row" *ngFor="let data of species.value.data; let i = index">
                        
                        <th role="rowheader" scope="row">

                            <ng-container *ngIf="currentLanguage$ | async as currentLanguage">

                                <span *ngIf="i === 0">
                                    <ng-container *ngIf="currentLanguage === 'en'">{{ species.key.en }}</ng-container>
                                    <ng-container *ngIf="currentLanguage === 'no'">{{ species.key.no }}</ng-container>
                                </span>


                                <!--for screen readers-->
                                <span *ngIf="i > 0" class="td-hidden">
                                    <ng-container *ngIf="currentLanguage === 'en'">{{ species.key.en }}</ng-container>
                                    <ng-container *ngIf="currentLanguage === 'no'">{{ species.key.no }}</ng-container>
                                </span>
                                <!--for screen readers-->

                            </ng-container>

                        </th>
                        <td role="cell">
                            {{ data.assessmentCategory.code }}

                            <span class="sr-only">
                                <ng-container *ngIf="currentLanguage$ | async as currentLanguage">

                                    <ng-container *ngIf="currentLanguage === 'en'">
                                        {{ data.assessmentCategory.en }}
                                    </ng-container>
                                    <ng-container *ngIf="currentLanguage === 'no'">
                                        {{ data.assessmentCategory.no }}
                                    </ng-container>

                                </ng-container>
                            </span>

                        </td>
                        <td class="td-number" role="cell">
                            {{ data.sightingsCount | formatNumber }}
                        </td>
                        <td class="td-number" role="cell">
                            {{ data.imagesCount | formatNumber }}
                        </td>
                        <td class="td-number" role="cell">
                            {{ data.validatedCount | formatNumber }}
                        </td>
                        <td class="td-number" role="cell">
                            {{ data.approvedCount | formatNumber }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                {{ 'statistics.shared_tableDescription_excluded' | translate }}
                <br />
                {{ 'statistics.shared_tableDescription_approved' | translate }}
            </p>


            <app-validation-status [validationStatusType]="validationStatuses.approved"></app-validation-status>


        </div>

        <ng-template #noData>
            <app-error-response></app-error-response>
        </ng-template>

    </div>

    <footer class="page__footer"> </footer>

</div>