<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro">

        <p>Husk at datagrunnlaget må forklares</p>
        <p>Forklart hvor ofte data oppdateres</p>

        <app-category-redlisted></app-category-redlisted>
    </div>

    <div class="page__content">

        <div *ngIf="redlistedSpeciesData$ | async as redlistedSpecies">

            <table>
                <caption>{{ 'shared.tableCaption_redlistedData' | translate }}</caption>
                <thead>
                    <tr>
                        <th>{{ 'shared.tableHeading_speciesGroup' | translate }}</th>
                        <th scope="col" role="columnheader" class="th-number">{{ 'shared.tableHeading_riskGroup' |
                            translate
                            }}</th>
                        <th scope="col" role="columnheader" class="th-number">{{ 'shared.tableHeading_sightingsNumber' |
                            translate }}</th>
                        <th scope="col" role="columnheader" class="th-number">{{ 'shared.tableHeading_withMedia' |
                            translate
                            }}</th>
                        <th scope="col" role="columnheader" class="th-number">{{ 'shared.tableHeading_qualityChecked' |
                            translate }}</th>
                        <th scope="col" role="columnheader" class="th-number">{{
                            'shared.tableHeading_qualityCheckedAndApproved' | translate }}</th>
                    </tr>
                </thead>

                <tbody *ngFor="let item of redlistedSpecies; let i = index" [ngClass]="{'tbody-shadow': i % 2 !== 0}">
                    <tr *ngFor="let element of item.data">

                        <td>{{ item.id }}</td>
                        <td class="td-number">{{ element.redlistId }}</td>
                        <td class="td-number">{{ element.sightingCount | numberProxy }}</td>
                        <td class="td-number">{{ element.sightingWithMediaCount | numberProxy }}</td>
                        <td class="td-number">{{ element.validatedSightingCount | numberProxy }}</td>
                        <td class="td-number">{{ element.approvedValidatedSightingCount | numberProxy }}</td>
                    </tr>
                </tbody>

            </table>

        </div>



        <!-- [ngClass]="{'tbody-shadow': i % 2 === 0}"  
            
            [attr.rowspan]="item.data.length"
        -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <!-- <table>
            <caption>Antall observasjoner i rødliste kategori</caption>
            <tr>
                <th>Artsgruppe</th>
                <th>Risikogruppe</th>
                <th class="tbl-number">Antall observasjoner</th>
                <th class="tbl-number">Med bilder</th>
                <th class="tbl-number">Kvalitetssjekket av validator*</th>
                <th class="tbl-number">Kvalitetssjekket og godkjent av validator**</th>
            </tr>

            <tr>
                <th rowspan="6" scope="row"><strong>Alger</strong></th>
                <td>CR</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">0</td>
                <td class="tbl-number">1</td>
                <td></td>
            </tr>
            <tr>
                <td>EN</td>
                <td class="tbl-number">9</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">3</td>
                <td></td>
            </tr>
            <tr>
                <td>VU</td>
                <td class="tbl-number">54</td>
                <td class="tbl-number">0</td>
                <td class="tbl-number">15</td>
                <td></td>
            </tr>
            <tr>
                <td>NT</td>
                <td class="tbl-number">69</td>
                <td class="tbl-number">12</td>
                <td class="tbl-number">40</td>
                <td></td>
            </tr>
            <tr>
                <td>DD</td>
                <td class="tbl-number">5</td>
                <td class="tbl-number">3</td>
                <td class="tbl-number">3</td>
                <td></td>
            </tr>
            <tr>
                <td>&mdash;</td>
                <td class="tbl-number">7880</td>
                <td class="tbl-number">1831</td>
                <td class="tbl-number">149</td>
                <td></td>
            </tr>

            <tr class="tbody-shadow">
                <th rowspan="3" scope="row"><strong>Amfibier og reptiler</strong></th>
                <td>CR</td>
                <td class="tbl-number">31</td>
                <td class="tbl-number">16</td>
                <td class="tbl-number">27</td>
                <td></td>
            </tr>

            <tr class="tbody-shadow">
                <td>NT</td>
                <td class="tbl-number">3677</td>
                <td class="tbl-number">585</td>
                <td class="tbl-number">3329</td>
                <td></td>
            </tr>

            <tr class="tbody-shadow">
                <td>&mdash;</td>
                <td class="tbl-number">20375</td>
                <td class="tbl-number">3729</td>
                <td class="tbl-number">1659</td>
                <td></td>
            </tr>

            <tr>
                <th rowspan="2" scope="row"><strong>Fisk</strong></th>
                <td>RE</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">0</td>
                <td></td>
            </tr>


            <tr>

                <td>CR</td>
                <td class="tbl-number">2</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">1</td>
                <td></td>
            </tr>


        </table> -->

        <p>*Inkluderer alle valideringskategorier bortsett fra 'Ikke validert (funnet er ikke kvalitetssikret)'. </p>
        <p> ** Har en av følgende valideringskategorier: </p>

        <ul>
            <li>Godkjent basert på observatørens opplysninger</li>
            <li>Godkjent</li>
            <li>Belegg gransket av validator</li>
            <li>Godkjent. Foto eller lyd godkjent av validator</li>
            <li>Godkjent basert på determinators verifisering</li>
            <li>Godkjent, basert på en tidligere sjeldenhetsrapport</li>
            <li>Godkjent, funnet er sannsynlig</li>
        </ul>

    </div>

    <footer class="page__footer"> </footer>

</div>