<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro"></div>

    <div class="page__content">

        <p class="body-text">
            {{ 'statistics.shared_tableDescription_content' | translate: { value: translationParamValue } }}
            {{ 'statistics.shared_tableDescription_includedData' | translate }}
        </p>

        <app-assessment-category [categoryVariant]="assessmentCategories.redlist"></app-assessment-category>

        <br>
        <p class="body-text"> {{ 'statistics.shared_tableDescription_includedDataExplanation' | translate }}</p>

        <div *ngIf="data$ | async as redlistedSpecies; else noData">

            <table class="custom-table" aria-describedby="redlist">
                <caption>{{ 'statistics.tableCaption_redlistedSpeciesData' | translate }}</caption>
                <thead role="rowgroup">
                    <tr role="row">
                        <th scope="col" role="columnheader">
                            {{ 'statistics.tableHeading_speciesGroup' | translate }}
                        </th>
                        <th scope="col" role="columnheader">
                            {{ 'statistics.tableHeading_riskGroup' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_sightingsCount' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_withMedia' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validated' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validatedAndApproved' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody role="rowgroup" *ngFor="let species of redlistedSpecies | keyvalue">
                    <tr role="row" *ngFor="let data of species.value.data; let i = index">
                        <th role="rowheader" scope="row"
                            [attr.data-heading]="'statistics.tableHeading_speciesGroup' | translate">

                            <ng-container *ngIf="currentLanguage$ | async as currentLanguage">

                                <span *ngIf="i === 0">
                                    <ng-container *ngIf="currentLanguage === 'en'">{{ species.key.en }}</ng-container>
                                    <ng-container *ngIf="currentLanguage === 'no'">{{ species.key.no }}</ng-container>
                                </span>

                                <span *ngIf="i > 0" class="td-hidden">
                                    <!--for screen readers-->
                                    <ng-container *ngIf="currentLanguage === 'en'">{{ species.key.en }}</ng-container>
                                    <ng-container *ngIf="currentLanguage === 'no'">{{ species.key.no }}</ng-container>
                                </span>

                            </ng-container>

                        </th>
                        <td role="cell" [attr.data-heading]="'statistics.tableHeading_riskGroup' | translate">
                            
                            <span class="sr-only">
                                <ng-container *ngIf="currentLanguage$ | async as currentLanguage">

                                    <ng-container *ngIf="currentLanguage === 'en'">
                                        {{ data.assessmentCategory.en }}
                                    </ng-container>
                                    <ng-container *ngIf="currentLanguage === 'no'">
                                        {{ data.assessmentCategory.no }}
                                    </ng-container>

                                </ng-container>
                            </span>

                        </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_sightingsCount' | translate">
                            {{ data.sightingsCount | numberProxy }}
                        </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_withMedia' | translate">
                            {{ data.imagesCount | numberProxy }}
                        </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_validated' | translate">
                            {{ data.validatedCount | numberProxy }}
                        </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_validatedAndApproved' | translate">
                            {{ data.approvedCount | numberProxy }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                {{ 'statistics.shared_tableDescription_excluded' | translate }}
                <br />
                {{ 'statistics.shared_tableDescription_approved' | translate }}
            </p>

            <ul>
                <li>Godkjent basert på observatørens opplysninger</li>
                <li>Godkjent</li>
                <li>Belegg gransket av validator</li>
                <li>Godkjent. Foto eller lyd godkjent av validator</li>
                <li>Godkjent basert på determinators verifisering</li>
                <li>Godkjent, basert på en tidligere sjeldenhetsrapport</li>
                <li>Godkjent, funnet er sannsynlig</li>
            </ul>

        </div>

        <ng-template #noData>
            <app-error-response></app-error-response>
        </ng-template>

    </div>

    <footer class="page__footer"> </footer>

</div>