<div class="child">

    <h2 *ngIf="pageTitle$ | async as pageTitle">{{ pageTitle }}</h2>

    <div class="section">

        <!--toppobservatører-->

        <h3>{{ 'shared.filter' | translate }}</h3>

        <app-filter></app-filter>

        <br>
        <br>

        <div *ngIf="filteredData$ | async as userStatistics">

            <ng-container *ngIf="userStatistics.totalCount === 0">
                {{ 'shared.noResults' | translate }}
                <br><br>
            </ng-container>

            <div class="table-container" tabindex="0" role="region" aria-labelledby="caption1"
                style="min-width: 75%; width: auto;">

                <table *ngIf="userStatistics.totalCount > 0">
                    <caption id="caption1"></caption>
                    <thead>
                        <tr>
                            <th scope="col" role="columnheader"> {{ 'tables.userStats_position' | translate }} </th>
                            <th scope="col" role="columnheader"> {{ 'tables.userStats_observer' | translate }} </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'tables.userStats_sightingsCount' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'tables.userStats_mediaCount' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let topObserver of userStatistics.topObservers; let i = index">

                        <tr>
                            <td class="td-center td-index" style="width: auto;">
                                {{ getPosition(i, userStatistics.pageNumber, userStatistics.pageSize) }}
                            </td>
                            <td>
                                <strong style="font-size: 1.2em">{{ topObserver.name }}</strong>
                                <br>
                                <span style="font-size: 0.9em">{{ topObserver.city }}</span>
                            </td>
                            <td class="td-number td-text td-text--lg">
                                {{ topObserver.sightingsCount | formatNumber }}
                            </td>
                            <td class="td-number td-text td-text--lg">
                                {{ topObserver.mediaCount | formatNumber }}
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

        <br>
        <br>

        <app-pagination *ngIf="totalPages$ | async as totalPages" [totalPages]="totalPages"
            (switchedPage)="onPaginationClick($event)"></app-pagination>

        <br>
        <br>
        <br>
        <br>

    </div>

</div>