<div class="page">

    <header class="page__header">

        <h1 class="page-title" *ngIf="pageTitle$ | async as pageTitle">{{ pageTitle }}</h1>

    </header>

    <br><br>

    <div class="page__intro">
        Her kommer det tekst om hva slags innhold dette er
    </div>

    <div class="page__content">

        <app-menu-dropdown [title]="'buttonText.selectArea' | translate" [options]="dropdownOptions"
            [icon]="'stats'">
        </app-menu-dropdown>

        <router-outlet></router-outlet>

    </div>

    <footer class="page__footer"></footer>


</div>