<div class="page">

    <header class="page__header"></header>

    <div class="page__intro">
        <app-search></app-search>
    </div>

    <div class="page__content">

        <div>
            <div class="grid__cell grid__cell--right">

                <!--display-->
                <!-- <div class="loop loop--buttons loop--right">

                    <app-button [cssClass]="'button--display button--display-1'" [text]="'Vis i kart'"
                        (click)="chooseDisplay('map')"></app-button>
                    <app-button [cssClass]="'button--display button--display-2'" [text]="'Tabellvisning'"
                        (click)="chooseDisplay('table')"></app-button>
                    <app-button [cssClass]="'button--display button--display-3'" [text]="'Gallerivisning'"
                        (click)="chooseDisplay('card')"></app-button>

                </div> -->

                <!--display-->
            </div>
        </div>

        <!-- <app-date></app-date> -->

        <!--display-->

        <div *ngIf="display === 'table'">

            <table class="">
                <thead class="table__header">
                    <tr>
                        <th scope="col" class="table__column-header">Art</th>
                        <th scope="col" class="table__column-header">Artsgruppe</th>
                        <th scope="col" class="table__column-header">Dato</th>
                        <th scope="col" class="table__column-header">Sted</th>
                        <!-- <th scope="col" class="table__column-header">Bilde</th> -->
                    </tr>
                </thead>
                <tbody class="table__body">

                    <!-- <tr scope="row" class="table__row-header" *ngFor="let mammal of marineMammals">
                        <th>{{ mammal.species }}</th>
                        <td>{{ mammal.sighted_at | date: 'dd.MM.yyyy' }}</td>
                        <td>{{ mammal }}</td>
                        <td>{{ mammal }}</td>
                    </tr> -->

                    <tr>
                        <th scope="row" class="table__row-header"><a routerLink="">...</a></th>
                        <td><span class="">...</span></td>
                        <td>...</td>
                        <td>...</td>
                    </tr>

                </tbody>
            </table>

        </div>


        <div *ngIf="display === 'card'">

            <div class="loop loop--gallery gallery">

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Panda</h1>
                    <h2 class="item__subtitle item__category"><i>Ailuropoda melanoleuca</i></h2>

                    <div class="item__img-wrapper">
                        <div class="item__image item__image--1"></div>
                    </div>

                    <div class="item__details details">
                        <div class="item__copyright"> Ole Olesen </div>
                        <div class="details__date">20.09.2020</div>
                        <div class="details__location">Trondheim</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>

                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Atlanterhavshvalross</h1>
                    <h2 class="item__subtitle item__category"><i>Odobenus rosmarus rosmarus</i></h2>

                    <div class="item__img-wrapper">
                        <div class="item__image item__image--8"></div>
                    </div>

                    <div class="item__details details">
                        <div class="item__copyright"> Ole Olesen </div>
                        <div class="details__date">20.09.2020</div>
                        <div class="details__location">Malvik</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>

                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Leopard</h1>
                    <h2 class="item__subtitle item__category"><i>Panthera pardus</i></h2>

                    <div class="item__img-wrapper">
                        <div class="item__image item__image--2"></div>
                    </div>

                    <div class="item__details details">
                        <div class="item__copyright"> Johannes Johannesen </div>
                        <div class="details__date">17.09.2020</div>
                        <div class="details__location">Oslo</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Frosk</h1>
                    <h2 class="item__subtitle item__category"><i>Hyalinobatrachium ruedai</i></h2>
                    
                    <div class="item__img-wrapper">
                        <div class="item__image item__image--3"></div>
                    </div>

                    <div class="item__details details">
                        <div class="item__copyright"> Magnus Magnusson </div>
                        <div class="details__date">17.09.2020</div>
                        <div class="details__location">Elverum</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Spekkhogger</h1>
                    <h2 class="item__subtitle item__category"><i> Orcinus orca</i></h2>

                    <div class="item__image item__image--noImg"></div>

                    <div class="item__details details">
                        <div class="item__copyright"> Inga Ingasdottir </div>
                        <div class="details__date">20.09.2020</div>
                        <div class="details__location">Hammerfest</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Brunbjørn</h1>
                    <h2 class="item__subtitle item__category"><i>Ursus arctos</i></h2>

                    <div class="item__img-wrapper">
                        <div class="item__image item__image--5"></div>
                    </div>

                    <div class="item__details details">
                        <div class="item__copyright"> Rodrigo Rodriguez </div>
                        <div class="details__date">13.09.2020</div>
                        <div class="details__location">Svalbard</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Furu</h1>
                    <h2 class="item__subtitle item__category"><i>Pinus sylvestris</i></h2>

                    <div class="item__image item__image--noImg"></div>

                    <div class="item__details details">
                        <div class="item__copyright"> Markus Markussen </div>
                        <div class="details__date">17.09.2020</div>
                        <div class="details__location">Skien</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Komodovaran</h1>
                    <h2 class="item__subtitle item__category"><i>Varanus komodoensis</i></h2>

                    <div class="item__image item__image--noImg"></div>

                    <div class="item__details details">
                        <div class="item__copyright"> Navn Navnesen </div>
                        <div class="details__date">16.08.2020</div>
                        <div class="details__location">Moss</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Katt</h1>
                    <h2 class="item__subtitle item__category"><i>Felis catus</i></h2>

                    <div class="item__image item__image--noImg"></div>

                    <div class="item__details details">
                        <div class="item__copyright"> Navn Navnesen </div>
                        <div class="details__date">16.08.2020</div>
                        <div class="details__location">Trondheim</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Leopard</h1>
                    <h2 class="item__subtitle item__category"><i>Panthera pardus</i></h2>

                    <div class="item__img-wrapper">
                        <div class="item__image item__image--4"></div>
                    </div>

                    <div class="item__details details">
                        <div class="item__copyright"> Navn Navnesen </div>
                        <div class="details__date">16.08.2020</div>
                        <div class="details__location">Stjørdal</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

                <a class="gallery__item item" [routerLink]="['/observations/sightings/sighting']">
                    <h1 class="item__title">Padde</h1>
                    <h2 class="item__subtitle item__category"><i>Bufo Bufo</i></h2>

                    <div class="item__image item__image--noImg"></div>
                    
                    <div class="item__details details">
                        <div class="item__copyright"> Navn Navnesen </div>
                        <div class="details__date">16.08.2020</div>
                        <div class="details__location">Bærum</div>
                        <!--<div class="icon"> <img src="/assets/images/iconComment.png" alt=""> </div>-->
                    </div>
                </a>

            </div>

        </div>

        <!-- <div *ngIf="display === 'map'">
            <app-sightings-map></app-sightings-map>
        </div> -->

        <!--display-->

    </div>

    <footer class="page__footer">

    </footer>


</div>