<div class="page page--landing">

    <header class="page__header">
        <h1 class="page-title" [innerHtml]="pageTitle"></h1>
    </header>

    <div class="page__intro">
        <div *ngIf="aboutPage" [innerHtml]="aboutPage.intro"> </div>
    </div>

    <div class="page__content" *ngIf="aboutPage">

        <div *ngIf="aboutPage.body">

            <div [innerHtml]="aboutPage.body"></div>

        </div>

        <!--ACCORDION-->

        <div *ngIf="aboutPage.content">

            <div class="accordion" *ngFor="let content of aboutPage.content">

                <h2 class="accordion__header">

                    <button class="accordion__button" [ngClass]="{ 'accordion__button--active': isExpanded }"
                        id="{{ getAccordionHeaderId(content.id) }}" [attr.aria-expanded]="isExpanded"
                        [attr.aria-controls]="getAccordionPanelId(content.id)" [innerHtml]="content.heading"
                        (click)="toggleAccordion(content.id, accordionItem.id)">
                    </button>

                </h2>

                <div class="accordion__panel" [ngClass]="{'accordion__panel--expanded': isExpanded}" role="region"
                    id="{{ getAccordionPanelId(content.id) }}" [attr.aria-labelledby]="getAccordionHeaderId(content.id)"
                    [innerHtml]="content.body" #accordionItem>
                </div>

            </div>

        </div>

        <!--ACCORDION-->

        <!-- <div *ngIf="aboutPage.content">

            <div *ngFor="let content of aboutPage.content">
                <h2 [innerHtml]="content.Heading"></h2>
                <div [innerHtml]="content.Body"></div>

            </div>

        </div> -->




    </div>

    <footer class="page__footer"></footer>

</div>