<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst.
        </p>
    </div>

    <div class="page__content">

        <div class="loop loop--cards"> 

            <app-card [type]="'link'" [url]="getLinkUrl(link.url)" [label]="link.label" *ngFor="let link of menuSections$ | async">
            </app-card>
            
        </div>

        <router-outlet></router-outlet>

    </div>

    <footer class="page__footer"></footer>

</div>