<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst.
        </p>
    </div>

    <div class="page__content">

        <div class="cards">
            <app-card [type]="'link'" [url]="'about'" [title]="'Om'"></app-card>
            <app-card [type]="'link'" [url]="'about'" [title]="'Brukervilkår'"></app-card>
            <app-card [type]="'link'" [url]="'about'" [title]="'Brukerstøtte'"></app-card>
            <app-card [type]="'link'" [url]="'about'" [title]="'Aktuelle saker'"></app-card>
            <app-card [type]="'link'" [url]="'about'" [title]="'Kunngjøringer'"></app-card>
            <app-card [type]="'link'" [url]="'about'" [title]="'Artsobservasjoner i media'"></app-card>
        </div>

    </div>

    <footer class="page__footer"></footer>

</div>