<div class="page">

    <header class="page__header"></header>

    <div class="page__content">

        <!-- if logged off -->

        <div class="grid grid--2">

            <div class="dashboard-pane" *ngIf="!isLoggedIn">

                <p>
                    Velkommen til Artsobservasjoner. Logg deg inn med brukernavn og passord.
                </p>

                <form action="">
                    <label for="usermail">E-post</label>
                    <input type="text" id="usermail" placeholder="Angi e-post">

                    <label for="userpassword">Passord</label>
                    <input type="password" id="userpassword" placeholder="Angi passord">

                    <div style="font-size: 14px; margin: 10px 0 15px; text-align: center;">Glemt brukernavn eller
                        passord?
                    </div>

                    <button type="submit" class="button button--sm button--primary button--centered"
                        (click)="login()">Logg
                        inn</button>
                    <br><br>
                </form>            

            </div>

        </div>

        <div>

            <br>
            <hr>
            <br>

            Ny bruker? &nbsp;<a routerLink="/register">Registrer deg nå</a>

        </div>

        <!-- if logged off -->

    </div>

    <footer class="page__footer"></footer>

</div>