// ----------COMPONENTS: for elementer som gjenbrukes men er ikke en Angular reusable component

.section {
    margin: 50px 0;

    p {
        max-width: 80ch;
    }
}

// page title & subtitle

.page-title {
    background-image: linear-gradient(transparent 80%, #a3e4d7 20%);
    display: block;
    font-size: 62px;
    margin-bottom: 50px;
    width: fit-content;

    .page-subtitle + & {
        margin: 200px 0 15px;
    }

    @media screen and (max-width: 1200px) {
        background-image: linear-gradient(transparent 85%, #a3e4d7 15%);
        display: inline;
        font-size: 40px;
        margin-bottom: 30px;
    }

    // &::after,
    // &:after {
    //     @include customVar(background-color, clrPrimary);
    //     content: "";
    //     display: block;
    //     height: 13px;
    //     margin: -18px 0 0 3px;
    //     width: auto;

    //     @media screen and (max-width: 1200px) {
    //         height: 9px;
    //         margin: -12px 0 0 3px;
    //     }
    // }

    &--special-case {
        display: inline;
        margin-left: 15vw;
        padding: 0 !important;
        text-align: left;
        width: auto;
    }
}

.page-subtitle {
    font-size: 28px;
    font-weight: 300;
    margin-top: -45px;
}

// box

.box {
    margin: 0;
    padding: 0 0 0 60px;

    @media screen and (max-width: 1024px) {
        padding: 0 0 0 60px;
    }

    &--undefined {
        background-image: url(../images/iconBell.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 35px;

        @media screen and (max-width: 1024px) {
            background-size: 25px;
        }
    }

    &__heading {
        font-size: 24px;
        font-weight: 500;

        @media screen and (max-width: 1024px) {
            font-size: 21px;
        }
    }

    &__details {
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;

        @media screen and (max-width: 1024px) {
            font-size: 15px;
        }
    }

    &__content {
        // display: none;
        font-size: 17px;
        margin-top: 15px;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}

// numbers box

.numbers-box {
    text-align: center;

    &__icon {
        @include customVar(background-color, clrPrimary);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50px;
        border-radius: 500px;
        height: 110px;
        margin: 0 auto;
        text-align: center;
        width: 110px;

        &--totalSightings {
            background-image: url(../images/gallery/statsBinoculars.png);
        }

        &--totalSpecies {
            background-image: url(../images/gallery/statsLeaf.png);
        }

        &--totalImages {
            background-image: url(../images/gallery/statsCamera.png);
        }

        &--totalUsers {
            background-image: url(../images/gallery/statsBinoculars.png);
        }

        @media screen and (max-width: 1200px) {
            background-size: 35px;
            margin: 0 auto 10px;
            height: 70px;
            width: 70px;
        }

        @media screen and (max-width: 1024px) {
            margin-top: -5px;
        }
    }

    &__wrapper {
    }

    &__item {
        @include customVar(font-family, fontSecondary);
        font-size: 62px;
        font-weight: 700;
        line-height: 1;
        margin: 0;

        @media screen and (max-width: 1366px) {
            font-size: 44x;
        }

        @media screen and (max-width: 1200px) {
            font-size: 42px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 32px;
        }

        .numbers-box--small & {
            font-size: 24px;
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 400;

        @media screen and (max-width: 1200px) {
            font-size: 22px;
            font-weight: 500;
        }

        @media screen and (max-width: 1024px) {
            font-size: 20px;
        }

        .numbers-box--small & {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &--list {
        display: grid;
        grid-gap: 20px 0;

        @media screen and (max-width: 1200px) {
            display: grid;
            grid-template-columns: auto 3fr;
            grid-gap: 0 20px;

            & > * {
                align-self: start;
                justify-self: start;
                text-align: left;
            }
        }
    }
}
