// ----------COMPONENTS: for elementer som gjenbrukes men er ikke en Angular reusable component

.section {
    margin: 50px 0;

    p {
        max-width: 80ch;
    }
}

// page title & subtitle

.page-title {
    background-image: linear-gradient(transparent 80%, #a3e4d7 20%);
    display: block;
    font-size: 62px;
    font-weight: 500;
    margin-bottom: 50px;
    width: fit-content;

    .page-subtitle + & {
        margin: 200px 0 15px;
    }

    @media screen and (max-width: 1200px) {
        background-image: linear-gradient(transparent 85%, #a3e4d7 15%);
        display: inline;
        font-size: 40px;
        margin-bottom: 30px;
    }

    // &::after,
    // &:after {
    //     @include customVar(background-color, clrPrimary);
    //     content: "";
    //     display: block;
    //     height: 13px;
    //     margin: -18px 0 0 3px;
    //     width: auto;

    //     @media screen and (max-width: 1200px) {
    //         height: 9px;
    //         margin: -12px 0 0 3px;
    //     }
    // }

    &--special-case {
        display: inline;
        margin-left: 15vw;
        padding: 0 !important;
        text-align: left;
        width: auto;
    }
}

.page-subtitle {
    font-size: 28px;
    font-weight: 300;
    margin-top: -45px;
}

// pagination

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__button {
        @include customVar(background-color, clrWhite);
        @include customVar(border-color, clrBlack);
        @include customVar(font-family, fontPrimary);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px;
        border-style: solid;
        border-width: 2px;
        border-radius: 50px;
        font-size: 30px;
        font-weight: 700;
        margin: 0 10px;
        padding: 0;
        text-align: center;
        width: 50px;

        &--first {
            background-image: url(../images/iconDoubleChevronLeft.png);
            background-position: right 18px center;
            background-size: 13px;

            @media screen and (max-width: 1024px) {
                background-position: right 15px center;
                background-size: 11px;
            }
        }

        &--prev {
            background-image: url(../images/iconChevronLeft.png);
            background-position: right 20px center;
            background-size: 8px;

            @media screen and (max-width: 1024px) {
                background-position: right 18px center;
                background-size: 6px;
            }
        }

        &--next {
            background-image: url(../images/iconChevronRight.png);
            background-position: left 21px center;
            background-size: 8px;

            @media screen and (max-width: 1024px) {
                background-position: left 19px center;
                background-size: 6px;
            }
        }

        &--last {
            background-image: url(../images/iconDoubleChevronRight.png);
            background-position: left 19px center;
            background-size: 13px;

            @media screen and (max-width: 1024px) {
                background-position: left 17px center;
                background-size: 11px;
            }
        }

        &:hover {
            @include customVar(background-color, clrAccent);
            @include customVar(border-color, clrAccent);
            cursor: pointer;
        }

        &:disabled {
            @include customVar(background-color, clrWash);
            cursor: initial;
            opacity: 0.5;

            &:hover {
                @include customVar(border-color, clrWash);
            }
        }

        @media screen and (max-width: 1024px) {
            border-radius: 45px;
            margin: 0 5px;
            width: 45px !important;
        }
    }

    &__input {
        @extend button;
        @include customVar(background-color, clrShadow);
        @include customVar(border-color, clrBlack);
        font-size: 20px;
        padding: 1px 0 0 30px;
        text-align: left !important;
        width: 150px !important;

        @media screen and (max-width: 1024px) {
            font-size: 15px;
            padding: 0 10px 0 15px !important;
            width: 90px !important;
        }
    }

    &__item {
        @include customVar(border-color, clrBlack);
        @include customVar(font-family, fontSecondary);
        border-style: solid;
        border-width: 2px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        margin: 0 10px;
        text-align: center;
        width: 50px;

        @media screen and (max-width: 1024px) {
            font-size: 16px;
            margin: 0 5px;
            width: auto;
        }
    }

    & > * {
        height: 50px !important;
        line-height: 50px !important;
        margin: 0 10px;

        @media screen and (max-width: 1024px) {
            height: 45px !important;
            line-height: 45px !important;
            margin: 0 5px;
        }

        &:active,
        &:focus {
            height: 50px;
            line-height: 48px;

            @media screen and (max-width: 1024px) {
                height: 45px !important;
                line-height: 45px !important;
            }
        }
    }
}

// tags

.tag {
    @include customVar(color, clrBlack);
    @include customVar(font-family, fontAccent);
    font-size: 12px;
    font-weight: 600;
}

// toggle

.toggle {
    background-color: transparent;
    background-image: url(../images/iconChevronDown.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 26px;
    border: none;
    cursor: pointer;
    display: inline;
    height: 60px;
    padding: 0;
    text-align: center;
    width: 60px;

    &--active {
        background-image: url(../images/iconChevronUp.png);
    }

    &:hover,
    &:active,
    &:focus {
        background-color: transparent;
        height: 60px;
        width: 60px;
    }

    @media screen and (max-width: 1024px) {
        background-size: 20px;
    }
}

// slide box

.slide-wrapper {
    background: rgba(0, 0, 0, 0.35);
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;

    &--active {
        display: block;
    }
}

// slide box

.slide-box {
    background: lightblue;
    @include customVar(background-color, clrShadow);
    position: absolute;
    position: fixed;
    bottom: 10vh;
    bottom: 0;
    right: -25vw;
    top: 80px;
    top: 10vh;
    top: 0;
    width: 25vw;
    z-index: 500;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    &--active {
        -webkit-animation: slideRight 0.5s forwards;
        animation: slideRight 0.5s forwards;
    }

    // media queries

    @media screen and (min-width: 3000px) {
        right: -20vw;
        width: 20vw;
    }

    // elements

    & > * {
    }

    &__toggle {
    }

    &__content {
        height: 75vh;
        height: calc(100vh - 115px);
        overflow-y: scroll;
        padding: 30px 30px 90px;
    }

    &__bar {
        @include customVar(background-color, clrPrimary);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 115px;
        grid-gap: 0 10px;
        padding: 30px;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
