// ----------CUSTOM: for elements used sparingly

/*date*/

.date {
    @include customVar(font-family, fontSecondary);
    font-weight: 700;
    margin-bottom: 25px;
}

// error response

.error-response {
    @include customVar(background-color, clrWash2);
    background-image: url(../images/iconWarningColor.png);
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: 40px;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0;
    padding: 15px 20px 15px 75px;
    width: 50ch;

    @media screen and (max-width: 1200px) {
        width: auto;
    }
}

/*progress bar*/

.progressbar {
    left: 0;
    right: 0;
    //position: absolute;
    z-index: 10;

    ul,
    &__list {
        counter-reset: step;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    li {
        @include customVar(font-family, fontSecondary);
        margin: 0;
        position: relative;
        text-align: center;
        width: 200px;
        z-index: 10;

        span {
            display: block;
            font-size: 18px;
            margin: auto;
            padding: 5px;
        }

        &:before {
            @include customVar(background-color, clrAqua3);
            @include customVar(border-color, clrAqua3);
            @include customVar(color, clrBlack);
            border-style: solid;
            border-width: 2px;
            border-radius: 50%;
            content: counter(step);
            counter-increment: step;
            height: 50px;
            display: block;
            font-weight: 600;
            line-height: 47px;
            margin: 0 auto 10px;
            text-align: center;
            width: 50px;
        }

        &:after {
            @include customVar(background-color, clrAqua5);
            content: "";
            display: block;
            height: 3px;
            left: 123px;
            position: absolute;
            top: 25px;
            width: 152px;
            z-index: 5;
        }

        &:last-child:after {
            content: none;
        }
    }
}

// scroll up

.scroll-up {
    @include customVar(background-color, clrBlack);
    @include customVar(border-color, clrBlack);
    background-image: url(../images/iconChevronWhiteUp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 65px;
    line-height: 63px;
    text-align: center;
    width: 65px;
    position: fixed;
    top: auto;
    right: 40px;
    bottom: 40px;
    transition: all 0.5s;

    &:hover {
        @include customVar(background-color, clrAccent);
        @include customVar(border-color, clrAccent);
        background-image: url(../images/iconChevronUp.png);
    }

    @media screen and (max-width: 1200px) {
        background-size: 16px;
        height: 50px;
        line-height: 48px;
        width: 50px;
        right: 15px;
        bottom: 15px;
    }
}

// skip to content

.skip-to-content {
    @include customVar(background-color, clrBlack);
    @include customVar(color, clrWhite);
    @include customVar(font-family, fontAccent);
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    left: 50%;
    line-height: 28px;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.3s;

    &:focus {
        transform: translateY(0);
    }

    @media screen and (max-width: 1024px) {
        left: 20%;
        right: 20%;
    }
}

// validation

.validation {
    @include customVar(background-color, clrAqua1);
    margin-top: 45px;
    padding: 30px;
    text-align: center;

    h3 {
        @include customVar(font-family, fontPrimary);
        font-size: 22px;
        font-weight: 500;
        margin: 15px auto 20px;
    }

    button {
        margin: 0 auto;
    }
}

// language switcher

.language-switcher {
    @include customVar(font-family, fontSecondary);
    background: none;
    border: none;
    @include customVar(border-bottom-color, transparent);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    text-decoration: underline;
    text-indent: 0;
    transition: border 0.5s;

    &--active {
        // active here is the current selected language; we don't want this to stand out
        font-weight: 600;
        text-decoration: none;
    }

    &:focus,
    &:active,
    &:hover {
        // @include customVar(background-color, clrBlack);
        // @include customVar(color, clrWhite);
        outline: 0;
        padding: 10px 0;
    }

    button {
        font-size: 16px;
        font-weight: 600;
    }

    option {
        min-height: 40px;
        text-indent: 0;
    }
}

// comments

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment {
    @include customVar(background-color, clrAqua0);
    border-radius: 20px;
    margin: 30px 0;
    padding: 30px;
    width: 70%;

    &:nth-last-child(even) {
        @include customVar(background-color, clrWash);
        align-self: flex-end;
        border-bottom-right-radius: 0;
    }

    &:nth-last-child(odd) {
        align-self: flex-start;
        border-bottom-left-radius: 0;
    }

    &__author {
        @include customVar(font-family, fontSecondary);
        font-size: 22px;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__metadata {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.comment-rewards {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 0 5px 0 10px;
    height: 40px;
    width: 40px;

    &--0 {
        background-image: url(../images/iconGame0.png);
    }

    &--1 {
        background-image: url(../images/iconGame1.png);
    }

    &--3 {
        background-image: url(../images/iconGame3.png);
    }
}

// league / awards / user statistics

.league {
    background-color: #edf9f7;
}

.badge {
    @include customVar(font-family, fontSecondary);
    @include customVar(font-family, fontPrimary);
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    width: 50px;

    &--top {
        @include customVar(color, clrWhite);
        background-color: transparent;
        background-image: url(../images/iconMedal.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        border-radius: 0;
        font-size: 19px;
        font-weight: 800;
        height: 65px;
        line-height: 83px;
        margin: 0 auto;
        text-align: center;
        width: 50px;
    }

    &--top10 {
        @include customVar(color, clrBlack);
        background-color: transparent;
        background-image: url(../images/iconAward.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        border-radius: 0;
        font-size: 16px;
        font-weight: 700;
        height: 50px;
        line-height: 42px;
        margin: 0 auto;
        text-align: center;
        width: 42px;
    }
}

.stripe {
    @include customVar(background-color, clrWash2);
    display: grid;
    grid-template-columns: 100px auto 100px;
    font-size: 18px;
    margin: 0 auto 3px;
    max-width: 65%;
    width: auto;

    &__cell {
        // border: 1px solid red;
        align-self: center;
        padding: 10px;

        &:nth-child(1) {
            justify-self: center;
        }

        &:nth-child(2) {
            justify-self: start;
            line-height: 1.6;
            text-align: left;
        }

        &:nth-child(3) {
            @include customVar(font-family, fontAccent);
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
            justify-self: end;
            padding-right: 30px;
            text-align: right;
        }

        // gjelder for alle children of stripe--dummy
        .stripe--dummy & {
            @include customVar(font-family, fontSecondary);
            font-size: 19px;
            font-weight: 600;
        }
    }

    &--dummy {
        @include customVar(border-bottom-color, clrAccent);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 0;
    }
}

.stats {
    text-align: center;

    &--xl {
        margin: 70px auto;
    }

    &__number {
        @include customVar(font-family, fontSecondary);
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 20px;

        // current location
        .stats--xl & {
            font-size: 72px;
        }

        // pseudoelement
        &::after {
            @include customVar(background-color, clrBlack);
            content: "";
            display: block;
            height: 4px;
            margin: 0 auto;
            width: 85px;
        }

        // modifier
        &--main {
            &::after {
                content: none;
            }
        }
    }

    &__text {
        .stats--xl & {
            font-size: 27px;
            font-weight: 600;
        }
    }
}

// ad

.ad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #76d7c4;
    border-radius: 100px;
    padding: 50px 100px;
    text-align: center;

    &:hover {
        background-color: #d4efdf;
    }

    &:focus {
        background-color: #d4efdf;
    }

    &__text {
        @include customVar(color, clrBlack);
        @include customVar(font-family, fontSecondary);
        color: black;
        font-size: 36px;
        font-weight: 500;
    }

    &__icon {
        background-color: #a3e4d7;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 27px;
        border-radius: 50px;
        margin: 0;
        margin-right: 15px;
        padding: 0;
        text-align: center;
        height: 60px;
        width: 60px;

        &--1 {
            background-image: url(../images/iconPlus.png);
            background-size: 23px;
        }

        &--2 {
            background-image: url(../images/iconSearch.png);
            background-image: url(../images/iconEye.png);
            background-size: 33px;
        }

        .ad:hover & {
            // background-color: #000;
            // transition: background-color 0.5s;
        }
    }
}

// shortcuts

.shortcuts {
    display: none;

    height: auto;
    margin: auto;
    position: fixed;
    right: 25px;
    //transform: translateY(50%);

    @media screen and (max-width: 1024px) {
        //transform: translateY(10px);
    }

    &__link {
        background-color: #d1f2eb;
        border-radius: 100%;
        display: block;
        margin: 10px auto;
        text-align: center;
        height: 80px;
        width: 80px;

        display: grid;
        justify-items: center;
        align-items: center;
        grid-gap: 0;

        &:focus,
        &:hover {
            background-color: #76d7c4;
        }

        @media screen and (max-width: 1024px) {
            height: 50px;
            width: 50px;
        }

        // children

        & > * {
            margin: 0 auto;
            align-self: center;
            justify-self: center;
        }
    }

    &__text {
        align-self: end; // important
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 1px;

        @media screen and (max-width: 1024px) {
            font-size: 11px;
        }
    }

    &__icon {
        align-self: start; // important
        margin: 0 auto;
        padding: 0;
        width: 30px;

        @media screen and (max-width: 1024px) {
            width: 18px;
        }

        img {
            margin: 0 auto;
            padding: 0;
            width: 30px;

            @media screen and (max-width: 1024px) {
                width: 10px;
            }
        }
    }
}

// sitemap

.sitemap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    a {
        border-bottom: 2px solid #82e0aa;
        align-self: flex-start;
        transition: border 0.3s;

        &:hover {
            border-bottom: 2px solid black;
        }
    }

    &__parent {
        font-size: 20px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 10px;

        & + .sitemap__parent {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &__child {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

// puffin

.puffin {
    height: 30%;
    width: 30%;
}

// press

.press {
    & > *:not(h1) {
        padding: 0 15vw;

        &:last-child {
            @include customVar(background-color, paletteColor1);
            padding-top: 50px;
            padding-bottom: 50px;
        }

        @media screen and (max-width: 1024px) {
            padding: 0 15px;
        }
    }

    & > .button {
        padding: 0 22px;
    }

    // &__grid {
    //     display: grid;
    //     grid-template-columns: 2fr 1fr;
    //     grid-gap: 20px 20px;

    //     & > * {
    //         border: 2px dotted red;
    //     }
    // }
}

// pagination

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__item {
        @include customVar(border-color, clrBlack);
        @include customVar(font-family, fontSecondary);
        border-style: solid;
        border-width: 2px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        height: 50px;
        line-height: 48px;
        margin: 0 10px;
        //padding: 10px;
        text-align: center;
        width: 50px;
    }
}
