// ----------FORMS and FORM ELEMENTS; custom form elements

form {
    width: 100%;
}

label {
    @include customVar(font-family, fontSecondary);
    display: block;
    font-size: 19px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;

    @media screen and (max-width: 1600px) {
        font-size: 18px;
    }
}

button,
input,
select {
    @include customVar(background-color, transparent);
    @include customVar(border-color, clrBlack);
    @include customVar(color, clrBlack);
    @include customVar(font-family, fontPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    height: 54px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 24px;
    text-align: center;
    width: auto;
    transition: all 0.5s;
    width: 100%;

    &:active,
    &:focus {
        @include customVar(background-color, clrFocus);
        @include customVar(color, clrBlack);
        height: 54px;
        line-height: 50px;
        outline: none !important;
        width: 100%;
    }

    &:disabled {
        @include customVar(border-color, clrAccent);
        border: 2px solid #666;
    }
}

.button {
    @include customVar(background-color, transparent);
    @include customVar(border-color, clrBlack);
    @include customVar(color, clrBlack);
    @include customVar(font-family, fontPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    font-weight: 500;
    height: 54px;
    line-height: 50px;
    transition: all 0.5s;

    &:hover {
        @include customVar(background-color, clrBlack);
        @include customVar(border-color, clrBlack);
        @include customVar(color, clrWhite);
        height: 54px;
        line-height: 50px;
    }

    // modifiers (types of buttons)

    &--primary {
        @include customVar(background-color, clrAccent);
        @include customVar(border-color, clrAccent);
        @include customVar(color, clrWhite);
        text-align: center !important;
    }

    &--secondary {
        // @include customVar(background-color, clrDark);
        // @include customVar(border-color, clrDark);
        // @include customVar(color, clrWhite);
        // font-weight: 400;
        // text-align: center !important;
    }

    &--cta {
        @include customVar(background-color, transparent);
        @include customVar(border-color, clrAccent);
        @include customVar(color, clrBlack);
    }

    // modifiers (sizes of buttons)

    &--xl {
        display: inline-block;
        font-size: 32px;
        font-weight: 400;
        padding: 17px 46px;

        @media screen and (max-width: 1600px) {
            font-size: 26px;
            font-weight: 600;
            padding: 10px 30px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 24px;
            font-weight: 500;
            padding: 10px 30px;
        }
    }

    &--lg {
        display: inline-block;
        font-size: 26px;
        font-weight: 500;
        height: 80px;
        line-height: 78px;
        padding: 0 46px;

        &:hover {
            height: 80px;
            line-height: 78px;
        }

        @media screen and (max-width: 1600px) {
            font-size: 26px;
            font-weight: 600;
            padding: 0 30px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 24px;
            font-weight: 500;
        }
    }

    &--md {
        font-size: 18px;
        font-weight: 600;
        padding: 0 46px;

        @media screen and (max-width: 1024px) {
            font-size: 16px;
            padding: 10px 27px;
        }
    }

    &--sm {
        font-size: 16px;
        font-weight: 500;
        line-height: 36px;
        min-height: 34px;
        padding: 0 40px;

        @media screen and (max-width: 1024px) {
            font-size: 14px;
        }
    }

    &--xs {
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        line-height: 38px;
        padding: 0 22px;
        width: auto;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }

        &:active,
        &:focus,
        &:hover {
            height: 40px;
            line-height: 38px;
            width: auto;
        }
    }

    &--xxs {
        font-size: 14px;
        font-weight: 700;
        min-height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--mega {
        @include customVar(background-color, clrAccent);
        @include customVar(font-family, fontSecondary);
        font-size: 44px;
        font-weight: 300;
        margin: 0 20px;
        padding: 36px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }

        &:hover {
            @include customVar(background-color, clrPrimary);
            @include customVar(border-color, clrPrimary);
        }
    }

    // modifiers (helpers)

    &--centered {
        display: block;
        margin: 0 auto;
        width: fit-content;
    }

    // special cases

    &--link {
        background-image: url(../images/iconChevronRight.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 7px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        height: 44px;
        line-height: 40px;
        padding: 0 45px 0 22px;
        text-align: left;

        &:hover {
            background-image: url(../images/iconChevronWhiteRight.png);
        }

        &:hover,
        &:active,
        &:focus {
            height: 44px;
            line-height: 40px;
        }
    }

    &--dropdown {
        background-image: url(../images/iconChevronDown.png);
        background-position: right 20px center;
        background-repeat: no-repeat;
        background-size: 15px;
        font-weight: 600;
        padding-right: 50px;
        text-align: left;

        &:hover {
            background-image: url(../images/iconChevronWhiteDown.png);
        }

        &:active,
        &:focus {
            @include customVar(background-color, clrBlack);
            @include customVar(color, clrWhite);
            background-image: url(../images/iconChevronWhiteUp.png);
        }

        &:disabled {
            background-image: url(../images/iconChevronDisabledDown.png);
            @include customVar(border-color, paletteColor1);
            @include customVar(color, paletteColor2);
            border-style: solid;
            border-width: 2px;
            pointer-events: none;
        }
    }

    &--close {
        background-image: url(../images/iconClose.png);
        background-position: right 20px center;
        background-repeat: no-repeat;
        background-size: 10px;
        padding: 0 45px 0 20px;
        font-weight: 600;
        text-align: left;

        &:hover {
            background-image: url(../images/iconCloseWhite.png);
        }

    }

    // elements

    &__text {
        padding-bottom: 4px;
        text-align: center;
    }

    &__icon {
        background-repeat: no-repeat;
        background-size: 16px;

        &--lock {
            background-image: url(../images/iconLock.png);
            background-size: contain;
            height: 22px;
            padding-right: 5px;
            width: 17px;
        }
    }
}

input {
    text-align: left;
    &[type="date"],
    &[type="time"] {
        font-weight: 600;
    }

    &[type="submit"] {
    }
}

.input {
    &--search {
        background-image: url(../images/iconSearchRight.png);
        background-position: left 20px center;
        background-repeat: no-repeat;
        background-size: 17px;
        padding-left: 50px;

        &:disabled {
            background-image: url(../images/iconSearchDisabledRight.png);

            ::placeholder {
                @include customVar(color, paletteColor3);
                font-size: inherit;
            }
        }
    }

    &--active {
        @include customVar(background-color, clrFocus);
    }

    &:disabled {
        @include customVar(border-color, paletteColor1);
        @include customVar(color, paletteColor2);
        border-style: solid;
        border-width: 2px;
        pointer-events: none;

        ::placeholder {
            @include customVar(color, paletteColor2);
            font-size: inherit;
        }
    }
}

select {
    font-size: 16px;
    font-weight: 500;
    padding: 0 11px;
}

textarea {
    @include customVar(background-color, clrWhite);
    @include customVar(border-color, clrBlack);
    @include customVar(font-family, fontPrimary);
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-width: 2px;
    min-height: 25vh;
    padding: 15px;
    width: 100%;

    &:focus,
    &:active {
        padding: 15px;
    }
}

// select {
//     @extend input;
//     @include customVar(background-color, clrWhite);
//     @include customVar(border-color, clrBlack);
//     @include customVar(font-family, fontPrimary);
//     border-style: solid;
//     border-width: 2px;
//     border-radius: 50px;
//     box-sizing: content-box;
//     font-size: 16px;
//     font-weight: 600;
//     line-height: 2;
//     padding: 7px 21px;

//     &:focus,
//     &:active {
//         background: #eee8aa;
//         @include customVar(background-color, clrFocus);
//         @include customVar(border-color, clrBlack);
//         border-style: solid;
//         border-width: 2px;
//         border-radius: 50px;
//         outline: none !important;
//     }

//     &:disabled {
//         @include customVar(border-color, paletteColor1);
//         @include customVar(color, paletteColor2);
//         border-style: solid;
//         border-width: 2px;
//         pointer-events: none;

//         ::placeholder {
//             @include customVar(color, paletteColor2);
//             font-size: inherit;
//         }
//     }

//     option {
//         font-weight: 500;
//         padding: 15px;
//     }
// }

// PLACEHOLDERS

::placeholder {
    color: #666;
    font-size: inherit;

    &:focus,
    &:active {
        @include customVar(color, clrDark);
    }
}

input:focus::-webkit-input-placeholder {
    @include customVar(color, clrDark);
}

/* Firefox < 19 */

input:-moz-placeholder {
}

input:focus:-moz-placeholder {
    @include customVar(color, clrDark);
}

/* Firefox > 19 */
input::-moz-placeholder {
}

input:focus::-moz-placeholder {
    @include customVar(color, clrDark);
}

//----------------------------------------custom form elements

// FILTER & filter-box

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    width: 100%;

    h2 {
        @include customVar(font-family, fontPrimary);
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        overflow-wrap: break-word;
        width: auto;

        span {
            font-weight: 600;
        }

        small {
            font-size: 11px;
            font-weight: 600;
            margin-left: 4px;
            overflow-wrap: break-word;
        }
    }

    h3 {
        @include customVar(font-family, fontPrimary);
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }

    label {
        @include customVar(font-family, fontSecondary);
        color: #666;
        font-size: 14px;
        font-weight: 600;
        padding-left: 30px;
    }
}

.select-box {
    position: relative;
    width: 100%;

    &__field {
        display: none;
        margin-top: 10px;
        position: absolute;
        width: 100%;

        &--show {
            display: block;
        }

        &--tall {
            height: 40vh;
            margin-top: 10px;
            overflow-y: scroll;
        }
    }

    &__stripe {
        @include customVar(background-color, clrFocus);
        @include customVar(border-bottom-color, clrWhite);
        @include customVar(color, clrBlack);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        font-size: 16px;
        font-weight: 600;
        overflow-wrap: break-word;
        padding: 15px;

        &:hover {
            @include customVar(background-color, paletteColor1);
            cursor: pointer;
        }

        &:last-child {
            @include customVar(border-bottom-color, transparent);
        }
    }

    &__details {
        margin-top: 10px;

        &:empty {
            margin: 0;
        }
    }
}
