// ----------FORMS and FORM ELEMENTS; custom form elements

form {
    width: 100%;

    label {
        @include customVar(font-family, fontSecondary);
        display: block;
        font-size: 19px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 5px;

        @media screen and (max-width: 1600px) {
            font-size: 18px;
        }
    }

    input {
        @include customVar(background-color, clrWash);
        @include customVar(border-color, clrDark);
        @include customVar(font-family, fontPrimary);
        border-style: solid;
        border-width: 2px;
        border-radius: 50px;
        display: block;
        font-size: 18px;
        font-weight: 500;
        padding: 12px 24px 9px;
        width: 100%;

        &:disabled {
            @include customVar(border-color, clrAccent);
            border: 2px solid #666;
        }

        &:active,
        &:focus {
            padding: 12px 18px 9px;
        }

        &[type="date"],
        &[type="time"] {
            font-weight: 600;
        }

        &[type="submit"] {
            @include customVar(font-family, fontSecondary);
            float: right;
            font-size: 24px;
            font-weight: 500;
            font-weight: 400;
            padding: 14px 24px;
        }

        @media screen and (max-width: 1024px) {
            margin: 5px 0 20px;
        }

        .form__group--light & {
            @include customVar(background-color, clrWhite);
        }
    }

    textarea {
        @include customVar(background-color, clrWhite);
        @include customVar(border-color, clrBlack);
        @include customVar(font-family, fontPrimary);
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-width: 2px;
        min-height: 25vh;
        padding: 15px;
        width: 100%;

        &:focus,
        &:active {
            padding: 15px;
        }
    }

    select {
        @extend input;
        @include customVar(background-color, clrWhite);
        @include customVar(font-family, fontPrimary);
        font-size: 16px;
        font-weight: 500;
        padding: 7px 11px;

        &:focus,
        &:active {
            border: none;
            outline: none !important;
            margin: 5px;
            padding: 5px;
        }
    }
}

button {
    @include customVar(color, clrBlack);
}

select {
    @extend input;
    @include customVar(background-color, clrWhite);
    @include customVar(border-color, clrBlack);
    @include customVar(font-family, fontPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    box-sizing: content-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    padding: 7px 21px;

    &:focus,
    &:active {
        background: #eee8aa;
        @include customVar(background-color, clrFocus);
        @include customVar(border-color, clrBlack);
        border-style: solid;
        border-width: 2px;
        border-radius: 50px;
        outline: none !important;
    }

    &:disabled {
        @include customVar(border-color, paletteColor1);
        @include customVar(color, paletteColor2);
        border-style: solid;
        border-width: 2px;
        pointer-events: none;

        ::placeholder {
            @include customVar(color, paletteColor2);
            font-size: inherit;
        }
    }

    option {
        font-weight: 500;
        padding: 15px;
    }
}

input {
    @extend select;
    padding: 9px 15px;
}

// PLACEHOLDERS

::placeholder {
    color: #666;
    font-size: inherit;

    &:focus,
    &:active {
        @include customVar(color, clrDark);
    }
}

input:focus::-webkit-input-placeholder {
    @include customVar(color, clrDark);
}

/* Firefox < 19 */

input:-moz-placeholder {
}

input:focus:-moz-placeholder {
    @include customVar(color, clrDark);
}

/* Firefox > 19 */
input::-moz-placeholder {
}

input:focus::-moz-placeholder {
    @include customVar(color, clrDark);
}

//----------------------------------------custom form elements

.form {
    &__group {
        margin-bottom: 30px;
    }

    &__input {
        &--light {
            @include customVar(background-color, clrWhite);
        }
    }

    &__grid {
        display: grid;
        align-items: center;

        &--4 {
            grid-template-columns: 3fr 1fr 1fr 2fr;
            grid-gap: 10px;
        }

        &--3 {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            @media screen and (max-width: 1024px) {
                grid-template-columns: 1fr;
            }
        }

        &--2 {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            & > {
                border: 1px solid red;
                margin: 0;
            }
        }

        &--bss {
            // big small small
            grid-template-columns: 3fr 1fr 1fr;
            grid-gap: 10px 10px;
            margin-top: 5px;

            & > * {
                align-self: center;
                justify-self: stretch;
                margin: 0;
            }
        }

        &--bs {
            // big small
            grid-template-columns: 3fr 1fr;
            grid-gap: 10px 10px;
            margin-top: 5px;

            & > * {
                align-self: center;
                justify-self: stretch;
                margin: 0;
            }
        }

        &--bxxs {
            // big small
            grid-template-columns: 3fr 1fr 1fr 2fr;
            grid-gap: 10px 10px;
            margin-top: 5px;

            & > * {
                align-self: center;
                justify-self: stretch;
                margin: 0;
            }
        }

        & > * {
            // align-self: stretch;
            // justify-self: stretch;
        }
    }
}

.search {
    background-image: url(../images/iconSearch.png);
    background-position: right 12px center;
    background-repeat: no-repeat;
    background-size: 17px;
}

.error-message {
    //@include customVar(color, #ff0000);
    color: red;
    font-size: 14px;
    font-weight: 700;
}

.menu-search {
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }

    input {
        margin-right: 20px;
        width: 40%;
    }

    & > form > * {
        justify-self: center;
    }
}

// FILTER & SEARCH-BOX

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    width: 100%;

    & > * {
        // border: 1px solid blue;
    }
}

.search-box {
    position: relative;
    width: 100%;

    &__input {
        background-image: url(../images/iconSearchRight.png);
        background-position: left 15px center;
        background-repeat: no-repeat;
        background-size: 17px;
        padding-left: 42px;
        width: calc(100% - 60px);

        &--active {
            @include customVar(background-color, clrFocus);
        }

        &:focus {
            @include customVar(background-color, clrFocus);
            // background-image: url(../images/iconSearch.png);
            // background-position: right 10px center;
            // background-repeat: no-repeat;
            // background-size: 20px;
            @extend .search-box__input;
        }

        &:disabled {
            background-image: url(../images/iconSearchDisabledRight.png);
            @include customVar(border-color, paletteColor1);
            @include customVar(color, paletteColor2);
            border-style: solid;
            border-width: 2px;
            pointer-events: none;

            ::placeholder {
                @include customVar(color, paletteColor2);
                font-size: inherit;
            }
        }
    }

    &__field {
        display: none;
        margin-top: 10px;
        position: absolute;
        width: 100%;

        &--show {
            display: block;
        }
    }

    &__stripe {
        @include customVar(background-color, clrFocus);
        @include customVar(border-bottom-color, clrWhite);
        @include customVar(color, clrBlack);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        font-size: 16px;
        overflow-wrap: break-word;
        padding: 15px;

        &:hover {
            @include customVar(background-color, paletteColor1);
            cursor: pointer;
        }
    }

    &__details {
        margin-top: 10px;

        &:empty {
            margin: 0;
        }
    }

    h2 {
        @include customVar(font-family, fontPrimary);
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        overflow-wrap: break-word;
        width: auto;

        span {
            font-weight: 600;
        }

        small {
            font-size: 11px;
            font-weight: 600;
            margin-left: 4px;
            overflow-wrap: break-word;
        }
    }

    h3 {
        @include customVar(font-family, fontPrimary);
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
}
