// ----------GRAPHS & Maps

// infographics

.infographics {
    @include customVar(background-color, clrWhite);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0;
    justify-items: center;
    align-items: center;

    margin: 0 auto 75px;
    text-align: center;

    @media screen and (max-width: 1600px) {
        grid-template-columns: 1fr;
        margin: 0;
        width: 110px;

        position: fixed;
        position: absolute;
        top: 100px;
        left: 0;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(4, auto);
        grid-gap: 0;
        justify-items: center;
        align-items: center;

        margin: 0 auto 25px;
        position: static;
        text-align: center;
        width: 100%;
    }

    & > * {
        display: inline-block;
        align-self: stretch;
        justify-self: stretch;
    }

    &__figure {
        padding: 0 25px;
        text-align: center;

        @media screen and (max-width: 1600px) {
            padding: 15px 0;
        }
    }

    &__image {
        background-color: #a3e4d7;
        border-radius: 100%;
        margin: 0 auto 5px;
        width: auto;
        height: 60px;
        width: 60px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
        }

        @media screen and (max-width: 1600px) {
            margin: 0 auto 5px;
            height: 50px;
            width: 50px;
        }
    }

    &__img {
        width: 30px;

        &--sm {
            width: 25px;
        }

        &--lg {
            width: 30px;
        }

        @media screen and (max-width: 1600px) {
            width: 25px;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 700;

        @media screen and (max-width: 1600px) {
            font-size: 13px;
            line-height: 1.3;
        }

        b {
            @include customVar(font-family, fontSecondary);
            font-size: 18px;
            font-weight: 800;

            @media screen and (max-width: 1600px) {
                font-size: 16px;
            }
        }

        br {
            display: none;

            @media screen and (max-width: 1600px) {
                display: block;
            }
        }
    }
}

// graphs

$graphColor1: #73948b;
$graphColor2: #9bbbad;
$graphColor3: #be424d;
$graphColor4: #e2878e;
$graphColor5: #736574;
$graphColor6: #3c1434;

// colors from http://www.mulinblog.com/a-color-palette-optimized-for-data-visualization/

.chart {
    background: conic-gradient(
        $graphColor1 4%,
        $graphColor2 0 8%,
        $graphColor3 0 17%,
        $graphColor4 0 48%,
        $graphColor5 0 54%,
        $graphColor6 0
    );
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
}

.key {
    border-collapse: separate;
    display: table;
    float: right;
    list-style: none;
    padding: 0;
    width: 100%;

    > li {
        display: table-row;

        > * {
            display: table-cell;
            //border-bottom: 12px solid white;
            font-weight: 600;
            padding-left: 20px;
            text-align: left;
        }
    }
}

.percent {
    color: white;
    padding: 10px 2px;
    text-align: center;
    //text-shadow: 0 1px 0 black;
}

.choice {
    padding-left: 10px;
}

.graph-color1 {
    background: $graphColor1;
    color: black;
}

.graph-color2 {
    background: $graphColor2;
    color: black;
}

.graph-color3 {
    background: $graphColor3;
    color: black;
}

.graph-color4 {
    background: $graphColor4;
    color: white;
}

.graph-color5 {
    background: $graphColor5;
    color: white;
}

.graph-color6 {
    background: $graphColor6;
    color: white;
}

// map

.map-wrapper {
    position: relative;
    z-index: 1000;
    margin: 0 -30px;
}

.map {
    height: 100vh;
    width: 100%;

    @media screen and (max-height: 1440px) {
        height: 90vh;
    }

    @media screen and (max-height: 900px) {
        height: 130vh;
    }

    &--small {
        height: 60vh;
        width: 100%;
    }
}

.ol-zoom {
    & > * {
        @include customVar(background-color, clrBlack);
        @include customVar(color, clrWhite);
        @include customVar(font-family, fontAccent);
        border: none;
        display: block;
        font-size: 30px;
        margin: 5px 0;
        height: 40px;
        width: 40px;
    }
}

.ol-rotate {
    @extend .ol-zoom;
    display: none;
}

.ol-attribution {
    display: none;
}

.live-data {
    @include customVar(background-color, clrAqua5);
    @include customVar(color, clrWhite);
    @include customVar(font-family, fontAccent);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2000;
}
