// ----------HELPERS

.emphasized {
  @include customVar(font-family, fontAccent);
  display: block;
  font-size: 62px;
  font-weight: 900;
}

.design {
  & > * {
    display: block;
    margin-bottom: 10px;
  }
}

.italics {
  font-style: italic;
  font-weight: 300;
}

.text-italics {
  font-style: italic;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-overflow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.alignright {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.alignmiddle {
  display: inline-block;
  vertical-align: middle;
}

.aligncenter {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}

.body-text {
  margin-bottom: 0;
  width: 70ch;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  figcaption & {
    font-size: 20px;
    text-align: left;
  }
}

.forward {
  background-image: url(../images/iconChevronRight.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 10px;
  margin-left: 10px;
  padding-right: 20px;
}

.hidden {
  &--desktop {
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  &--mobile {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.styleless {
  border: none;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.message {
  font-size: 20px;
  font-weight: 600;
}

.desktop {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.mobile {
  @media screen and (min-width: 1025px) {
    display: none;
  }
}
