// ----------LAYOUT

.layout {
    @include customVar(background-color, backgroundColor);
    @include customVar(background-color, clrWhite);
    width: 100%;

    & > * {
        //border: 1px dotted red;
    }

    &__header {
    }

    &__footer {
        @include customVar(background-color, paletteColor0);
        margin-top: 100px;
        width: 100%;
    }

    &__main {
        @include customVar(background-color, clrWhite);

        @media screen and (max-width: 1600px) {
            min-height: 80vh;
        }

        @media screen and (max-width: 900px) {
            display: block;
        }
    }
}

// header

.header {
    @include customVar(background-color, clrLayout);
    display: grid;
    grid-template-columns: 3fr auto 80px 136px;
    grid-template-rows: 80px;
    grid-template-areas: "headerLogo headerLanguageSwitcher headerDashboard headerMainMenu";
    gap: 0 30px;
    padding: 0 30px;
    width: 100%;

    @media screen and (max-width: 1023px) {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 70px;
        grid-template-areas: "headerLogo headerMainMenu";
        grid-gap: 0;
        padding: 0 15px;
    }

    &__cell {
        // border: 1px solid red;
        align-self: stretch;
        justify-self: stretch;

        &--logo {
            grid-area: headerLogo;

            @media screen and (max-width: 1024px) {
            }
        }

        &--language {
            align-self: center;
            grid-area: headerLanguageSwitcher;
            justify-self: end;
            width: 101px;

            @media screen and (max-width: 1023px) {
                display: none;
            }
        }

        &--dashboard {
            align-self: center;
            grid-area: headerDashboard;
            justify-self: end;
            text-align: center;
            width: 100px;

            @media screen and (max-width: 1023px) {
                display: none;
            }
        }

        &--menu {
            align-self: center;
            grid-area: headerMainMenu;
            justify-self: end;

            @media screen and (max-width: 1024px) {
            }
        }
    }
}

// subheader

.subheader {
    padding: 10px 30px;
    text-align: right;

    @media screen and (min-width: 1201px) {
        //display: none;
    }
}

// navigation

.hamburger {
    @include customVar(background-color, transparent);
    @include customVar(border-color, clrBlack);
    @include customVar(color, clrBlack);
    @include customVar(padding-right, paddingStd);
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 55px;
    line-height: 53px;
    padding: 0 22px;
    width: 136px;

    @media screen and (max-width: 1024px) {
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
        width: auto;
    }

    // active, focus & hover

    &:active,
    &:focus {
        background-color: transparent;
        height: 55px;
        line-height: 53px;
        outline: 2px dotted black !important;
        @include customVar(outline-color, clrBlack);
        //outline-offset: 3px;
    }

    &:hover {
        @include customVar(background-color, transparent);
        @include customVar(border-color, transparent);
        @include customVar(color, clrBlack);
        height: 55px;
        line-height: 53px;
    }

    // childs & elements

    & > * {
        align-self: center;
        justify-self: center;
    }

    &__text {
        font-size: 17px;
        font-weight: 600;

        @media screen and (max-width: 1024px) {
            font-size: 15px;
            padding-top: 2px;
            padding-right: 3px;
        }
    }

    &__box {
        justify-self: end;
    }

    &__inner {
        &,
        &::before,
        &::after {
            @include customVar(background-color, clrBlack);

            .hamburger:hover & {
                @include customVar(background-color, clrBlack);
            }
        }
    }
}

.menu {
    @include customVar(background-color, clrLayout);
    position: absolute;
    top: -1000vh;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000000;
    transform: translateY(-1500vh); /*change here related your menu height*/

    @media screen and (max-width: 1024px) {
        min-height: 100vh;
        overflow-y: scroll;
        padding: 30px 15px;
    }

    &--open {
        top: 80px;
        transform: translateY(0);
        visibility: visible;

        @media screen and (max-width: 1024px) {
            top: 70px;
        }
    }

    &__footer {
        padding: 30px;

        @media screen and (max-width: 1024px) {
            padding: 15px 0;
        }
    }
}

.navigation {
    padding: 60px 30px 0;

    @media screen and (max-width: 1200px) {
        padding: 45px 30px 0;
    }

    @media screen and (max-width: 1024px) {
        padding: 20px 0;
    }

    // modifiers

    &--primary {
        // @include customVar(background-color, clrLayout);
    }

    &--top {
        padding: 0 0 20px;
        text-align: right;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &--special {
        //padding: 0;

        @media screen and (min-width: 1024px) {
        }
    }

    // elements

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 50px;
        margin: 0 auto;
        max-width: 100vw;
        padding: 0;

        @media screen and (max-width: 1921px) {
            grid-gap: 0 50px;
        }

        @media screen and (max-width: 1600px) {
            grid-gap: 60px 30px;
        }

        @media screen and (max-width: 1366px) {
            grid-gap: 0 30px;
        }

        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-gap: 20px 0;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-gap: 40px 0;
        }
    }

    &__item {
    }

    &__heading {
        font-size: 28px;
        font-size: 32px;
        font-size: 34px;
        font-weight: 400;
        font-weight: 500;
        margin: 0 0 20px;

        @media screen and (max-width: 1920px) {
            font-size: 28px;
        }

        @media screen and (max-width: 1600px) {
            font-size: 26px;
        }

        @media screen and (max-width: 1200px) {
            margin: 30px 0 10px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 24px;
            margin: 0 0 5px;
        }
    }

    &__heading-link {
        &::before,
        &:before {
            background-image: url(../images/iconChevronRight.png);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            display: inline-block;
            margin-top: -7px;
            margin-right: 6px;
            vertical-align: middle;
            height: 14px;
            width: 8px;

            @media screen and (max-width: 1024px) {
                margin-right: 4px;
                height: 11px;
                width: 6px;
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-self: stretch;

        &--primary {
            @media screen and (max-width: 1200px) {
                padding: 0 0 30px;
            }

            @media screen and (max-width: 1024px) {
                padding: 5px 0 15px;
            }
        }

        &--secondary {
            @media screen and (max-width: 1024px) {
                display: none !important;
            }
        }

        &--special {
            @media screen and (max-width: 1024px) {
                margin-top: 15px;
            }
        }
    }

    &__link {
        @include customVar(border-bottom-color, paletteColor1);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border: none;
        align-self: stretch;
        justify-self: stretch;
        padding: 5px 0;
        text-decoration: none;

        @media screen and (max-width: 1920px) {
            font-size: 19px;
        }

        // modifiers

        &--primary {
            display: block;
        }

        &--secondary {
            @media screen and (max-width: 1200px) {
                display: none;
            }

            @media screen and (max-width: 1024px) {
                display: none;
            }
        }

        &--special {
            border: none;
            font-weight: 600;
            padding: 0 0 7px;

            &::before {
                content: none !important;
            }

            @media screen and (max-width: 1024px) {
                padding: 0 0 5px;
            }
        }

        // pseudo elements

        &::before,
        &:before {
            background-image: url(../images/iconChevronRight.png);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            display: inline-block;
            margin-top: -7px;
            margin-right: 12px;
            vertical-align: middle;
            height: 14px;
            width: 8px;
            // display: none;

            @media screen and (max-width: 1024px) {
                margin-right: 9px;
                height: 11px;
                width: 6px;
            }
        }

        // current location

        .navigation--top & {
            @include customVar(background-color, clrBlack);
            @include customVar(border-color, clrBlack);
            @include customVar(color, clrWhite);
            background-position: left 20px center;
            background-repeat: no-repeat;
            background-size: 15px;
            border-style: solid;
            border-width: 2px;
            border-radius: 50px;
            // border-bottom-right-radius: 0;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 0 30px;
            padding: 5px 20px 5px 45px;

            &::before,
            &:before {
                display: none;
            }

            &::after,
            &:after {
                content: "";
                margin: 0;
            }

            &:hover:after {
                width: 100%;
            }
        }
    }

    &__label {
        display: inline-block;
        font-size: 20px;

        @media screen and (max-width: 1921px) {
            font-size: 18px;
        }

        @media screen and (max-width: 1600px) {
            font-size: 17px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 17px;
        }

        &::after,
        &:after {
            @include customVar(background-color, clrBlack);
            content: "";
            display: block;
            height: 3px;
            margin-top: -3px;
            transition: width 0.3s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
        }

        .navigation--top & {
            font-size: 17px;
            font-weight: 500;

            @media screen and (max-width: 1024px) {
                font-size: 15px;
            }
        }

        .navigation--extra & {
            font-size: 15px;
            font-weight: 600;

            @media screen and (max-width: 1024px) {
                font-size: 15px;
            }
        }
    }
}

// logo

.logo {
    @include customVar(font-family, fontSecondary);
    border: none;
    font-size: 26px;
    font-weight: 400;
    height: 100%;
    line-height: 1;
    text-transform: uppercase;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__image {
        background-image: url(../images/logos/artsobservasjoner6.png);
        background-image: url(../images/logos/artsobservasjoner7.png);
        background-image: url(../images/logos/artsobs.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 10px;

        height: 50px;
        width: 50px;

        @media screen and (max-width: 1600px) {
            height: 48px;
            width: 48px;
        }

        @media screen and (max-width: 1200px) {
            margin-right: 5px;
            height: 36px;
            width: 36px;
        }

        @media screen and (max-width: 1024px) {
            margin-right: 5px;
            height: 28px;
            width: 28px;
        }
    }

    &__link {
        line-height: 1;
        margin-top: 2px;
        padding: 0;
        vertical-align: middle;
        width: 100%;

        @media screen and (max-width: 1600px) {
            font-size: 28px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 20px;
            font-weight: 500;
        }

        @media screen and (max-width: 1024px) {
            font-size: 16px;
        }

        &:hover {
            border: none;
        }
    }
}

// footer

.footer {
    @include customVar(background-color, clrLayout);
    padding: 45px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 0;

        @media screen and (max-width: 900px) {
            display: block;
        }
    }

    &__column {
    }

    h1 {
        font-size: 28px;
        font-weight: 500;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
    }

    button {
        display: inline-block;
        font-weight: 500;
    }

    a {
        font-size: 18px;
        font-weight: 600;
    }
}

// MAIN

main {
    // se grid
    min-height: 75vh;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start; // important, do not remove
    margin: 0 auto;
    padding: 60px 30px;
    width: 100%;

    grid-template-areas: ". pageTitle  ." ". component ." ". router .";

    &--page {
        grid-template-columns: 1fr 5fr 1fr;
    }

    &--landing {
        grid-template-columns: 1fr 3fr 1fr;

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 6fr 1fr;
        }
    }

    &--spa {
        grid-template-columns: 1fr 8fr 1fr;
    }

    &--full-width {
        display: block;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: -100px;

        @media screen and (max-width: 1200px) {
        }
    }

    &--frontpage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "pageTitle" "component" "router";
        padding: 0 !important;
    }

    // text and article are similar, but article will have wider pictures/images

    &--text {
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-areas: ". component ." ". router .";
        grid-template-rows: auto;

        @media screen and (max-width: 1921px) {
            grid-template-columns: 1fr 2fr 1fr;
        }

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 3fr 1fr;
        }

        @media screen and (max-width: 1300px) {
            grid-template-columns: 1fr 8fr 1fr;
        }
    }

    &--article {
        @extend .main-grid--text;
    }

    &--wide {
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: repeat(4, auto);

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 12fr 1fr;
        }
    }

    & > * {
        align-self: stretch;
        justify-self: stretch;

        // @media screen and (max-width: 1900px) {
        //     border: 2px solid red;
        // }

        // @media screen and (max-width: 1600px) {
        //     border: 2px solid blue;
        // }

        // @media screen and (max-width: 1200px) {
        //     border: 2px solid green;
        // }

        // @media screen and (max-width: 900px) {
        //     border: 2px dotted fuchsia;
        // }
    }

    & > *:nth-child(1) {
        grid-area: pageTitle;
    }

    & > *:nth-child(2) {
        grid-area: router;
    }

    & > *:nth-child(3) {
        grid-area: component;
    }

    // @media screen and (max-width: 1600px) {
    //     grid-template-columns: 1fr 7fr 1fr;
    // }

    @media screen and (max-width: 1024px) {
        display: block;
        padding: 45px 15px;
        padding: 0 15px;
    }
}

// page & child pages

.page {
    width: 100%;

    // elements
    &__header {
        @media screen and (max-width: 1200px) {
        }

        h2 {
            margin: 0;
        }
    }

    &__intro {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 60px;

        @media screen and (max-width: 1200px) {
            font-size: 19px;
            font-weight: 700;
            line-height: 1.2;
            margin: 30px 0;
        }

        &:empty {
            margin: 0;
        }

        p {
            font-size: inherit;
            font-weight: inherit;
            line-height: 1.5;
            margin: 0;
            width: 47ch;

            @media screen and (max-width: 1200px) {
                width: 60ch;
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }

        br {
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
    }

    &__content {
        @media screen and (max-width: 1200px) {
            padding: 30px 0 0;
        }

        h3 {
            font-size: 22px;
        }
    }

    &__footer {
    }
}

.child {
    h2 {
        margin-bottom: 50px;
        width: 50ch;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
}

// grid

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    @media screen and (max-width: 1024px) {
        //grid-template-columns: 1fr;
    }

    // modifiers

    &--2 {
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--smxlg {
        grid-template-columns: 1fr 5fr;
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--2x4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        & > * {
            align-self: center;
        }
    }

    &--4 {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        & > * {
            align-self: center;
        }
    }

    // elements

    &__cell {
        &--left {
            align-self: start;
            justify-self: start;
        }

        &--right {
            align-self: start;
            justify-self: end;
        }
    }
}

/* for loops, list of elements... buttons, cards, teasers... etc*/

.loop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    & > * {
    }

    &--buttons {
        & > * {
            margin-bottom: 10px;
        }
    }

    &--left {
        & > * {
            margin-right: 10px;

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
    }

    &--right {
        & > * {
            margin-left: 10px;

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
    }

    &--center {
        text-align: center;

        & > * {
            margin: 0 10px;

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
    }

    &--intersections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px 25px;
        width: 100%;

        & > *,
        .intersection {
            width: 100%;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 25px 0;
        }
    }

    &--stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px;
        margin: 50px auto;

        & > * {
            width: 100%;
        }

        @media screen and (max-width: 1600px) {
            margin: 30px auto;
        }

        @media screen and (max-width: 1200px) {
            grid-gap: 0 30px;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-gap: 40px 0;
        }
    }

    &--stats-sm {
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &--news {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            display: block;
        }

        & > * {
            align-self: stretch;
            justify-self: stretch;
            margin: 15px 0;
            width: 30%;
            //width: 45%;

            @media screen and (max-width: 1024px) {
                display: block;
                margin: 0px 0 60px;
                width: 100%;
            }
        }
    }

    &--gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 30px;

        & > * {
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--2 {
        display: block;
        text-align: center;

        & > * {
            display: inline-block;
            margin: 0 10px;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--2x {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px 80px;
        align-items: stretch;
        justify-items: stretch;

        & > * {
        }

        @media screen and (max-width: 1366px) {
            grid-template-columns: 1fr;
        }

        @media screen and (max-width: 1024px) {
            grid-gap: 40px 0;
        }
    }

    &--2xx {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 20px;
        align-items: center;
        justify-items: start;

        & > * {
            align-self: end;
        }

        @media screen and (max-width: 1366px) {
            //grid-template-columns: 1fr;
        }

        @media screen and (max-width: 1024px) {
            grid-gap: 20px 0;
        }
    }

    &--filters {
        align-items: center;

        grid-gap: 10px;
        margin-top: 10px;

        & > * {
            margin-right: 10px;
        }

        @media screen and (max-width: 1024px) {
            grid-gap: 10px;
        }
    }
}

// frontpage

.frontpage {
    &__intro {
        background-image: url(../images/puffin.png);
        background-position: right 20% center;
        background-repeat: no-repeat;
        background-size: 18%;
        height: 45vh;
        padding: 0 10%;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1024px) {
            background-position: right 15px center;
            padding: 30px 15px;
        }
    }

    &__heading {
        @include customVar(color, clrBlack);
        font-size: 36px;
        font-weight: 300;
        line-height: 1.2;
        position: absolute;
        top: 25%;
        left: 50px;

        &::after,
        &:after {
            @include customVar(background-color, clrPrimary);
            border-radius: 10px;
            content: "";
            display: block;
            height: 13px;
            margin: -12px -10px;
            margin-top: -12px;
            width: auto;
        }

        @media screen and (max-width: 1024px) {
            display: inline-block;
            margin: -15px 0 45px;
            padding: 0;
            position: static;
            text-align: left;
        }
    }

    &__subheading {
        @include customVar(border-color, clrAqua2);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        display: inline-block;
        font-size: 24px;
        margin: 0 0 15px;
        font-weight: 400;
    }

    &__paragraph {
        @extend .text-overflow;
        font-size: 52px;
        font-weight: 300;
        line-height: 1.1;
        margin: 0 auto 15px;
        text-align: center;
        width: 24ch;

        @media screen and (max-width: 1024px) {
            font-size: 24px;
            font-weight: 400;
        }

        &--md {
            font-size: 38px;
            font-weight: 300;
            line-height: 1.3;
            margin: 0 auto 30px;
            width: 22ch;

            @media screen and (max-width: 1024px) {
                font-size: 29px;
                font-weight: 400;
            }
        }

        &--sm {
            width: 20ch;

            @media screen and (max-width: 1200px) {
                font-size: 28px;
                font-weight: 400;
                width: 75%;
            }
        }
    }

    a:not([class]) {
        font-size: 18px;
        font-weight: 600;
    }

    h2:not([class]) {
        line-height: 1;
        padding: 0;
    }

    &__section {
        //border: 1px solid red;
        display: flex;
        height: 45vh;
        padding: 0 10%;
        position: relative;
        align-items: center;
        justify-content: space-between;

        text-align: center;

        & > * {
            //border: 1px solid blue;
        }

        &:nth-child(even) {
            @include customVar(background-color, clrPrim1);
        }

        // @media screen and (max-width: 1600px) {
        //     padding-top: 50px;
        //     padding-bottom: 70px;
        // }

        @media screen and (max-width: 1400px) {
            //padding: 50px 100px 70px;
            height: 50vh;
        }

        @media screen and (max-width: 1200px) {
            //padding: 50px 100px 70px;
            height: 50vh;
        }

        @media screen and (max-width: 1024px) {
            display: block;
            height: auto;
            padding: 60px 30px;
        }

        &--column {
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 900px) {
            }
        }

        &--wide {
            @media screen and (max-width: 1200px) {
                padding: 0 5%;
            }

            @media screen and (max-width: 1024px) {
                padding: 60px 70px;
            }
        }

        &--narrow {
            padding: 0 18%;

            @media screen and (max-width: 1024px) {
                padding: 60px 70px;
            }
        }
    }
}

// breadcrumbs

.breadcrumbs {
    padding: 30px;
}

.breadcrumb {
    @include customVar(border-bottom-color, clrAccent);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;

    &--active {
        @include customVar(border-bottom-color, transparent);
    }
}
