// ----------REUSABLE (only for angular shareable / reusable components)

// animations

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    60% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1);
    }
}

// cards

.card {
    @include customVar(background-color, transparent);
    @include customVar(color, clrBlack);
    background-image: url(../images/iconChevronRight.png);
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-size: 11px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    display: block;
    padding: 20px 45px 20px 30px;
    text-align: left;

    // &--active {
    //     @include customVar(background-color, clrAqua4Original);
    //     @include customVar(border-color, clrAqua4Original);
    // }

    &:hover {
        @include customVar(background-color, clrBlack);
        @include customVar(border-color, clrBlack);
        @include customVar(color, clrWhite);
        background-image: url(../images/iconChevronWhiteRight.png);
    }

    @media screen and (max-width: 1024px) {
        background-position: right 20px center;
        background-repeat: no-repeat;
        background-size: 8px 14px;
        padding: 11px 30px 11px 20px;
    }

    // elements

    &__heading {
        @include customVar(font-family, fontPrimary);
        color: inherit;
        font-size: 21px;
        font-weight: 500 !important;
        order: 2;

        @media screen and (max-width: 1024px) {
            font-size: 17px;
            font-weight: 600 !important;
        }
    }

    &__text {
        font-size: 16px;
        margin-top: 60px;
        order: 3;
        text-align: left;
        display: none;
    }
}

/*button*/

.button {
    @include customVar(background-color, transparent);
    @include customVar(border-color, clrBlack);
    @include customVar(color, clrBlack);
    @include customVar(font-family, fontPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    // border-bottom-right-radius: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    min-height: 40px;
    padding: 0 22px;
    text-align: center;
    width: auto;

    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;

    // modifiers

    &--wide {
        width: 100%;
    }

    &--styleless {
        background: transparent !important;
        border: none !important;
        padding: none !important;
    }

    &--primary {
        @include customVar(background-color, clrBlack);
        @include customVar(border-color, clrBlack);
        @include customVar(color, clrWhite);
        text-align: center !important;
    }

    &--secondary {
        // @include customVar(background-color, clrDark);
        // @include customVar(border-color, clrDark);
        // @include customVar(color, clrWhite);
        // font-weight: 400;
        // text-align: center !important;
    }

    &--cta {
        @include customVar(background-color, clrPrimary);
        @include customVar(border-color, clrPrimary);
        @include customVar(color, clrWhite);
        padding: 12px 22px;
    }

    &--xl {
        display: inline-block;
        font-size: 32px;
        font-weight: 400;
        //line-height: 67px;
        //min-height: 76px;
        padding: 17px 46px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--md {
        font-size: 28px;
        font-weight: 400;
        line-height: 67px;
        min-height: 76px;
        padding: 0 36px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--sm {
        font-size: 15px;
        font-weight: 500;
        line-height: 36px;
        min-height: 34px;
        padding: 0 22px;

        @media screen and (max-width: 1024px) {
            font-size: 14px;
        }
    }

    &--xs {
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        min-height: initial;
        padding: 9px 22px 7px;
        width: auto;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--xxs {
        font-size: 14px;
        font-weight: 700;
        min-height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--mega {
        @include customVar(background-color, clrAccent);
        @include customVar(font-family, fontSecondary);
        font-size: 44px;
        font-weight: 300;
        margin: 0 20px;
        padding: 36px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }

        &:hover {
            @include customVar(background-color, clrPrimary);
            @include customVar(border-color, clrPrimary);
        }
    }

    &--dropdown {
        background-image: url(../images/iconChevronDown.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 15px;
        padding-right: 45px;
        text-align: left;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-image: url(../images/iconChevronWhiteDown.png);
        }
    }

    &--display {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px;
        margin-left: 7px;

        @media screen and (max-width: 1024px) {
            font-size: 0;
            height: 48px;
            width: 48px;
        }
    }

    &--display-1 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayMap.png);
        }
    }

    &--display-2 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayTable.png);
        }
    }

    &--display-3 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayGallery.png);
        }
    }

    &--filter {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayFilter.png);
            background-position: left 11px center;
            //background-size: 28px;
            font-size: 15px;
            padding-left: 42px;
            padding-right: 11px;
            width: auto;
        }
    }

    &--map {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px;
        font-size: 0;
        width: auto;

        @media screen and (max-width: 1024px) {
            background-size: 16px;
            padding: 0;
        }
    }

    &--map-1 {
        background-image: url(../images/iconMapMarker.png);

        &:hover {
            //background-image: url(../images/iconMapMarkerDark.png);
        }
    }

    &--map-2 {
        background-image: url(../images/iconMapGps.png);
        background-size: 24px;

        &:hover {
            //background-image: url(../images/iconMapGpsDark.png);
        }
    }

    // elements

    &__text {
        padding-bottom: 4px;
        text-align: center;
    }

    &__icon {
        background-repeat: no-repeat;
        background-size: 16px;

        &--lock {
            background-image: url(../images/iconLock.png);
            background-size: contain;
            height: 22px;
            padding-right: 5px;
            width: 17px;
        }
    }

    &:active,
    &:focus,
    &:hover {
        @include customVar(background-color, clrPrimary);
        @include customVar(background-color, clrPrimary);
        @include customVar(border-color, clrPrimary);
        @include customVar(color, clrWhite);
        border-style: solid;
        border-width: 2px;
    }
}

/*items / gallery*/

.item {
    @include customVar(background-color, paletteColor0);
    background-color: #e9f7ef;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__title {
        @include customVar(font-family, fontSecondary);
        font-size: 27px;
        font-size: 22px;
        font-weight: 500 !important;
        font-weight: 700 !important;
        padding: 10px 30px 0;
        order: 2;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 400 !important;
        padding: 0 30px 10px;
        margin: 5px 0 15px !important;
        order: 2;

        @media screen and (max-width: 1024px) {
            font-size: 18px;
        }
    }

    &__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 15px;
        padding: 0;
        min-height: 25vh;
        order: 1;

        &--1 {
            background-image: url(../images/gallery/panda.jpg);
        }

        &--2 {
            background-image: url(../images/gallery/leopard.jpg);
        }

        &--3 {
            background-image: url(../images/gallery/frog.jpg);
        }

        &--4 {
            background-image: url(../images/gallery/leopard2.jpg);
        }

        &--5 {
            background-image: url(../images/gallery/bear.jpg);
        }

        &--8 {
            background-image: url(../images/gallery/walrus.jpg);
        }

        &--noImg {
            @include customVar(background-color, paletteColor1);
            @include customVar(background-color, clrWash);
            background-image: url(../images/iconNoImage.png);
            background-size: 84px;
        }

        &--noImg1 {
            @include customVar(background-color, clrWash);
            background-image: url(../images/gallery/artPa.png);
            background-size: 128px;
        }

        &--noImg2 {
            @include customVar(background-color, clrWash);
            background-image: url(../images/gallery/artP.png);
            background-size: 68px;
        }

        &--noImg3 {
            @include customVar(background-color, clrWash);
            background-image: url(../images/gallery/artAR.png);
            background-size: 128px;
        }

        &--noImg7 {
            @include customVar(background-color, clrWash);
            background-image: url(../images/gallery/artOrca.png);
            background-size: 128px;
        }
    }

    &__copyright {
        font-size: 14px;
        font-weight: 600;
        height: 20px;
        line-height: 20px;
        margin: 15px 0 5px;
        order: 3;
        padding-left: 18px;
        position: relative;

        &::before {
            background-image: url(../images/iconUser.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            display: inline-block;
            display: block;
            line-height: 1;
            height: 12px;
            width: 15px;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }

    &__details {
        @include customVar(border-top-color, paletteColor1);
        border-top-color: #d1f2eb;
        border-top-style: solid;
        border-top-width: 2px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one one" "two three";
        font-size: 17px;
        font-weight: 700;
        padding: 15px 30px 30px;
        order: 3;

        & > * {
            //border: 1px solid green;
            align-self: center;

            &:nth-child(1) {
                grid-area: one;
                justify-self: stretch;
            }

            &:nth-child(2) {
                grid-area: two;
                justify-self: start;
            }

            &:nth-child(3) {
                grid-area: three;
                justify-self: end;
                text-align: right;
            }
        }
    }
}

// teaser

.teaser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;

    &__heading {
        font-size: 28px;
        font-weight: 400 !important;
        margin-bottom: 0;
        order: 2;

        &:focus,
        &:active {
            order: 2;
        }
    }

    &__image {
        margin-bottom: 30px;
        object-fit: cover;
        order: 1;
        height: 30vh;
        width: 100%;
        transition: opacity 0.5s;

        &:focus,
        &:active {
            order: 1;
        }

        &:hover {
            opacity: 0.3;
            transition: opacity 0.5s;
        }
    }

    &__details {
        line-height: 1;
        margin: 10px 0 20px;
        padding: 0;
        order: 3;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__tag {
        font-size: 16px;
        font-weight: 800;

        &:after {
            @include customVar(background-color, clrBlack);
            content: "";
            display: inline-block;
            margin: 0 8px;
            height: 2px;
            width: 45px;
            position: relative;
            top: -3px;
        }
    }

    &__date {
        //@include customVar(font-family, fontSecondary);
        font-size: 16px;
        font-weight: 800;
    }

    &__text {
        font-size: 18px;
        order: 4;
    }
}

// tabs

.tabs {
    overflow: hidden;
}

.tab {
    overflow: hidden;
    width: 100%;

    &--small {
    }

    &__label {
        @include customVar(background-color, clrWhite);
        @include customVar(background-color, clrWash);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 10px;
        padding: 15px 40px;

        &::after {
            background-image: url(../images/iconChevronDown.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            margin-left: 15px;
            height: 20px;
            width: 20px;
            text-align: center;
            transition: all 0.35s;
        }

        .tabs--styleless & {
            background-color: transparent;
        }

        .tabs--small & {
            font-size: 17px;
            font-weight: 600;
            padding: 10px 20px;

            &:after {
                content: "";
                height: 15px;
                width: 15px;
            }
        }
    }

    &__content {
        @include customVar(background-color, clrWash);
        background-color: #eafaf1;
        font-size: 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
    }

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    // :checked
    input:checked {
        + .tab__label {
            // border-bottom-left-radius: 0;
            // border-bottom-right-radius: 0;
            // margin-bottom: 0;

            &::after {
                transform: rotate(180deg);
            }
        }

        ~ .tab__content {
            margin-bottom: 40px;
            max-height: 1000vh;
            overflow: hidden;
            padding: 30px;
            transition: max-height 0.9s ease-in;
        }
    }
}

// accordion

.accordion {
    &__header {
        margin: 0 0 1px;
    }

    &__button {
        @include customVar(font-family, fontSecondary);
        background-color: transparent;
        background-image: url(../images/iconChevronDown.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 19px;

        border: none;
        @include customVar(border-bottom-color, paletteColor1);
        border-bottom-style: solid;
        border-bottom-width: 2px;

        cursor: pointer;
        font-size: 23px;
        font-weight: 600;
        padding: 15px 45px 15px 30px;
        padding: 15px 0;
        text-align: left;
        width: 100%;

        &:hover,
        &:focus {
            // @include customVar(background-color, clrBlack);
            // @include customVar(color, clrWhite);
            // background-image: url(../images/iconChevronWhiteDown.png);
        }

        &:focus {
            outline: 0;
        }

        &--active {
            //background-color: #a3e4d7;
            background-image: url(../images/iconChevronUp.png);

            &:hover {
                // @include customVar(background-color, clrBlack);
                // @include customVar(color, clrWhite);
                // background-image: url(../images/iconChevronWhiteUp.png);
            }
        }

        @media screen and (max-width: 1200px) {
            background-position: right 15px center;
            background-size: 12px;
            font-size: 18px;
            padding: 15px 30px 15px 15px;
        }
    }

    &__body {
        display: none;
        opacity: 1;
        padding: 30px 0;

        &--expanded {
            display: block;
            animation: growDown 500ms ease-in-out forwards;
            transform-origin: top center;
        }
    }
}

// dropdown

.dropdown {
    background-color: transparent;
    display: block;
    margin: 25px 0;
    width: max-content;

    &__button {
        @include customVar(border-color, clrBlack);
        @include customVar(font-family, fontPrimary);
        background-color: #d5f5e3;
        background-image: url(../images/iconChevronDown.png);
        background-position: right 30px center;
        background-repeat: no-repeat;
        background-size: 20px;
        border-radius: 50px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        font-size: 20px;
        font-weight: 600;
        padding: 15px 90px 15px 30px;
        text-align: left;
        transition: background-image 0.3s;

        &--active {
            background-image: url(../images/iconChevronUp.png);
            border: 2px solid transparent;
        }

        &:focus,
        &:active {
            outline: 0;
        }

        @media screen and (max-width: 1600px) {
            padding: 20px 30px;
        }

        @media screen and (max-width: 1200px) {
            background-position: right 15px center;
            background-size: 15px;
            font-size: 16px;
            line-height: 1.2;
            padding: 20px 15px;
        }
    }

    &__pane {
        @include customVar(background-color, clrWhite);
        background: #d5f5e3;
        border-color: transparent;
        border-radius: 40px;
        border-top-style: solid;
        border-style: solid;
        border-width: 2px;
        display: none;
        margin-top: 25px;
        opacity: 1;
        padding: 30px 0;
        position: absolute;
        top: auto;
        z-index: 5555;
        width: fit-content;

        &:before,
        &::before {
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 18px solid #d5f5e3;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            top: -18px;
            left: 60px;
        }

        &--open {
            display: block;
            padding: 0;
            animation: growDown 500ms ease-in-out forwards;
            transform-origin: top center;
        }
    }

    &__link {
        // @include customVar(background-color, paletteColor1);
        //background: #e8f8f5;
        @include customVar(border-bottom-color, clrWhite);
        //@include customVar(border-top-color, paletteColor1);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        cursor: pointer;
        display: block;
        font-size: 17px;
        font-weight: 600;
        padding: 15px 45px;

        &:hover,
        &:focus,
        &:active,
        &--active {
            @include customVar(background-color, clrBlack);
            @include customVar(color, clrWhite);
            display: block;
            width: 100%;
        }

        &:last-child {
            @include customVar(border-bottom-color, transparent);
        }

        @media screen and (max-width: 1200px) {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.2;
            padding: 15px 30px 15px 15px;
        }
    }
}
