// ----------REUSABLE (only for angular shareable / reusable components)

// animations

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    60% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1);
    }
}

// intersection

.intersection {
    @include customVar(background-color, transparent);
    @include customVar(border-color, clrBlack);
    @include customVar(color, clrBlack);
    background-image: url(../images/iconChevronRight.png);
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-size: 11px 20px;
    background-size: 10px 18px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    display: block;
    padding: 15px 45px 15px 30px;
    text-align: left;

    &:hover {
        @include customVar(background-color, clrBlack);
        @include customVar(border-color, clrBlack);
        @include customVar(color, clrWhite);
        background-image: url(../images/iconChevronWhiteRight.png);
    }

    @media screen and (max-width: 1024px) {
        background-position: right 20px center;
        background-repeat: no-repeat;
        background-size: 8px 14px;
        padding: 11px 30px 11px 20px;
    }

    // elements

    &__text {
        @include customVar(font-family, fontPrimary);
        color: inherit;
        font-size: 21px;
        font-weight: 500 !important;

        @media screen and (max-width: 1024px) {
            font-size: 17px;
            font-weight: 600 !important;
        }
    }
}

/*button*/

.button {
    @include customVar(background-color, transparent);
    @include customVar(border-color, clrBlack);
    @include customVar(color, clrBlack);
    @include customVar(font-family, fontPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    min-height: 40px;
    padding: 0 22px;
    text-align: center;
    width: auto;
    transition: all 0.5s;

    // modifiers (types of buttons)

    &--primary {
        @include customVar(background-color, clrAccent);
        @include customVar(border-color, clrAccent);
        @include customVar(color, clrWhite);
        text-align: center !important;
    }

    &--secondary {
        // @include customVar(background-color, clrDark);
        // @include customVar(border-color, clrDark);
        // @include customVar(color, clrWhite);
        // font-weight: 400;
        // text-align: center !important;
    }

    &--cta {
        @include customVar(background-color, transparent);
        @include customVar(border-color, clrAccent);
        @include customVar(color, clrBlack);
    }

    // modifiers (sizes of buttons)

    &--xl {
        display: inline-block;
        font-size: 32px;
        font-weight: 400;
        padding: 17px 46px;

        @media screen and (max-width: 1600px) {
            font-size: 26px;
            font-weight: 600;
            padding: 10px 30px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 24px;
            font-weight: 500;
            padding: 10px 30px;
        }
    }

    &--lg {
        display: inline-block;
        font-size: 26px;
        font-weight: 500;
        padding: 17px 46px;

        @media screen and (max-width: 1600px) {
            font-size: 26px;
            font-weight: 600;
            padding: 10px 30px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 24px;
            font-weight: 500;
            padding: 10px 30px;
        }
    }

    &--md {
        font-size: 18px;
        font-weight: 600;
        padding: 15px 36px;

        @media screen and (max-width: 1024px) {
            font-size: 16px;
            padding: 10px 27px;
        }
    }

    &--sm {
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
        min-height: 34px;
        padding: 10px 30px;

        @media screen and (max-width: 1024px) {
            font-size: 14px;
        }
    }

    &--xs {
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        min-height: initial;
        padding: 9px 22px 7px;
        width: auto;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--xxs {
        font-size: 14px;
        font-weight: 700;
        min-height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--mega {
        @include customVar(background-color, clrAccent);
        @include customVar(font-family, fontSecondary);
        font-size: 44px;
        font-weight: 300;
        margin: 0 20px;
        padding: 36px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }

        &:hover {
            @include customVar(background-color, clrPrimary);
            @include customVar(border-color, clrPrimary);
        }
    }

    // modifiers (helpers)

    &--centered {
        display: block;
        margin: 0 auto;
        width: fit-content;
    }

    // special cases

    &--dropdown {
        background-image: url(../images/iconChevronDown.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 15px;
        padding-right: 45px;
        text-align: left;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-image: url(../images/iconChevronWhiteDown.png);
        }
    }

    &--display {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px;
        margin-left: 7px;

        @media screen and (max-width: 1024px) {
            font-size: 0;
            height: 48px;
            width: 48px;
        }
    }

    &--display-1 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayMap.png);
        }
    }

    &--display-2 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayTable.png);
        }
    }

    &--display-3 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayGallery.png);
        }
    }

    &--filter {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayFilter.png);
            background-position: left 11px center;
            //background-size: 28px;
            font-size: 15px;
            padding-left: 42px;
            padding-right: 11px;
            width: auto;
        }
    }

    // elements

    &__text {
        padding-bottom: 4px;
        text-align: center;
    }

    &__icon {
        background-repeat: no-repeat;
        background-size: 16px;

        &--lock {
            background-image: url(../images/iconLock.png);
            background-size: contain;
            height: 22px;
            padding-right: 5px;
            width: 17px;
        }
    }

    &:active,
    &:focus,
    &:hover {
        @include customVar(background-color, clrBlack);
        @include customVar(border-color, clrBlack);
        @include customVar(color, clrWhite);
        border-style: solid;
        border-width: 2px;
    }
}

/*items / gallery*/

.item {
    @include customVar(background-color, clrShadow);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__title {
        @include customVar(font-family, fontSecondary);
        font-size: 27px;
        font-size: 22px;
        font-weight: 500 !important;
        font-weight: 700 !important;
        padding: 10px 30px 0;
        order: 2;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 500 !important;
        padding: 0 30px 10px;
        margin: 5px 0 15px !important;
        order: 2;

        @media screen and (max-width: 1024px) {
            font-size: 18px;
        }
    }

    &__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 15px;
        padding: 0;
        min-height: 25vh;
        order: 1;

        &--1 {
            background-image: url(../images/gallery/panda.jpg);
        }

        &--2 {
            background-image: url(../images/gallery/leopard.jpg);
        }

        &--3 {
            background-image: url(../images/gallery/frog.jpg);
        }

        &--4 {
            background-image: url(../images/gallery/leopard2.jpg);
        }

        &--5 {
            background-image: url(../images/gallery/bear.jpg);
        }

        &--8 {
            background-image: url(../images/gallery/walrus.jpg);
        }

        &--noImg {
            @include customVar(background-color, clrWash1);
            background-image: url(../images/iconNoImage.png);
            background-size: 84px;
        }
    }

    &__copyright {
        font-size: 14px;
        font-weight: 600;
        height: 20px;
        line-height: 20px;
        margin: 15px 0 5px;
        order: 3;
        padding-left: 18px;
        position: relative;

        &::before {
            background-image: url(../images/iconUser.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            display: inline-block;
            display: block;
            line-height: 1;
            height: 12px;
            width: 15px;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }

    &__details {
        @include customVar(border-top-color, paletteColor1);
        border-top-color: #d1f2eb;
        border-top-style: solid;
        border-top-width: 2px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one one" "two three";
        font-size: 17px;
        font-weight: 700;
        padding: 15px 30px 30px;
        order: 3;

        & > * {
            //border: 1px solid green;
            align-self: center;

            &:nth-child(1) {
                grid-area: one;
                justify-self: stretch;
            }

            &:nth-child(2) {
                grid-area: two;
                justify-self: start;
            }

            &:nth-child(3) {
                grid-area: three;
                justify-self: end;
                text-align: right;
            }
        }
    }
}

// teaser

.teaser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @media screen and (max-width: 1024px) {
        display: block;
    }

    &__grid {
        display: grid;
        grid-template-columns: 75px auto;

        & > * {
            // border: 1px solid red
        }
    }

    &__icon {
        @include customVar(background-color, clrShadow);
        background-position: left top;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 35px;
        border-radius: 100%;
        text-align: center;
        height: 44px;
        width: 44px;

        height: 64px;
        width: 64px;

        @media screen and (max-width: 1024px) {
            background-size: 30px;
        }

        &--announcement {
            @include customVar(background-color, clrShadow);
            background-image: url(../images/iconMegaphone.png);
        }

        &--notice {
            @include customVar(background-color, clrDanger);

            background-size: 30px;
            background-image: url(../images/iconBell.png);
        }
    }

    &__heading {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 0;
        text-align: left;

        @media screen and (max-width: 1200px) {
            font-size: 23px;
            width: 100%;
        }

        .teaser--icon & {
            font-size: 24px;
            font-weight: 500;
            line-height: 1;
            margin: 4px 0 0 0;

            @media screen and (max-width: 1024px) {
                font-size: 20px;
                margin-top: -4px;
            }
        }
    }

    &__image {
        margin-bottom: 15px;
        object-fit: cover;
        height: 24vh;
        transition: opacity 0.5s;
        width: 100%;

        &:hover {
            opacity: 0.3;
            transition: opacity 0.5s;
        }

        @media screen and (max-width: 1024px) {
            height: 30vh;
        }
    }

    &__img-wrapper {
        height: 24vh;
        width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 1024px) {
            height: 30vh;
        }
    }

    &__img {
        @include customVar(background-color, clrShadow);
        background-position: center center;
        background-size: cover;
        margin-bottom: 15px;
        transition: all 1s;

        height: 100%;
        width: 100%;

        &:hover {
            transform: scale(1.2);
        }

        // hover effect when hovering on parent

        .teaser:hover & {
            transform: scale(1.2);
        }

        app-teaser:nth-child(1) & {
            background-image: url(../images/gallery/animal9.jpg);
        }

        app-teaser:nth-child(2) & {
            background-image: url(../images/gallery/animal14.jpg);
        }

        app-teaser:nth-child(3) & {
            background-image: url(../images/gallery/animal8.jpg);
        }

        app-teaser:nth-child(4) & {
            background-image: url(../images/gallery/animal10.jpg);
        }

        app-teaser:nth-child(5) & {
            background-image: url(../images/gallery/animal7.jpg);
        }

        app-teaser:nth-child(6) & {
            background-image: url(../images/gallery/animal12.jpg);
        }

        app-teaser:nth-child(7) & {
            background-image: url(../images/gallery/animal13.jpg);
        }

        app-teaser:nth-child(8) & {
            background-image: url(../images/gallery/animal11.jpg);
        }

        app-teaser:nth-child(9) & {
            background-image: url(../images/gallery/animal15.jpg);
        }
    }

    &__details {
        line-height: 1;
        margin: 10px 0 0;
        padding: 0;
        text-align: left;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }

        .teaser--icon & {
            font-size: 16px;
            font-weight: 600;
            margin-top: 12px;

            @media screen and (max-width: 1024px) {
                font-size: 14px;
            }
        }
    }

    &__tag {
        font-size: 16px;
        font-weight: 800;

        &:after {
            @include customVar(background-color, clrBlack);
            content: "";
            display: inline-block;
            margin: 0 8px;
            height: 2px;
            width: 45px;
            position: relative;
            top: -3px;
        }
    }

    &__date {
        font-size: 16px;
        font-weight: 800;
    }

    &__text {
        font-size: 18px;
        margin-top: 20px;

        .teaser--icon & {
            font-size: 17px;
            margin-top: 15px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 16px;
        }
    }
}

// tabs

.tabs {
    overflow: hidden;
}

.tab {
    overflow: hidden;
    width: 100%;

    &--small {
    }

    &__label {
        @include customVar(background-color, clrWhite);
        @include customVar(background-color, clrWash);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 10px;
        padding: 15px 40px;

        &::after {
            background-image: url(../images/iconChevronDown.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            margin-left: 15px;
            height: 20px;
            width: 20px;
            text-align: center;
            transition: all 0.35s;
        }

        .tabs--styleless & {
            background-color: transparent;
        }

        .tabs--small & {
            font-size: 17px;
            font-weight: 600;
            padding: 10px 20px;

            &:after {
                content: "";
                height: 15px;
                width: 15px;
            }
        }
    }

    &__content {
        @include customVar(background-color, clrWash);
        background-color: #eafaf1;
        font-size: 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
    }

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    // :checked
    input:checked {
        + .tab__label {
            // border-bottom-left-radius: 0;
            // border-bottom-right-radius: 0;
            // margin-bottom: 0;

            &::after {
                transform: rotate(180deg);
            }
        }

        ~ .tab__content {
            margin-bottom: 40px;
            max-height: 1000vh;
            overflow: hidden;
            padding: 30px;
            transition: max-height 0.9s ease-in;
        }
    }
}

// accordion

.accordion {
    &__header {
        margin: 0 0 1px;
    }

    &__button {
        @include customVar(color, clrBlack);
        @include customVar(font-family, fontSecondary);
        background-color: transparent;
        background-image: url(../images/iconChevronDown.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 19px;

        border: none;
        @include customVar(border-bottom-color, clrPrimary);
        border-bottom-style: solid;
        border-bottom-width: 2px;

        cursor: pointer;
        font-size: 23px;
        font-weight: 500;
        padding: 15px 0;
        position: relative;
        text-align: left;
        width: 100%;

        &:hover,
        &:focus {
        }

        &:focus {
            outline: 0;
        }

        &--active {
            background-image: url(../images/iconChevronUp.png);
            @include customVar(border-bottom-color, transparent);
            @include customVar(color, clrBlack);

            @media screen and (max-width: 1200px) {
                &::after,
                &:after {
                    @include customVar(background-color, clrAccent);
                    border-radius: 50px;
                    content: "";
                    display: inline-block;
                    height: 10px;
                    margin: 0 0 0 5px;
                    vertical-align: middle;
                    width: 10px;
                }
            }
        }

        p {
            margin: 0;
        }

        @media screen and (max-width: 1200px) {
            background-position: right 15px center;
            background-size: 12px;
            font-size: 18px;
            padding: 15px 30px 15px 0;
        }
    }

    &__body {
        display: none;
        opacity: 1;
        padding: 30px 0;

        &--expanded {
            @include customVar(border-bottom-color, paletteColor1);
            border-bottom-style: solid;
            border-bottom-width: 2px;
            display: block;
            animation: growDown 500ms ease-in-out forwards;
            transform-origin: top center;
        }
    }
}

// dropdown

.dropdown {
    background-color: transparent;
    display: block;
    margin: 25px 0;
    width: max-content;

    &__button {
        @include customVar(background-color, transparent);
        @include customVar(border-color, clrAccent);
        @include customVar(color, clrBlack);
        @include customVar(font-family, fontPrimary);
        background-image: url(../images/iconChevronDown.png);
        background-position: right 30px center;
        background-repeat: no-repeat;
        background-size: 20px;
        border-radius: 50px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        font-size: 20px;
        font-weight: 600;
        padding: 15px 90px 15px 30px;
        text-align: left;
        transition: background-image 0.3s;

        &:hover {
            @include customVar(background-color, clrTransparent);
            @include customVar(border-color, clrBlack);
            @include customVar(color, clrBlack);
            background-image: url(../images/iconChevronDown.png);
        }

        &--active {
            background-image: url(../images/iconChevronUp.png);

            &:hover {
                @include customVar(background-color, clrTransparent);
                @include customVar(border-color, clrBlack);
                @include customVar(color, clrBlack);
                background-image: url(../images/iconChevronUp.png);
            }
        }

        &:focus,
        &:active {
            outline: 0;
        }

        @media screen and (max-width: 1600px) {
            background-position: right 25px center;
            padding: 20px 75px 20px 30px;
        }

        @media screen and (max-width: 1200px) {
            background-position: right 30px center;
            background-size: 15px;
            font-size: 17px;
            line-height: 1.2;
            padding: 15px 60px 15px 30px;
        }
    }

    &__pane {
        @include customVar(background-color, clrWash1);
        //background: #d5f5e3;

        border-color: transparent;
        border-top-style: solid;
        border-style: solid;
        border-width: 2px;
        display: none;
        margin-top: 25px;
        opacity: 1;
        padding: 0;
        position: absolute;
        top: auto;
        z-index: 5555;
        width: fit-content;

        &:before,
        &::before {
            @include customVar(border-bottom-color, clrWash1);
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 18px solid rgb(245, 245, 245);
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            top: -18px;
            left: 60px;
        }

        &--open {
            display: block;
            padding: 0;
            animation: growDown 500ms ease-in-out forwards;
            transform-origin: top center;
        }
    }

    &__link {
        @include customVar(border-bottom-color, clrWhite);
        @include customVar(color, clrAccent);
        @include customVar(color, clrBlack);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        cursor: pointer;
        display: block;
        font-size: 17px;
        font-weight: 600;
        padding: 15px 30px 15px 60px;

        &--stats {
            background-image: url(../images/iconStatsColor.png);
            background-position: left 30px center;
            background-repeat: no-repeat;
            background-size: 20px;

            @media screen and (max-width: 1200px) {
                background-position: left 15px center;
            }
        }

        &:hover,
        &:focus,
        &:active,
        &--active {
            @include customVar(background-color, paletteColor1);
            display: block;
            width: 100%;
        }

        &::after,
        &:after {
            @include customVar(background-color, clrAccent);
            content: "";
            display: block;
            height: 2px;
            margin-top: -3px;
            transition: width 0.3s;
            width: 0;
        }

        &:last-child {
            @include customVar(border-bottom-color, transparent);
        }

        @media screen and (max-width: 1200px) {
            font-size: 15px;
            font-weight: 600;
            line-height: 1.2;
            padding: 15px 20px 15px 45px;
        }
    }
}

// simplified menu

.simplified-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    &__link {
        color: #444;
        color: var(--clrBlack);
        border-color: #444;
        border-color: var(--clrBlack);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        display: inline-block;
        line-height: 1.15;
        margin-bottom: 12px;
        padding: 0;
        text-decoration: none;
        transition: border 0.5s;
    }
}

// icon badge

.icon-badge {
    text-align: center;

    &__icon {
        @include customVar(background-color, clrPrimary);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50px;
        border-radius: 500px;
        height: 110px;
        margin: 0 auto;
        text-align: center;
        width: 110px;

        &--icon {
            //background-image: url(../images/gallery/statsBinoculars.png);
        }

        &--project {
            background-image: url(../images/iconProject.png);
            background-size: 40px;
        }

        &--totalSightings {
            background-image: url(../images/gallery/statsBinoculars.png);
        }

        &--totalSpecies {
            background-image: url(../images/gallery/statsLeaf.png);
        }

        &--totalImages {
            background-image: url(../images/gallery/statsCamera.png);
        }

        &--totalUsers {
            background-image: url(../images/gallery/statsBinoculars.png);
        }

        &--thisYear,
        &--lastYear {
            background-image: url(../images/iconUsers.png);
            background-size: 45px;
        }

        &--last7 {
            background-image: url(../images/iconNewUsers.png);
            background-size: 45px;
        }

        @media screen and (max-width: 1200px) {
            background-size: 35px;
            margin: 0 auto 10px;
            height: 70px;
            width: 70px;
        }

        @media screen and (max-width: 1024px) {
            margin-top: -5px;
        }
    }

    &__wrapper {
    }

    &__item {
        @include customVar(font-family, fontSecondary);
        font-size: 62px;
        font-weight: 700;
        line-height: 1;
        margin: 0;

        @media screen and (max-width: 1366px) {
            font-size: 44x;
        }

        @media screen and (max-width: 1200px) {
            font-size: 42px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 32px;
        }

        .icon-badge--small & {
            font-size: 24px;
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 400;

        @media screen and (max-width: 1200px) {
            font-size: 22px;
            font-weight: 500;
        }

        @media screen and (max-width: 1024px) {
            font-size: 20px;
        }

        .icon-badge--small & {
            font-size: 18px;
            font-weight: 500;
        }

        .icon-badge--list & {
            line-height: 1.2;
            margin-top: 10px;
        }
    }

    &--list {
        display: grid;
        grid-gap: 20px 0;

        @media screen and (max-width: 1200px) {
            display: grid;
            grid-template-columns: auto 3fr;
            grid-gap: 0 20px;

            & > * {
                align-self: start;
                justify-self: start;
                text-align: left;
            }
        }
    }
}
