// ----------SETTINGS

// :root {}

@import "fonts";

$vars: (
  fontPrimary: #{"zabal",  Consolas,  monospace},
  fontSecondary: #{"barlowsemicondensed",  Consolas,  monospace},
  fontAccent: #{"robotomono",  Consolas, monospace},

  clrLayout: #ededed,
  clrBlack: #373737,
  clrWhite: #ffffff, 

  clrAccent: #48c9b0,  

  clrPrimary: #a3e4d7,
  clrPrim0: #e8f8f5,
  clrPrim1: #d1f2eb,

  clrSecondary: #abebc6,
  clrSec0: #eafaf1,
  clrSec1: #d5f5e3, 
  
  clrDanger: #f5b7b1,
  // clrFocus: #eef2aa,
  clrFocus: #e9f7ef,

  clrGrey0: #f5f5f5,
  clrGrey1: #fafafa,
  clrGrey2: #ededed,
  clrGrey3: #e3e3e3,
  clrGrey4: #cccccc,

  paddingStd: 15px,
  transparent: transparent,

);

:root {
  --fontPrimary: #{map-get($vars, fontPrimary)};
  --fontSecondary: #{map-get($vars, fontSecondary)};
  --fontAccent: #{map-get($vars, fontAccent)};
  --clrFocus: #{map-get($vars, clrFocus)};

  --clrLayout: #{map-get($vars, clrLayout)};
  --clrBlack: #{map-get($vars, clrBlack)};
  --clrWhite: #{map-get($vars, clrWhite)};

  --clrAccent: #{map-get($vars, clrAccent)};

  --clrPrimary: #{map-get($vars, clrPrimary)};
  --clrPrim0: #{map-get($vars, clrPrim0)};
  --clrPrim1: #{map-get($vars, clrPrim1)};

  --clrSecondary: #{map-get($vars, clrSecondary)};
  --clrSec0: #{map-get($vars, clrSec0)};
  --clrSec1: #{map-get($vars, clrSec1)};

  --clrDanger: #{map-get($vars, clrDanger)};
  --clrFocus: #{map-get($vars, clrFocus)};
   
  --clrGrey0: #{map-get($vars, clrGrey0)};
  --clrGrey1: #{map-get($vars, clrGrey1)};
  --clrGrey2: #{map-get($vars, clrGrey2)};
  --clrGrey3: #{map-get($vars, clrGrey3)};  
  --clrGrey4: #{map-get($vars, clrGrey4)};
  
  --backgroundColor: #{map-get($vars, clrWhite)};
  --textColor: #{map-get($vars, clrBlack)};

  --paddingStd: #{map-get($vars, paddingStd)};
  --transparent: #{map-get($vars, transparent)};

}

@mixin customVar($property, $varName, $important: "") {
  #{$property}: map-get($vars, $varName);
  #{$property}: var(--#{$varName}) unquote($important);
}
