// ----------SETTINGS

// :root {}

@import "fonts";

$vars: (
  fontPrimary: #{"zabal",  Consolas,  monospace},
  fontSecondary: #{"barlowsemicondensed",  Consolas,  monospace},
  fontAccent: #{"robotomono",  Consolas, monospace},

  clrLayout: #ededed,
  clrBlack: #173e43,
  clrWhite: #ffffff, 
  clrAccent: #48c9b0,  
  clrPrimary: #a3e4d7,
  clrShadow: #eafaf1, 
  clrWash1: #f5f5f5,
  clrWash2: #fafafa,

  paletteColor0: #ededed,
  paletteColor1: #e3e3e3,
  paletteColor2: #cccccc,

  paddingStd: 15px,
  transparent: transparent,

);

:root {
  --fontPrimary: #{map-get($vars, fontPrimary)};
  --fontSecondary: #{map-get($vars, fontSecondary)};
  --fontAccent: #{map-get($vars, fontAccent)};

  --clrLayout: #{map-get($vars, clrLayout)};
  --clrBlack: #{map-get($vars, clrBlack)};
  --clrWhite: #{map-get($vars, clrWhite)};
  --clrAccent: #{map-get($vars, clrAccent)};
  --clrPrimary: #{map-get($vars, clrPrimary)};
  --clrShadow: #{map-get($vars, clrShadow)};
  --clrWash1: #{map-get($vars, clrWash1)};
  --clrWash2: #{map-get($vars, clrWash2)};
   
  --paletteColor0: #{map-get($vars, paletteColor0)};
  --paletteColor1: #{map-get($vars, paletteColor1)};
  --paletteColor2: #{map-get($vars, paletteColor2)};
  
  
  --backgroundColor: #{map-get($vars, paletteColor0)};
  --textColor: #{map-get($vars, clrBlack)};

  --paddingStd: #{map-get($vars, paddingStd)};
  --transparent: #{map-get($vars, transparent)};

}

@mixin customVar($property, $varName) {
  #{$property}: map-get($vars, $varName);
  #{$property}: var(--#{$varName});
}
