// ----------TABLES

table {
    border-collapse: collapse;
    font-size: 17px;
    margin: 50px auto 50px;
    //table-layout: fixed;
    width: 100%;

    @media screen and (max-width: 1200px) {
        font-size: 15px;
    }

    caption {
        border-bottom: 2px solid rgba(240, 240, 240);
        font-size: 16px;
        font-weight: 600;
        margin: 0 auto 20px;
        padding: 0 0 10px;
        width: auto;

        @media screen and (max-width: 1200px) {
            border-bottom: 2px solid transparent;
            font-size: 15px;
            font-weight: 700;
            margin: 0 0 10px;
            text-align: left;
            width: 60%;
        }
    }

    tr {
        &:hover {
            th[role="rowheader"],
            td {
                //background: #ffee58 !important;
                @include customVar(background-color, clrFocus, !important);
            }
        }
    }

    th {
        @include customVar(border-bottom-color, clrAccent);
        @include customVar(font-family, fontSecondary);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        font-size: 19px;
        font-weight: 500;
        text-align: left;

        @media screen and (max-width: 1200px) {
            border-top: 2px solid rgba(240, 240, 240);
            font-size: 17px;
            font-weight: 600;
        }

        &[scope="row"] {
            @include customVar(background-color, clrWash2);
            @include customVar(font-family, fontPrimary);
            @include customVar(border-bottom-color, clrWhite);
            font-size: 17px;
            font-weight: 600;

            @media screen and (max-width: 1200px) {
                font-size: 16px;
            }
        }
    }

    td {
        @include customVar(background-color, clrWash2);
        @include customVar(border-bottom-color, clrWhite);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 2px;
        text-align: left;

        &::before {
            display: none;
        }
    }

    th,
    td {
        padding: 10px 20px;
    }

    @media screen and (max-width: 1024px) {
        // table,
        // tr,
        // td {
        //     display: block;
        // }

        // caption {
        //     @include customVar(background-color, clrShadow);
        //     @include customVar(font-family, fontSecondary);
        //     border: none;
        //     font-size: 20px;
        //     font-weight: 500;
        //     padding: 10px 15px;
        //     text-align: left;
        // }

        // tr {
        //     //border: 2px solid red;
        //     margin-bottom: 20px;
        // }

        // thead {
        //     display: none;
        // }

        // th,
        // td {
        //     display: grid;
        //     font-weight: 600;
        //     grid-template-columns: 2fr 3fr;
        //     grid-gap: 1em 2em;

        //     &::before {
        //         @include customVar(font-family, fontSecondary);
        //         content: attr(data-heading);
        //         display: inline;
        //         font-size: 16px;
        //         font-weight: 600;
        //     }

        //     tr:nth-child(even) & {
        //         @include customVar(background-color, clrShadow);
        //     }
        // }
    }
}

/*table*/

// helpers

.table-container {
    overflow: auto;
}

.tr-toggle {
    display: none;
    max-width: inherit;
    opacity: 1;

    &--expanded {
        display: table-row;
        animation: growDown 500ms ease-in-out forwards;
        transform-origin: top center;
    }

    td {
        @include customVar(background-color, clrShadow);
    }
}

.td-hidden {
    visibility: hidden;

    @media screen and (max-width: 1024px) {
        visibility: visible;
    }
}

.th-number,
.td-number {
    text-align: right;
}

.td-number {
    @include customVar(font-family, fontAccent);

    &--lg {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: -1px;
    }
}

.td-highlighted {
    @include customVar(background-color, clrShadow);
}

.td-right {
    margin: auto 0 auto auto !important;
    text-align: right !important;
}

.td-center {
    text-align: center;
}

.td-index {
    @include customVar(font-family, fontSecondary);
    font-size: 24px;
    font-weight: 600;
}

.td-text {
    &--md {
        font-size: 1.1em;
    }

    &--lg {
        font-size: 1.2em;
        font-weight: 600;
    }
}

// reusable and custom tables

.tbl {
    &--auto {
        margin: auto;
        width: auto;
    }

    &--lg {
        th[scope="row"],
        td {
            padding: 20px 15px;
        }
    }

    tbody:nth-child(even) {
        @include customVar(background-color, clrShadow);

        th,
        td {
            @include customVar(background-color, clrShadow);
        }
    }

    &--x {
        tr:nth-child(even) {
            th,
            td {
                @include customVar(background-color, clrShadow);
            }
        }
    }
}

.custom-table {
    tr {
        &:last-child {
            th[scope="row"] {
                @include customVar(border-bottom-color, clrWhite);
            }
        }
    }

    th[scope="row"] {
        @include customVar(border-bottom-color, transparent);
    }

    tbody:nth-child(even) {
        th,
        td {
            @include customVar(background-color, clrShadow);
        }
    }
}

.accordion-table {
    &__view {
    }

    &__fold {
        display: none;
        width: 100%;

        &--open {
            display: table-row;
        }

        td {
            background-color: white;
            padding: 15px 0 70px;
        }

        &:hover {
            th[role="rowheader"],
            td {
                background: transparent !important;
            }
        }
    }

    &__opener {
        @extend .button;
        background-image: url(../images/iconChevronDown.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 12px;
        padding: 0 45px 0 30px !important;

        &:hover {
            background-image: url(../images/iconChevronWhiteDown.png);
        }

        &--active {
            background-image: url(../images/iconChevronWhiteUp.png) !important;
            display: inline-block !important; // do not delete

            &:hover {
                background-image: url(../images/iconChevronWhiteDown.png);
            }
        }
    }

    &__body {
    }

    &__list {
        h1 {
            @extend h4;
            font-size: 15px;
            margin: 10px 0;
        }

        div {
            font-size: 16px;
        }
    }
}
