// ----------TABLES

table {
    border-collapse: collapse;
    font-size: 17px;
    margin: 50px auto 50px;
    //table-layout: fixed;
    width: 100%;

    @media screen and (max-width: 1200px) {
        font-size: 15px;
    }

    caption {
        border-bottom: 2px solid rgba(240, 240, 240);
        font-size: 16px;
        font-weight: 600;
        margin: 0 auto 20px;
        padding: 0 0 10px;
        width: auto;
    }

    th {
        @include customVar(border-bottom-color, clrAccent);
        @include customVar(font-family, fontSecondary);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        font-size: 19px;
        font-weight: 500;
        text-align: left;

        @media screen and (max-width: 1200px) {
            font-size: 17px;
            font-weight: 700;
        }

        &[scope="row"] {
            @include customVar(background-color, clrWash2);
            @include customVar(font-family, fontPrimary);
            @include customVar(border-bottom-color, clrWhite);
            //border: none;
            font-size: 17px;
            font-weight: 600;

            @media screen and (max-width: 1200px) {
                font-size: 16px;
            }
        }
    }

    td {
        @include customVar(background-color, clrWash2);
        @include customVar(border-bottom-color, clrWhite);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 2px;
        text-align: left;
    }

    th,
    td {
        padding: 10px 20px;
    }
}

/*table*/

// helpers

.th-number,
.td-number {
    text-align: right;
}

.td-number {
    @include customVar(font-family, fontAccent);
}

.td-highlighted {
    @include customVar(background-color, clrShadow);
}

// reusable and custom tables

.tbl {
    &--auto {
        margin: auto;
        width: auto;
    }

    &--lg {
        th[scope="row"],
        td {
            padding: 20px 15px;
        }
    }

    tbody:nth-child(even) {
        @include customVar(background-color, clrShadow);

        th,
        td {
            @include customVar(background-color, clrShadow);
        }
    }
}

.custom-table {
    tr {
        &:last-child {
            th[scope="row"] {
                @include customVar(border-bottom-color, clrWhite);
            }
        }
    }

    th[scope="row"] {
        @include customVar(border-bottom-color, transparent);
    }

    tbody:nth-child(even) {
        th,
        td {
            @include customVar(background-color, clrShadow);
        }
    }
}
