<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro">
        Antall rødlistede arter etter artsgruppe med rødlistekategori (RE+CR+EN+VU+NT+DD). 

        <app-category-redlisted></app-category-redlisted>
    </div>

    <div class="page__content">

        <table>

            <tr>
                <th>Artsgruppe</th>
                <th>Risikogruppe</th>
                <th class="td-number">Totalt</th>
                <th class="td-number">Med bilder</th>
                <th class="td-number">Validerte</th>
            </tr>

            <tr>
                <td rowspan="6"><strong>Alger</strong></td>
                <td>CR</td>
                <td class="td-number">1</td>
                <td class="td-number">0</td>
                <td class="td-number">1</td>
            </tr>
            <tr>
                <td>EN</td>
                <td class="td-number">9</td>
                <td class="td-number">1</td>
                <td class="td-number">3</td>
            </tr>
            <tr>
                <td>VU</td>
                <td class="td-number">54</td>
                <td class="td-number">0</td>
                <td class="td-number">15</td>
            </tr>
            <tr>
                <td>NT</td>
                <td class="td-number">69</td>
                <td class="td-number">12</td>
                <td class="td-number">40</td>
            </tr>
            <tr>
                <td>DD</td>
                <td class="td-number">5</td>
                <td class="td-number">3</td>
                <td class="td-number">3</td>
            </tr>
            <tr>
                <td>&mdash;</td>
                <td class="td-number">7880</td>
                <td class="td-number">1831</td>
                <td class="td-number">149</td>
            </tr>

            <tr class="tr-shadow">
                <td rowspan="3"><strong>Amfibier og reptiler</strong></td>
                <td>CR</td>
                <td class="td-number">31</td>
                <td class="td-number">16</td>
                <td class="td-number">27</td>
            </tr>

            <tr class="tr-shadow">
                <td>NT</td>
                <td class="td-number">3677</td>
                <td class="td-number">585</td>
                <td class="td-number">3329</td>
            </tr>

            <tr class="tr-shadow">
                <td>&mdash;</td>
                <td class="td-number">20375</td>
                <td class="td-number">3729</td>
                <td class="td-number">1659</td>
            </tr>

            <tr>
                <td rowspan="2"><strong>Fisk</strong></td>
                <td>RE</td>
                <td class="td-number">1</td>
                <td class="td-number">1</td>
                <td class="td-number">0</td>
            </tr>


            <tr>

                <td>CR</td>
                <td class="td-number">2</td>
                <td class="td-number">1</td>
                <td class="td-number">1</td>
            </tr>


        </table>

    </div>

    <footer class="page__footer">

    </footer>


</div>