<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro">

        <p>Husk at datagrunnlaget må forklares</p>
        <p>Forklart hvor ofte data oppdateres</p>

        <app-category-redlisted></app-category-redlisted>
    </div>

    <div class="page__content">

        <table>
<caption>Antall observasjoner i rødliste kategori</caption>
            <tr>
                <th>Artsgruppe</th>
                <th>Risikogruppe</th>
                <th class="tbl-number">Antall observasjoner</th>
                <th class="tbl-number">Med bilder</th>
                <th class="tbl-number">Kvalitetssjekket av validator*</th>
                <th class="tbl-number">Kvalitetssjekket og godkjent av validator**</th>
            </tr>

            <tr>
                <th rowspan="6" scope="row"><strong>Alger</strong></th>
                <td>CR</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">0</td>
                <td class="tbl-number">1</td>
                <td></td>
            </tr>
            <tr>
                <td>EN</td>
                <td class="tbl-number">9</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">3</td>
                <td></td>
            </tr>
            <tr>
                <td>VU</td>
                <td class="tbl-number">54</td>
                <td class="tbl-number">0</td>
                <td class="tbl-number">15</td>
                <td></td>
            </tr>
            <tr>
                <td>NT</td>
                <td class="tbl-number">69</td>
                <td class="tbl-number">12</td>
                <td class="tbl-number">40</td>
                <td></td>
            </tr>
            <tr>
                <td>DD</td>
                <td class="tbl-number">5</td>
                <td class="tbl-number">3</td>
                <td class="tbl-number">3</td>
                <td></td>
            </tr>
            <tr>
                <td>&mdash;</td>
                <td class="tbl-number">7880</td>
                <td class="tbl-number">1831</td>
                <td class="tbl-number">149</td>
                <td></td>
            </tr>

            <tr class="tr-shadow">
                <th rowspan="3" scope="row"><strong>Amfibier og reptiler</strong></th>
                <td>CR</td>
                <td class="tbl-number">31</td>
                <td class="tbl-number">16</td>
                <td class="tbl-number">27</td>
                <td></td>
            </tr>

            <tr class="tr-shadow">
                <td>NT</td>
                <td class="tbl-number">3677</td>
                <td class="tbl-number">585</td>
                <td class="tbl-number">3329</td>
                <td></td>
            </tr>

            <tr class="tr-shadow">
                <td>&mdash;</td>
                <td class="tbl-number">20375</td>
                <td class="tbl-number">3729</td>
                <td class="tbl-number">1659</td>
                <td></td>
            </tr>

            <tr>
                <th rowspan="2" scope="row"><strong>Fisk</strong></th>
                <td>RE</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">0</td>
                <td></td>
            </tr>


            <tr>

                <td>CR</td>
                <td class="tbl-number">2</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">1</td>
                <td></td>
            </tr>


        </table>


        *Inkluderer alle valideringskategorier bortsett fra 'Ikke validert (funnet er ikke kvalitetssikret)'.  

** Har en av følgende valideringskategorier: Godkjent basert på observatørens opplysninger; Godkjent. Belegg gransket av validator; Godkjent. Foto eller lyd godkjent av validator; Godkjent basert på determinators verifisering; Godkjent, basert på en tidligere sjeldenhetsrapport; Godkjent, funnet er sannsynlig.  

    </div>

    <footer class="page__footer">

    </footer>


</div>