<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro">

        <p>Husk at datagrunnlaget må forklares</p>
        <p>Forklart hvor ofte data oppdateres</p>

        <ul>
            <li>antall rødlistede arter etter artsgruppe</li>
            <li>med rødliste kategori</li>
            <li>totalt</li>
            <li>med bilde</li>
            <li>validerte</li>
            <li>godkjent</li>
            <li>publisert</li>
            <li>ikke slettet</li>
            <li>ikke underkjent</li>
            <li>inkluderte skjermede arter</li>
            <li>ekskludere de som er i dialog</li>
            <li>observasjoner, ikke sammenslåtte osv (samsvar med det som overføres til artskart)</li>
            
            <li>inkludert spor (fotavtrykk, bæsj, rede)</li>
            
            <li>ikke vis tall for ikke funnet og ikke gjennfunnet</li>
            <li></li>
            <li></li>
            <li></li>
      
        </ul>


        <app-category-redlisted></app-category-redlisted>
    </div>

    <div class="page__content">

        <table>

            <tr>
                <th>Artsgruppe</th>
                <th>Risikogruppe</th>
                <th class="tbl-number">Totalt</th>
                <th class="tbl-number">Med bilder</th>
                <th class="tbl-number">Validerte</th>
            </tr>

            <tr>
                <td rowspan="6" scope="row"><strong>Alger</strong></td>
                <td>CR</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">0</td>
                <td class="tbl-number">1</td>
            </tr>
            <tr>
                <td>EN</td>
                <td class="tbl-number">9</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">3</td>
            </tr>
            <tr>
                <td>VU</td>
                <td class="tbl-number">54</td>
                <td class="tbl-number">0</td>
                <td class="tbl-number">15</td>
            </tr>
            <tr>
                <td>NT</td>
                <td class="tbl-number">69</td>
                <td class="tbl-number">12</td>
                <td class="tbl-number">40</td>
            </tr>
            <tr>
                <td>DD</td>
                <td class="tbl-number">5</td>
                <td class="tbl-number">3</td>
                <td class="tbl-number">3</td>
            </tr>
            <tr>
                <td>&mdash;</td>
                <td class="tbl-number">7880</td>
                <td class="tbl-number">1831</td>
                <td class="tbl-number">149</td>
            </tr>

            <tr class="tr-shadow">
                <td rowspan="3" scope="row"><strong>Amfibier og reptiler</strong></td>
                <td>CR</td>
                <td class="tbl-number">31</td>
                <td class="tbl-number">16</td>
                <td class="tbl-number">27</td>
            </tr>

            <tr class="tr-shadow">
                <td>NT</td>
                <td class="tbl-number">3677</td>
                <td class="tbl-number">585</td>
                <td class="tbl-number">3329</td>
            </tr>

            <tr class="tr-shadow">
                <td>&mdash;</td>
                <td class="tbl-number">20375</td>
                <td class="tbl-number">3729</td>
                <td class="tbl-number">1659</td>
            </tr>

            <tr>
                <td rowspan="2" scope="row"><strong>Fisk</strong></td>
                <td>RE</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">0</td>
            </tr>


            <tr>

                <td>CR</td>
                <td class="tbl-number">2</td>
                <td class="tbl-number">1</td>
                <td class="tbl-number">1</td>
            </tr>


        </table>

    </div>

    <footer class="page__footer">

    </footer>


</div>