<!--shareable non dummy component-->

<div class="non-dummy">

    <dl class="species-categories">
        
        <dt class="species-categories__cat species-categories__cat--se">SE</dt>
        <dd>Svært høy risiko</dd>
        
        <dt class="species-categories__cat species-categories__cat--hi">HI</dt>
        <dd>Høy risiko</dd>
    
        <dt class="species-categories__cat species-categories__cat--ph">PH</dt>
        <dd>Potensielt høy risiko</dd>
    
        <dt class="species-categories__cat species-categories__cat--lo">LO</dt>
        <dd>Lav risiko</dd>
    
        <dt class="species-categories__cat species-categories__cat--nk">NK</dt>
        <dd>Ingen kjent risiko</dd>
    
        <dt class="species-categories__cat species-categories__cat--nr">NR</dt>
        <dd>Ikke vurdert</dd>
    
    </dl>
    
    
    </div>
    
    <!--shareable non dummy component-->
    
    
    
    