<div class="component">
    <header class="component__header"></header>
    <div class="component__content">

        <div class="gallery">
            <figure class="gallery__item">
                <img src="./assets/images/gallery/leopard.jpg" alt="">
                <figcaption></figcaption>
            </figure>

            <figure class="gallery__item">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>

            <figure class="gallery__item">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>


    </div>
    <footer class="component__footer"></footer>
</div>