<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst
        </p>
    </div>

    <div class="page__content">


        <!-- <div class="loop loop--cards">

            <app-card [type]="'link'" [url]="'/dashboard'" [title]="'Min profil'"></app-card>
            <app-card [type]="'link'" [url]="'/dashboard'" [title]="'Mine lisenser'"></app-card>
            <app-card [type]="'link'" [url]="'/dashboard'" [title]="'Meldinger'"></app-card>

        </div>

        <br>
        <br>
        <br>

        <div class="loop loop--cards">

            <app-card [type]="'link'" [url]="'/dashboard'" [title]="'Mine observasjoner'"></app-card>
            <app-card [type]="'link'" [url]="'/dashboard'" [title]="'Min feltdagbok'"></app-card>
            <app-card [type]="'link'" [url]="'/dashboard'" [title]="'Min statistikk'"></app-card>

        </div> -->


        <div class="loop loop--cards">

            <app-card [type]="'link'" [url]="getLinkUrl(link.url)" [title]="link.title" *ngFor="let link of menuSections$ | async">
            </app-card>

        </div>

    </div>

    <footer class="page__footer"></footer>

</div>