<!--layout component-->

<!-- <select class="language-switcher" [(ngModel)]="selectedLanguage" #lang (change)="onChange(lang.value)">
    <option *ngFor="let language of translationService.languages; let i = index" lang="{{ language.code }}"
        [attr.hreflang]="language.code" [value]="language.code">
        {{ language.name }}
    </option>
</select> -->

<button class="language-switcher" [ngClass]="{'language-switcher--active': currentLanguage === 'en'}" lang="en"
    (click)="switchLanguage('en')">English</button>
|
<button class="language-switcher" [ngClass]="{'language-switcher--active': currentLanguage === 'no'}" lang="no"
    (click)="switchLanguage('no')">Norsk</button>

<!--layout component-->