<div class="page">

  <header class="page__header"></header>

  <div class="page__intro"> </div>

  <div class="page__content">

    <div class="press">

      <ng-container *ngIf="announcements$ | async as announcements; else noData">

        <h1 class="page-title" style="display: inline;">{{ 'menu.menu_announcements' | translate }}</h1>

        <br>
        <br>

        <div class="loop loop--2x">

          <app-teaser 
              *ngFor="let item of announcements | slice: 0 : 4"
              [type]="'icon'" 
              [icon]="item.tags" 
              [url]="'/announcements/' + item.url"
              [tag]="'news.currently' | translate" 
              [date]="item.published" 
              [title]="item.heading | stripHtml"> 
          </app-teaser>

        </div>

        <br><br>
        <a routerLink="/announcements" class="button button--cta button--centered">{{ 'headings.announcements' | translate }}</a>
       
      </ng-container>

      <br>
      <br>

      <div *ngIf="news$ | async as news; else noData">

        <h1 class="page-title">{{ 'menu.menu_news' | translate }}</h1>

        <div class="loop loop--news">

          <app-teaser 
            *ngFor="let item of news | slice: 0 : 6"
            [type]="'img'" 
            [source]="item.imgUrl" 
            [url]="'/news/' + item.url" 
            [tag]="'news.currently' | translate"
            [date]="item.created" 
            [title]="item.heading | stripHtml" 
            [text]="item.body | truncateText: 150 | stripHtml"> 
          </app-teaser>

        </div>

        <br><br>

        <a routerLink="/news" class="button button--cta button--centered">{{ 'headings.news' | translate }}</a>

      </div>

    </div>

    <ng-template #noData>
      <app-error-response></app-error-response>
    </ng-template>

  </div>

  <footer class="page__footer"></footer>

</div>