<div class="page">

  <header class="page__header"></header>

  <div class="page__intro"> </div>

  <div class="page__content">

    <div class="press">

      <ng-container *ngIf="announcements$ | async as announcements; else noData">

        <h1 class="page-title">{{ 'menu.menu_announcements' | translate }}</h1>

        <div class="loop loop--2x">

          <a routerLink="/announcements/{{ item.url }}" class="box" [class]="'box--' + item.icon"
            *ngFor="let item of announcements | slice: 0 : 4">

            <h1 class="box__heading">{{ item.title }}</h1>
            <div class="box__details">
              {{ item.published | localizedDate }},
              {{ 'shared.at' | translate }} {{ item.published | date: 'hh:mm' }}
            </div>
            <div class="box__content" [innerHTML]="item.body | truncateText: 120 | stripHtml"></div>

          </a>

        </div>

      </ng-container>

      <br>
      <br>

      <div *ngIf="news$ | async as news; else noData">

        <h1 class="page-title">{{ 'menu.menu_news' | translate }}</h1>

        <div class="loop loop--news">

          <app-teaser [source]="item.imgUrl" [url]="item.url" [tag]="'news.currently' | translate" [date]="item.created"
            [title]="item.title" [text]="item.body | stripHtml" *ngFor="let item of news | slice: 0 : 6"> </app-teaser>

        </div>

      </div>

    </div>

    <ng-template #noData>
      <app-error-response></app-error-response>
    </ng-template>

  </div>

  <footer class="page__footer"></footer>

</div>