<!--REUSABLE COMPONENT-->

<!-- <a class="teaser" [ngClass]="cssClass" [routerLink]="[url]" routerLinkActive="teaser--active">
    <h1 class="teaser__heading">{{ title }}</h1>
 
    
    <div class="teaser__details">
        <div class="teaser__tag">{{ tag }}</div>
        <div class="teaser__date">{{ date | date: 'dd.MM.yyyy'}}</div>
    </div>
    <p class="teaser__text" [innerHtml]="text | truncateText: 150"></p>
</a> -->

<a class="teaser" [ngClass]="cssClass" [routerLink]="[url]" routerLinkActive="teaser--active">

    <img class="teaser__image" src="{{ source }}" alt="" *ngIf="source" [attr.aria-hidden]="true">
    
    <div class="teaser__img-wrapper">
        <div class="teaser__img"></div>
    </div>

    <h1 class="teaser__heading">{{ title }}</h1>

    <div class="teaser__details">
        <div class="teaser__tag">{{ tag }}</div>
        <div class="teaser__date">{{ date | date: 'dd.MM.yyyy'}}</div>
    </div>
    <p class="teaser__text" [innerHtml]="text | truncateText: 150"></p>

</a>


<!--REUSABLE COMPONENT-->