<!--layout component-->

<header class="header" role="banner">
    <app-logo class="header__cell"></app-logo>
    <app-subnavigation class="header__cell"></app-subnavigation>
    <app-site-search class="header__cell"></app-site-search>
    <app-navigation class="header__cell"></app-navigation>
    <app-breadcrumbs class="header__cell"></app-breadcrumbs>
</header>


<!-- <header class="header-mobile" role="banner">
    <app-logo></app-logo>
    <app-hamburger></app-hamburger>
</header> -->

<!--layout component-->