<!--layout component-->

<nav class="navigation navigation--primary" role="navigation">

    <div class="navigation__container">

        <div class="navigation__item" *ngFor="let menuItem of mainMenu; let first = first">

            <h1 class="navigation__heading">

                <a class="navigation__heading-link" routerLink="/{{ menuItem.path }}" closeMenu>
                    {{ first }} {{ menuItem.heading | translate }}
                </a>

            </h1>

            <div class="navigation__section">

                <a role="menuitem" class="navigation__link" [class]="'navigation__link--' + child.rank"
                    #navigationElement routerLinkActive="navigation__link--active" routerLink="/{{ child.path }}"
                    *ngFor="let child of menuItem.children" closeMenu>

                    <span class="navigation__label">{{ child.heading | translate }} </span>

                </a>

            </div>

        </div>

    </div>

</nav>

<!--layout component-->