<!--layout component-->

<nav class="navigation navigation--primary" role="navigation">

    <div class="navigation__container">

        <div class="navigation__item" *ngFor="let menuItem of mainMenu">

            <h1 class="navigation__heading">
                <a class="navigation__heading-link" routerLink="/{{ menuItem.path }}" closeMenu>
                    {{ menuItem.heading | translate }}
                </a>
            </h1>

            <div class="navigation__section">

                <a class="navigation__link" [class]="getStyle(child.rank, 'link')"
                    routerLinkActive="navigation__link--active" routerLink="/{{ child.path }}"
                    *ngFor="let child of menuItem.children" closeMenu>

                    <span class="navigation__label"> {{ child.heading | translate }} </span>

                </a>

            </div>

        </div>

        <!-- <app-subnavigation></app-subnavigation> -->

    </div>

</nav>

<!--layout component-->