<div class="page page--item">

    <header class="page__header">

        <h1 class="page-title">Panda</h1>
        <h2 class="page-subtitle italics">Ailuropoda melanoleuca</h2>

    </header>

    <div class="page__intro">

        <table class="table-styleless">
            <tr>
                <th>Dato </th>
                <td>2020.09.20</td>
            </tr>
            <tr>
                <th>Tid </th>
                <td>13:37</td>
            </tr>
            <tr>
                <th>Sted / lokalitet</th>
                <td>Trondheim, Trøndelag
                    <!-- <button class="button button--sm">Se i kart</button> -->
                </td>
            </tr>

            <tr>
                <th>Antall og enhet</th>
                <td> 1</td>
            </tr>


            <tr>
                <th>Kjønn</th>
                <td> Hannkjønn</td>
            </tr>


            <tr>
                <th> Alder</th>
                <td> </td>
            </tr>


            <tr>
                <th> Publisert</th>
                <td> </td>
            </tr>


            <tr>
                <th>Validert </th>
                <td> </td>
            </tr>

            <tr>
                <th>Sist endret</th>
                <td></td>
            </tr>

            <tr>
                <th> Rapportør</th>
                <td> Per Persson</td>
            </tr>


            <tr>
                <th> Medobservatør</th>
                <td> Ole Olesen</td>
            </tr>

            <tr>
                <th>Biotop</th>
                <td>NA T41 Eng-liknende oppdyrket mark</td>
            </tr>

            <tr>
                <th>Biotopbeskrivelse</th>
                <td></td>
            </tr>

            <tr>
                <th>Art som substrat</th>
                <td></td>
            </tr>

            <tr>
                <th>Art som substrat, beskrivelse</th>
                <td></td>
            </tr>

            <tr>
                <th>Antall substrat</th>
                <td></td>
            </tr>

            <tr>
                <th>Substratbeskrivelse</th>
                <td></td>
            </tr>

            <!-- <tr>
                <th></th>
                <td></td>
            </tr> -->

        </table>

    </div>

    <div class="page__content">

        <figure class="image">
            <img class="" src="/assets/images/gallery/panda.jpg" alt="">

            <figcaption>Proin pharetra vestibulum erat quis ultrices. Pellentesque sit amet est et purus accumsan
                laoreet. </figcaption>
        </figure>

        <div class="validation">
            <h3>Kvalitetssikre observasjonen</h3>

            <div class="loop loop--buttons loop--center">
                <button class="button">Enig med artsbestemmelse</button>
                <button class="button">Uenig med artsbestemmelse</button>
            </div>
        </div>

        <h3>Kommentarer på observasjonen</h3>

        <dic class="comments">

            <div class="comment">
                <div class="comment__author">
                    <span>Leiv Eriksson</span>


                    <div class="rewards rewards--0"></div>
                    <div class="rewards rewards--1"></div>
                </div>
                <div class="comment__metadata">
                    <span class="comment__date">20.10.2020</span>

                </div>
                <div class="comment__text">
                    Duis ultrices blandit tellus ac pretium. Integer sapien sem, consectetur at arcu a, dignissim
                    scelerisque massa. Phasellus blandit, libero id efficitur interdum, erat tortor interdum eros, ac
                    condimentum mi est ut nisl. Mauris tristique mi magna, a imperdiet sem congue vel.
                </div>
            </div>

            <div class="comment">
                <div class="comment__author">

                    <span>Thorfinn Karlsefni</span>
                    <div class="rewards rewards--3"></div>
                </div>
                <div class="comment__metadata">
                    <span class="comment__date">20.10.2020</span>

                </div>
                <div class="comment__text">
                    Libero id efficitur interdum, erat tortor interdum eros, ac
                    condimentum mi est ut nisl. Mauris tristique mi magna, a imperdiet sem congue vel.
                </div>
            </div>

            <div class="comment">
                <div class="comment__author">
                    <span>Leiv Eriksson</span>


                    <div class="rewards rewards--0"></div>
                    <div class="rewards rewards--1"></div>
                </div>
                <div class="comment__metadata">
                    <span class="comment__date">20.10.2020</span>

                </div>
                <div class="comment__text">
                    Duis ultrices blandit tellus ac pretium. Integer sapien sem, consectetur at arcu a, dignissim
                    scelerisque massa. Phasellus blandit, libero id efficitur interdum, erat tortor interdum eros, ac
                    condimentum mi est ut nisl. Mauris tristique mi magna, a imperdiet sem congue vel.
                </div>
            </div>

        </dic>
    </div>

    <footer class="page__footer"> </footer>


</div>