<div class="page page--item">

    <header class="page__header">

        <h1 class="page-title">Panda</h1>
        <h2 class="page-subtitle italics">Ailuropoda melanoleuca</h2>

    </header>

    <div class="page__intro">

        <table class="table-styleless">
            <tr>
                <th>Dato </th>
                <td>2020.09.20</td>
            </tr>
            <tr>
                <th>Sted / lokalitet</th>
                <td>Trondheim, Trøndelag <button class="button button--sm">Se i kart</button></td>
            </tr>
        </table>

    </div>

    <div class="page__content">

        <figure class="image">
            <img class="" src="/assets/images/gallery/panda.jpg" alt="">

            <figcaption>Proin pharetra vestibulum erat quis ultrices. Pellentesque sit amet est et purus accumsan
                laoreet. </figcaption>
        </figure>

    </div>

    <footer class="page__footer"> </footer>


</div>