<div class="page page--item">

    <header class="page__header">

        <h1 class="page-title">Panda</h1>
        <h2 class="page-subtitle italics">Ailuropoda melanoleuca</h2>

    </header>

    <div class="page__intro">

        <table class="table-styleless">
            <tr>
                <th>Dato </th>
                <td>2020.09.20</td>
            </tr>
            <tr>
                <th>Tid </th>
                <td>13:37</td>
            </tr>
            <tr>
                <th>Sted / lokalitet</th>
                <td>Trondheim, Trøndelag
                    <!-- <button class="button button--sm">Se i kart</button> -->
                </td>
            </tr>

            <tr>
                <th>Antall og enhet</th>
                <td> 1</td>
            </tr>


            <tr>
                <th>Kjønn</th>
                <td> Hannkjønn</td>
            </tr>


            <tr>
                <th> Alder</th>
                <td> </td>
            </tr>


            <tr>
                <th> Publisert</th>
                <td> </td>
            </tr>


            <tr>
                <th>Validert </th>
                <td> </td>
            </tr>

            <tr>
                <th>Sist endret</th>
                <td></td>
            </tr>

            <tr>
                <th> Rapportør</th>
                <td> Per Persson</td>
            </tr>


            <tr>
                <th> Medobservatør</th>
                <td> Ole Olesen</td>
            </tr>

            <tr>
                <th>Biotop</th>
                <td>NA T41 Eng-liknende oppdyrket mark</td>
            </tr>

            <tr>
                <th>Biotopbeskrivelse</th>
                <td></td>
            </tr>

            <tr>
                <th>Art som substrat</th>
                <td></td>
            </tr>

            <tr>
                <th>Art som substrat, beskrivelse</th>
                <td></td>
            </tr>

            <tr>
                <th>Antall substrat</th>
                <td></td>
            </tr>

            <tr>
                <th>Substratbeskrivelse</th>
                <td></td>
            </tr>

            <!-- <tr>
                <th></th>
                <td></td>
            </tr> -->

        </table>

        <dic class="comments">
            <div class="comment">
                <div class="comment__author">Leiv Eriksson</div>
            </div>
        </dic>

    </div>

    <div class="page__content">

        <figure class="image">
            <img class="" src="/assets/images/gallery/panda.jpg" alt="">

            <figcaption>Proin pharetra vestibulum erat quis ultrices. Pellentesque sit amet est et purus accumsan
                laoreet. </figcaption>
        </figure>



    </div>

    <footer class="page__footer"> </footer>


</div>