<div class="page page--landing">

    <header class="page__header"></header>

    <div class="page__intro"></div>

    <div class="page__content">

        <br>

        <div class="loop loop--intersections">

            <!-- <app-intersection *ngFor="let menuItem of subMenu" [url]="menuItem.path"
                [text]="menuItem.heading | translate">
            </app-intersection> -->

            <app-intersection [url]="''" [text]="'Søk arter'"> </app-intersection>
            <app-intersection [url]="''" [text]="'Søk i kart'"> </app-intersection>
            <app-intersection [url]="''" [text]="'Søk i område'"> </app-intersection>
            <app-intersection [url]="''" [text]="'Søk observasjoner'"> </app-intersection>


        </div>

    </div>

    <footer class="page__footer"></footer>

</div>