<div class="page" *ngIf="newsItem">

    <header class="page__header">
        <h1 class="page__title" [innerHtml]="pageTitle"></h1>
    </header>

    <div class="page__intro">
        <!-- <figure class="featured-image page__image" *ngIf="featuredImage">
            <img class="featured-image__img" src="{{ featuredImage.sourceUrl }}" alt="{{ featuredImage.altText }}">
            <figcaption [innerHtml]="featuredImage.caption"></figcaption>
        </figure> -->

    </div>

    <div class="page__content" *ngIf="newsItem">

        <div class="date">{{ newsItem.created | date: 'dd.MM.yyyy'}}</div>

        <div class="page__body" [innerHtml]="newsItem.body"></div>

    </div>

    <footer class="page__footer"></footer>

</div>