<div class="bg"></div>

<div class="page article">

    <header class="article__header">
        <h1 class="article__title" [innerHtml]="pageTitle"></h1>
    </header>

    <div class="article__intro">

        <figure class="featured-image article__image">
            <img class="featured-image__img" src="{{ post.imgUrl }}" alt="">
        </figure>

    </div>

    <div class="article__content">

        <div class="article__body" [innerHtml]="post.content"></div>

    </div>

    <footer class="article__footer"></footer>

</div>