<!--REUSABLE COMPONENT-->

<div class="accordion" [class]="'accordion--' + style">

    <h2 class="accordion__header">
  
      <button class="accordion__button" [ngClass]="{ 'accordion__button--active': opened }" id="{{ headerId }}"
        [attr.aria-expanded]="opened" [attr.aria-controls]="panelId" (click)="toggle.emit()" [innerHTML]="heading">
        <!-- {{ heading }} -->
      </button>
  
    </h2>
  
    <div class="accordion__body" [ngClass]="{'accordion__body--expanded': opened}" id="{{ panelId }}"
      [attr.aria-labelledby]="headerId">
      <ng-content></ng-content>
    </div>
  
  </div>
  
<!--REUSABLE COMPONENT-->