<div class="page page--landing">

    <header class="page__header"></header>

    <div class="page__intro" *ngIf="!location">

        <p>Ingress og annen nødvendig tekst</p>

    </div>

    <div class="page__content">

        <div *ngIf="announcements$ | async as announcements; else noData">

            <div class="loop loop--2x">

                <app-teaser 
                    *ngFor="let item of announcements | slice: 0 : 4"
                    [type]="'icon'" 
                    [icon]="item.tags" 
                    [url]="'/announcements/' + item.url"
                    [tag]="'news.currently' | translate" 
                    [date]="item.published" 
                    [title]="item.heading | stripHtml"
                    [text]="item.body | truncateText: 120 | stripHtml"> 
                </app-teaser>

            </div>

        </div>

        <ng-template #noData>
            <app-error-response></app-error-response>
        </ng-template>

    </div>

    <footer class="page__footer"></footer>

</div>