<!--layout component-->

<nav class="navigation navigation--extra navigation--special" role="navigation">

    <div class="navigation__container">

        <!--extra links-->
        <div class="navigation__item">

            <div class="navigation__section navigation__section--special">

                <ng-container *ngFor="let link of extraMenu; let last = last">

                    <ng-container *ngIf="last;">

                        <a class="navigation__link navigation__link--special"
                            routerLinkActive="navigation__link--active" routerLink="{{ link.path }}"
                            #lastNavigationElement closeMenu>
                            <span class="navigation__label"> {{ link.heading | translate }}</span>
                        </a>

                    </ng-container>

                    <ng-container *ngIf="!last">

                        <a class="navigation__link navigation__link--special"
                            routerLinkActive="navigation__link--active" routerLink="{{ link.path }}" closeMenu>
                            <span class="navigation__label"> {{ link.heading | translate }}</span>
                        </a>

                    </ng-container>

                </ng-container>

            </div>

        </div>
        <!--extra links-->

    </div>

</nav>


<!--layout component-->