<div class="page page--frontpage frontpage">

    <!--intro-->
    <div class="frontpage__section frontpage__section--single-column">

        <div class="frontpage__cell">
            <h2>
                Introtekst om Artsobservasjoner. Pellentesque habitant morbi tristique senectus et netus et malesuada
            </h2>
        </div>

    </div>

    <!--intro-->

    <!--top-->
    <div class="frontpage__section frontpage__section--colored">

        <div class="frontpage__cell frontpage__cell--narrow frontpage__cell--top">
            <div>
                <form class="form" action="">
                    <label for="species">Artsnavn</label>
                    <input type="text" name="species" id="species" placeholder="Carcharodon carcharias - hvithai">


                    <label for="species">Dato</label>

                    <div class="form__grid form__grid--3">
                        <input type="date" name="date">
                        <input type="time" name="tid">
                        <button class="button button--primary">Akkurat nå</button>
                    </div>

                    <label for="species">Sted</label>
                    <div class="form__grid form__grid--3">

                        <input type="text" name="Sted">
                        <button class="button button--primary">Marker på kart</button>
                        <button class="button button--primary">Hent fra GPS</button>

                    </div>

                    <!-- <input type="submit" value="Send inn" class="button button--cta"> -->
                </form>
            </div>
        </div>
        <div class="frontpage__cell frontpage__cell--auto-width frontpage__cell--colored frontpage__cell--top">
            <button type="submit" value="Send inn" class="button button--cta button--styleless">
                <h2 style="margin: 0;">Rapporter hva du har sett!</h2>
            </button>
        </div>


    </div>
    <!--top-->

    <!--content-->
    <div class="frontpage__section frontpage__section--column">

        <h2>Siste observasjoner</h2>
        <app-sightings></app-sightings>
    </div>
    <!--content-->

    <!--services-->

    <div class="frontpage__section frontpage__section--column frontpage__section--colored2">

        <h2>Snarveier</h2>

        <div class="loop loop--cards">

            <app-card [type]="'link'" [url]="'/report-observation'" [title]="'Rapportere observasjon'"></app-card>
            <app-card [type]="'link'" [url]="'/observations'" [title]="'Se, søk og filtrer observasjoner'"></app-card>
            <app-card [type]="'link'" [url]="'/dashboard'" [title]="'Mine observasjoner'"></app-card>
            <app-card [type]="'link'" [url]="'/statistics'" [title]="'Fremmede arter'"></app-card>

        </div>
    </div>

    <!--services-->

    <!--extras-->

    <div class="frontpage__section frontpage__section--colored1" style="padding: 100px 30px;">

        <div class="frontpage__cell">
            <h2 style="margin: 0;">Visste du at du kan opprette dine egne prosjekter og la andre rapportere observasjoner på dem?</h2>
        </div>
        <div class="frontpage__cell frontpage__cell--centered frontpage__cell--colored3">
            <a href="" class="button button--cta button--xl button--centered">Opprett prosjekt</a>
        </div>

    </div>

    <!--extras-->

    <!--news & articles-->

    <div class="frontpage__section frontpage__section--column frontpage__section--colored3">

        <h2>Siste nytt</h2>

        <div class="loop loop--teasers">
            <app-teaser [source]="'animal1'" [url]="'/'" [text]="loremIpsum" [tag]="'Aktuelt'" [date]="'04.10.2020'"
                [title]="'Aktuell etian eilefend laooreet'"> </app-teaser>
            <app-teaser [source]="'animal2'" [url]="'/'" [text]="loremIpsum" [tag]="'Nyhet'" [date]="'22.09.2020'"
                [title]="'Aktuell nullam accusam sagittis'"> </app-teaser>
            <app-teaser [source]="'animal3'" [url]="'/'" [text]="loremIpsum" [tag]="'Kunngjøring'" [date]="'19.08.2020'"
                [title]="'Aktuell placerat extristique velit tiemole'"> </app-teaser>
            <app-teaser [source]="'animal6'" [url]="'/'" [text]="loremIpsum" [tag]="'Kunngjøring'" [date]="'13.07.2020'"
                [title]="'Aktuell lorem ipsum nullam felsi sed tristique'"> </app-teaser>
        </div>

        <div class="centered"><a class="button button--centered" href="">Flere nyheter</a></div>

    </div>

    <!--news & articles-->

    <!--extras-->

    <div class="frontpage__section" style="padding: 100px 30px;">

        <div class="frontpage__cell">
            <h2 style="margin: 0;">Lyst til å hjelpe oss å kvalitetssikre artsobservasjoner?</h2>
        </div>
        <div class="frontpage__cell frontpage__cell--centered frontpage__cell--colored3">
            <a href="" class="button button--cta button--xl button--centered">Bli validator!</a>
        </div>

    </div>

    <!--extras-->





    <!--bottom-->

    <!-- <div class="frontpage__section"></div> -->

    <!--bottom-->

</div>