<div class="frontpage">

    <!-- <header class="page__header"></header>


    <div class="page__intro">

    </div>

    <div class="page__content"> -->



    <!--top-->
    <div class="frontpage__section">

        <div class="frontpage__cell">
            <div class="form">
                <form action="">
                    <label for="species">Artsnavn</label>
                    <input type="text" name="species" id="species">


                    <label for="species">Dato</label>
                    <input type="text" name="date">

                    <label for="species">Sted</label>
                    <input type="text" name="location">


                    <input type="submit" value="Send inn" class="button button--cta">
                </form>
            </div>
        </div>
        <div class="frontpage__cell">
            <h1>Send inn observasjon raskt!</h1>
        </div>


    </div>


    <!--content-->
    <div class="frontpage__section">
        <app-sightings></app-sightings>
    </div>
    <!--content-->

    <!--extras-->

    <div class="frontpage__section"></div>


    <!--news & articles-->
    <div class="frontpage__section"></div>


    <!--bottom-->
    <div class="frontpage__section"></div>



    <!-- </div>

    <footer class="page__footer"></footer> -->

</div>