<!--layout component-->

<div class="dashboard" [ngClass]="{'dashboard--subheader': location === 'subheader'}">

    <button class="dashboard-toggle" id="dashboardToggleButton"
        [ngClass]="{'dashboard-toggle--open': showDashboardPane, 'dashboard-toggle--active': isLoggedIn}"
        (click)="toggleDashboard()" arial-label="Åpne og lukke innloggingsmenyen" clickElsewhere>

        <span *ngIf="!isLoggedIn">Logg inn</span>
        <span *ngIf="isLoggedIn">Min side</span>

    </button>

    <div class="dashboard-pane" id="dashboardPane" [ngClass]="{'dashboard-pane--open': showDashboardPane}"
        [attr.arial-expanded]="showDashboardPane">

        <div class="dashboard-pane__item dashboard-pane__item--tall dashboard-pane__item--first" *ngIf="!isLoggedIn">

            <p>
                Velkommen til Artsobservasjoner. Logg deg inn med brukernavn og passord.
            </p>

            <form action="">
                <label for="usermail">E-post</label>
                <input type="text" id="usermail" placeholder="Angi e-post">
                <br>
                <label for="userpassword">Passord</label>
                <input type="password" id="userpassword" placeholder="Angi passord">

                <div style="font-size: 14px; margin: 10px 0 15px; text-align: center;">Glemt brukernavn eller
                    passord?
                </div>

                <button style="width: 100%;" class="button button--sm button--primary button--centered"
                    (click)="login()">Logg inn</button>
                <br><br>
            </form>

        </div>

        <hr *ngIf="!isLoggedIn">

        <div class="dashboard-pane__item dashboard-pane__item--tall" *ngIf="!isLoggedIn">
            Ny bruker? &nbsp;<a routerLink="/register" closePane>Registrer deg nå</a>
        </div>

        <div class="dashboard-pane__item" *ngIf="isLoggedIn">
            <a class="top-navigation__link" routerLink="/user-profile" closePane>Min profil</a>
        </div>

        <div class="dashboard-pane__item dashboard-pane__item--messages" *ngIf="isLoggedIn">
            <a class="top-navigation__link top-navigation__link--messages" routerLink="/messages" closePane>
                Meldinger
            </a>
            <span style="color: red; font-weight: 700;">4 </span>
        </div>

        <br *ngIf="isLoggedIn">
        <hr *ngIf="isLoggedIn">

        <div class="dashboard-pane__item dashboard-pane__item--tall" *ngIf="isLoggedIn">
            Innlogget som <strong>Navn Navnesen</strong> med rolle som <strong>privat bruker</strong>.
            <br>
            <br>
            <div class="aligncenter">

                <select name="" id="changeRole">
                    <option value="">Bytte rolle?</option>
                    <option value="">Rolle 1</option>
                    <option value="">Rolle 2</option>
                    <option value="">Rolle 4</option>
                    <option value="">Rolle 5</option>
                    <option value="">Rolle 6</option>
                </select>
                &nbsp;&nbsp;
                <input type="submit" class="" value="Logge ut?" (click)="logout()">
            </div>

        </div>

    </div>


</div>

<!--layout component-->