<div class="page page--landing">

    <header class="page__header">
        <h1 class="page-title" [innerHtml]="pageTitle"></h1>
    </header>

    <div class="page__intro">
        <div *ngIf="aboutPage" [innerHtml]="aboutPage.intro"> </div>
    </div>

    <div class="page__content" *ngIf="aboutPage">

        <div *ngIf="aboutPage.body">

            <div [innerHtml]="aboutPage.body"></div>

        </div>

        <br>

        <!--ACCORDION if parent page has children in the form of attachments-->

        <app-accordion *ngIf="aboutPage.content">
            <app-accordion-item *ngFor="let content of aboutPage.content" [heading]="content.heading"
                [headerId]="getAccordionHeaderId(content.id)" [panelId]="getAccordionPanelId(content.id)"
                [shouldCloseOtherItems]="true">
                <div [innerHtml]="content.body"></div>
            </app-accordion-item>
        </app-accordion>

        <br>
        <br>

        <!--ACCORDION-->

    </div>

    <footer class="page__footer"></footer>

</div>