<div class="page page--landing">

    <header class="page__header">
        <h2 *ngIf="areaName$ | async as area">{{ area }}</h2>
    </header>

    <div class="page__intro"></div>

    <div class="page__content">

        <p class="body-text">{{ 'tables.tableDescription_countySpeciesList' | translate }}</p>

        <h3>{{ 'shared.filter' | translate }}</h3>

        <ng-container *ngIf="areaName$ | async as area">
            <app-filter [predefinedArea]="area"></app-filter>
        </ng-container>

        <br>
        <br>

        <div *ngIf="detailedData$ | async as detailedSpeciesData">

            <ng-container *ngIf="detailedSpeciesData.totalCount === 0">
                {{ 'shared.noResults' | translate }}
                <br><br>
            </ng-container>

            <div class="table-container" tabindex="0" role="region" aria-labelledby="caption1"
                style="min-width: 75%; width: auto;">

                <table *ngIf="detailedSpeciesData.totalCount > 0">

                    <caption id="caption1">Here comes a description</caption>

                    <thead>
                        <tr>
                            <th> {{ 'tables.tableHeading_species' | translate }}</th>
                            <th> {{ 'tables.tableHeading_species_firstSeen' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let item of detailedSpeciesData.results; let i = index">

                        <!--
                            NOTE: ng-template creates an scope so that when we toggle the expandable 
                            table-row, it only expands the one belonging to the correct item and not all of them
                        -->



                        <tr>
                            <td style="width: auto;">
                                <strong><i>{{ item.scientificName }}</i></strong>
                                <br>
                                <span style="font-size: 0.9em">{{ item.vernacularName }}</span>
                            </td>
                            <td style="width: 240px;">
                                {{ item.date | date: 'dd.MM.yyyy' }}
                            </td>
                            <td style="width: 50px;">
                                <button class="toggle" [ngClass]="{'toggle--active': buttonClicked === i}"
                                    (click)="toggle($event, i)"></button>
                            </td>
                        </tr>

                        <ng-container *ngIf="buttonClicked === i">

                            <tr class="tr-toggle" [ngClass]="{'tr-toggle--expanded': buttonClicked === i}">
                                <td colspan="3">
                                    <br><br><br><br><br>
                                    Eksempel data for takson {{ item.taxonId }}
                                    <br><br><br><br><br>
                                </td>
                            </tr>

                        </ng-container>

                    </tbody>

                </table>

            </div>

        </div>

        <br>
        <br>

        <!-- <app-pagination *ngIf="totalPages$ | async as totalPages" [totalPages]="totalPages"
            (switchedPage)="onPaginationClick($event)"></app-pagination> -->

    </div>

    <footer class="page__footer"></footer>

</div>