<div class="page page--landing">

    <header class="page__header">
        <h2 *ngIf="areaName$ | async as area">{{ area }}</h2>
    </header>

    <div class="page__intro"></div>

    <div class="page__content">

        <p class="body-text">{{ 'tables.tableDescription_countySpeciesList' | translate }}</p>

        <h3>{{ 'shared.filter' | translate }}</h3>

        <ng-container *ngIf="areaName$ | async as area">
            <app-filter [predefinedArea]="area"></app-filter>
        </ng-container>

        <br>
        <br>

        <div *ngIf="filteredData$ | async as detailedSpeciesData; else noData">

            <ng-container *ngIf="detailedSpeciesData.totalCount === 0">
                {{ 'shared.noResults' | translate }}
                <br><br>
            </ng-container>

            <div class="table-container" tabindex="0" role="region" aria-labelledby="caption1"
                style="min-width: 75%; width: auto;">

                <table *ngIf="detailedSpeciesData.totalCount > 0">

                    <caption id="caption1">Here comes a description</caption>

                    <thead>
                        <tr>
                            <th> {{ 'tables.tableHeading_species' | translate }}</th>
                            <th> {{ 'tables.tableHeading_species_firstSeen' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let item of detailedSpeciesData.results; let i = index">

                        <tr [ngClass]="{'tr-toggle-parent': buttonClicked === i}">

                            <td style="width: auto;">
                                <strong><i>{{ item.scientificName }}</i></strong>
                                <br>
                                <span style="font-size: 0.9em">{{ item.vernacularName }}</span>
                            </td>

                            <td style="width: 240px;">
                                {{ item.date | date: 'dd.MM.yyyy' }}
                            </td>

                            <td style="width: 50px;">

                                <button class="toggle" [ngClass]="{'toggle--active': buttonClicked === i}"
                                    (click)="toggle($event, i, item.taxonId)"></button>

                            </td>

                        </tr>

                        <tr class="tr-toggle" [ngClass]="{'tr-toggle--expanded': buttonClicked === i}"
                            *ngIf="buttonClicked === i">

                            <td colspan="3">

                                <div class="tr-toggle__content" *ngIf="item.taxonData | async as taxonData">

                                    <p>{{ taxonData.scientificName.auctor }}</p>

                                    <h1
                                        *ngIf="taxonData.scientificNameSynonyms.length > 0 || taxonData.vernacularNameSynonyms.length > 0">
                                        {{ 'shared.synonyms' | translate }}
                                    </h1>

                                    <div>

                                        <ng-container *ngIf="taxonData.scientificNameSynonyms">
                                            <span *ngFor="let synonym of taxonData.scientificNameSynonyms">
                                                <i>{{ synonym.name }}</i><br>
                                            </span>
                                        </ng-container>

                                        <ng-container *ngIf="taxonData.vernacularNameSynonyms">
                                            <span *ngFor="let synonym of taxonData.vernacularNameSynonyms">
                                                {{ synonym.name }}<br>
                                            </span>
                                        </ng-container>

                                    </div>

                                    <div *ngIf="taxonData.parentTaxons">

                                        <h1>{{ 'taxon.biologicalClassification' | translate }}</h1>

                                        <ng-container *ngFor="let parent of taxonData.parentTaxons">

                                            <strong>

                                                <app-taxon-classification
                                                    [taxonClassificationId]="parent.taxonCategoryId">
                                                </app-taxon-classification>

                                                : &nbsp;  

                                            </strong>

                                            <span>{{ parent.scientificName }}</span>

                                            <span *ngIf="parent.vernacularName">
                                                ( {{ parent.vernacularName }} )
                                            </span>

                                            <br>

                                        </ng-container>

                                    </div>

                                </div>

                                <!-- <ng-container *ngIf="taxonData$ | async as taxonData"> 

                                    <p>{{ taxonData.scientificName.auctor }}</p>

                                    <h1
                                        *ngIf="taxonData.scientificNameSynonyms.length > 0 || taxonData.vernacularNameSynonyms.length > 0">
                                        {{ 'shared.synonyms' | translate }}
                                    </h1>

                                    <div>

                                        <ng-container *ngIf="taxonData.scientificNameSynonyms">
                                            <span *ngFor="let synonym of taxonData.scientificNameSynonyms">
                                                <i>{{ synonym.name }}</i><br>
                                            </span>
                                        </ng-container>

                                        <ng-container *ngIf="taxonData.vernacularNameSynonyms">
                                            <span *ngFor="let synonym of taxonData.vernacularNameSynonyms">
                                                {{ synonym.name }}<br>
                                            </span>
                                        </ng-container>

                                    </div>

                                    <div *ngIf="taxonData.parentTaxons">
                                        <h1>{{ 'taxon.biologicalClassification' | translate }}</h1>

                                        <small *ngFor="let parent of taxonData.parentTaxons">

                                            <span style="color: #91534d">

                                                <app-taxon-classification
                                                    [taxonClassificationId]="parent.taxonCategoryId">
                                                </app-taxon-classification>

                                                &nbsp;
                                            </span>

                                            <strong>{{ parent.scientificName }}</strong>

                                            <ng-container *ngIf="parent.vernacularName">
                                                ( {{ parent.vernacularName }} )
                                            </ng-container>

                                            <br>
                                        </small>
                                    </div>

                                </ng-container>  -->

                            </td>

                        </tr>


                    </tbody>

                </table>

            </div>

        </div>

        <ng-template #noData>
            {{ 'shared.area_noAreaMessage' | translate }}
        </ng-template>
        <br>
        <br>

        <app-pagination *ngIf="totalPages$ | async as totalPages" [totalPages]="totalPages"
            (switchedPage)="onPaginationClick($event)"></app-pagination>

    </div>

    <footer class="page__footer"></footer>

</div>