<!--shareable non dummy component-->

<div class="non-dummy">

<dl class="species-categories">
    
    <dt>RE</dt>
    <dd>Regionalt utdødd</dd>
    
    <dt>CR</dt>
    <dd>Kritisk truet</dd>

    <dt>EN</dt>
    <dd>Sterkt truet</dd>

    <dt>VU</dt>
    <dd>Sårbar</dd>

    <dt>NT</dt>
    <dd>Nær truet</dd>

    <dt>DD</dt>
    <dd>Datamangel</dd>

    <dt>LC</dt>
    <dd>Livskraftig</dd>

    <dt>NA</dt>
    <dd>Ikke egnet</dd>

    <dt>NE</dt>
    <dd>Ikke vurdert</dd>

</dl>


</div>

<!--shareable non dummy component-->



