<!--shareable non dummy component-->

<div class="non-dummy">

<dl class="species-categories">
    
    <dt class="species-categories__cat species-categories__cat--re">RE</dt>
    <dd>Regionalt utdødd</dd>
    
    <dt class="species-categories__cat species-categories__cat--cr">CR</dt>
    <dd>Kritisk truet</dd>

    <dt class="species-categories__cat species-categories__cat--en">EN</dt>
    <dd>Sterkt truet</dd>

    <dt class="species-categories__cat species-categories__cat--vu">VU</dt>
    <dd>Sårbar</dd>

    <dt class="species-categories__cat species-categories__cat--nt">NT</dt>
    <dd>Nær truet</dd>

    <dt class="species-categories__cat species-categories__cat--dd">DD</dt>
    <dd>Datamangel</dd>

    <dt class="species-categories__cat species-categories__cat--lc">LC</dt>
    <dd>Livskraftig</dd>

    <dt class="species-categories__cat species-categories__cat--na">NA</dt>
    <dd>Ikke egnet</dd>

    <dt class="species-categories__cat species-categories__cat--ne">NE</dt>
    <dd>Ikke vurdert</dd>

</dl>


</div>

<!--shareable non dummy component-->



