<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Prosjekter
        </p>
    </div>

    <div class="page__content">


        <div class="cards">

            <app-card [type]="'link'" [url]="'create'" [title]="'Opprett prosjekt'"></app-card>
            <app-card [type]="'link'" [url]="'report'" [title]="'Mine prosjekter'"></app-card>
            <app-card [type]="'link'" [url]="'report'" [title]="'Rapporter prosjektobservasjon'"></app-card>

        </div>


    </div>

    <footer class="page__footer"></footer>

</div>