<div class="child">

    <h2 *ngIf="pageTitle$ | async as pageTitle">{{ pageTitle }}</h2>

    <div class="section">

        <!--toppobservatører-->

        <p> Observatører med flest observasjoner gjennom tidene. </p>

        <h3>{{ 'shared.filter' | translate }}</h3>

        <div class="loop">

            <div class="filter">

                <select name="speciesGroupsSelector" id="speciesGroups" [(ngModel)]="selectedSpeciesGroup"
                    (ngModelChange)="onSpeciesGroupSelection($event)">

                    <option [ngValue]="null">
                        {{ 'shared.select_speciesGroups' | translate }}
                    </option>

                    <option [value]="sg.id" *ngFor="let sg of speciesGroups$ | async">
                        <ng-container *ngIf="currentLanguage$ | async as currentLanguage">
                            {{ currentLanguage === 'no' ? sg.no : sg.en }}
                        </ng-container>
                    </option>

                </select>

            </div>

            <div class="filter">

                <select name="yearSelector" id="years" [(ngModel)]="selectedYear"
                    (ngModelChange)="onYearSelection($event)">

                    <option [ngValue]="null">
                        {{ 'shared.select_years' | translate }}
                    </option>

                    <option [value]="year" *ngFor="let year of years">
                        {{ year }}
                    </option>

                </select>

            </div>

            <!-- <div class="filter" *ngIf="counties$ | async as counties">

                <select name="countiesSelector" id="counties" [(ngModel)]="selectedCounty"
                    (ngModelChange)="onCountySelection($event)">

                    <option [ngValue]="null">
                        {{ 'shared.select_area' | translate }}
                    </option>

                    <option [value]="county.id" *ngFor="let county of counties">
                        {{ county.name }}
                    </option>

                </select>

            </div> -->

            <div class="filter">
                <div class="search-box">

                    <!-- <input class="search-box__input" [(ngModel)]="selectedArea" (keyup)="getArea($event.target.value)"
                        placeholder="Søk område"> -->

                    <input class="search-box__input" #area (keyup)="getArea(area.value)" placeholder="Søk område">

                    {{ area.value }}

                    <div class="search-box__field" *ngIf="areas$ | async as areas">
                        <div class="search-box__stripe" *ngFor="let area of areas">

                            <div class="search-box__details" (click)="onAreaSelection(area.id)">
                                {{ area.name }} {{ area.id }}
                                <ng-container *ngIf="area.name == 'Oslo'">
                                    <small *ngIf="area.type == areaType.county">
                                        ({{ 'shared.area_county' | translate | lowercase }})
                                    </small>
                                </ng-container>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <h5 style="color: green; margin: 25px 0 0">Selected: <br>
            artsgruppe {{ selectedSpeciesGroup }} <br>
            år {{ selectedYear }} <br>
            område {{ selectedArea }} <br>
        </h5>

        <div *ngIf="userStatistics$ | async as userStatistics">

            <h3 style="color: red; margin: 0">tc: {{ userStatistics.totalCount }} &nbsp; / &nbsp;
                <span *ngIf="totalPages$ | async as totalPages" style="color: blue">
                    tp: {{ totalPages }}
                </span>
            </h3>

        </div>

        <br>

        <div class="stripe stripe--dummy">
            <div class="stripe__cell">
                {{ 'statistics.userStats_position' | translate }}
            </div>
            <div class="stripe__cell">
                {{ 'statistics.userStats_observer' | translate }}
            </div>
            <div class="stripe__cell">
                {{ 'statistics.userStats_sightingsCount' | translate }}
            </div>

        </div>

        <div *ngIf="userStatistics$ | async as userStatistics">

            <ng-container *ngFor="let topObserver of userStatistics.topObservers; let i = index">
                <app-user-stats-stripe [position]="getPosition(i, userStatistics.pageNumber, userStatistics.pageSize)"
                    [topObserver]="topObserver"></app-user-stats-stripe>
            </ng-container>

        </div>

        <br><br><br><br>

        <app-pagination *ngIf="totalPages$ | async as totalPages" [totalPages]="totalPages"
            (switchedPage)="onPaginationClick($event)"></app-pagination>


        <br>
        <br>
        <br>
        <br>

        <!-- <div class="grid grid--3">

            <div class="grid__cell">

                <app-total-count-statistics [statistics]="totalCountStatistics.totalSightings" [style]="'list'"
                    [text]="'statistics.overviewNumbers_sightings' | translate" [icon]="true" [size]="'sm'">
                </app-total-count-statistics>

            </div>

            <div class="grid__cell">

                <div class="stats">
                    <div class="stats__text">Du er på</div>
                    <div class="stats__number stats__number--main"><span class="badge badge--xl">374</span></div>
                    <div class="stats__text"> plass med <strong>1784</strong>
                        <br>
                        rapporterte observasjoner
                    </div>
                </div>
                <br>
                <div style="text-align: center;"><small style="font-size: 16px;">Se <a href="">din
                            statistikk</a></small></div>

            </div>

            <div class="grid__cell">

                <app-total-count-statistics [statistics]="totalCountStatistics.totalUsers" [style]="'list'"
                    [text]="'statistics.overviewNumbers_users' | translate" [icon]="true" [size]="'sm'">
                </app-total-count-statistics>

            </div>

        </div> -->

        <!---->

    </div>

</div>