<div class="child">

    <h2 *ngIf="pageTitle$ | async as pageTitle">{{ pageTitle }}</h2>

    <div class="section">

        <!--toppobservatører-->

        <h3>{{ 'shared.filter' | translate }}</h3>


        <div class="loop">

            <div class="filter">

                <select name="yearSelector" id="years" (change)="onYearSelection($event.target.value)">

                    <option [ngValue]="null">
                        {{ 'shared.select_years' | translate }}
                    </option>

                    <option [value]="year" *ngFor="let year of years">
                        {{ year }}
                    </option>

                </select>

                <select name="speciesGroupsSelector" id="speciesGroups"
                    (change)="onSpeciesGroupSelection($event.target.value)">

                    <option [ngValue]="null">
                        {{ 'shared.select_speciesGroups' | translate }}
                    </option>

                    <option [value]="sg.id" *ngFor="let sg of speciesGroups$ | async">
                        <ng-container *ngIf="currentLanguage$ | async as currentLanguage">
                            {{ currentLanguage === 'no' ? sg.no : sg.en }}
                        </ng-container>
                    </option>

                </select>

                <div class="search-box">

                    <input class="search-box__input" [ngClass]="{'search-box__input--active': activeTaxon}" #taxon
                        (keyup)="getTaxon(taxon.value)" placeholder="Søk takson">

                    <div class="search-box__field" [ngClass]="{'search-box__field--hidden': activeTaxon}"
                        *ngIf="taxons$ | async as taxons">

                        <div class="search-box__stripe" *ngFor="let taxon of taxons"
                            (click)="onTaxonSelection(taxon.taxonId)">

                            <h2>
                                <i>{{ taxon.scientificName.name }}</i>
                                <small *ngIf="taxon.scientificName.author" style="text-transform: uppercase;">
                                    {{ taxon.scientificName.author }}
                                </small>
                            </h2>
                            <h3>
                                {{ taxon.vernacularName?.name | lowercase }}
                                <small *ngIf="taxon.vernacularName?.author" style="text-transform: uppercase;">
                                    {{ taxon.vernacularName.author }}
                                </small>
                            </h3>

                            <div class="search-box__details">

                                <div *ngIf="taxon.scientificNameSynonyms.length > 0">

                                    <span class="tag">{{ 'shared.synonyms' | translate }}</span>

                                    <div *ngFor="let synonym of taxon.scientificNameSynonyms">
                                        <small><i> {{ synonym.name }} </i></small>
                                    </div>

                                </div>

                                <div *ngIf="taxon.vernacularNameSynonyms.length > 0">

                                    <div *ngFor="let synonym of taxon.vernacularNameSynonyms">
                                        <small> {{ synonym.name }}</small>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="search-box">

                    <input class="search-box__input" [ngClass]="{'search-box__input--active': activeArea}" #area
                        (keyup)="getArea(area.value)" placeholder="Søk område">

                    <div class="search-box__field" [ngClass]="{'search-box__field--hidden': activeArea}"
                        *ngIf="areas$ | async as areas">
                        <div class="search-box__stripe" *ngFor="let area of areas" (click)="onAreaSelection(area.id)">

                            <h2>
                                <span> {{ area.name }} {{ area.id }}</span>
                                <ng-container *ngIf="area.name == 'Oslo'">
                                    <small *ngIf="area.type == areaType.county">
                                        ({{ 'shared.area_county' | translate | lowercase }})
                                    </small>
                                </ng-container>
                            </h2>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div style="display: none;">
            <p>
                {{ 'shared.search_chosenFilters' | translate }}:

                <br>
                <ng-container *ngIf="filters$ | async as filters">
                    <ng-container *ngFor="let filter of filters | keyvalue">
                        <!-- {{ filter.key }} | {{ filter.value }} -->

                        <br><br>

                        <span *ngFor="let item  of filter.value | keyvalue">
                            {{item.key}} | {{item.value}}
                        </span>

                    </ng-container>
                </ng-container>

            </p>
        </div>

        <br>
        <br>

        <div *ngIf="userStatistics$ | async as userStatistics; else noData">

            <ng-container *ngIf="userStatistics.totalCount === 0">
                <!-- {{ userStatistics.totalCount }} -->
                {{ 'shared.noResults' | translate }}
                <br><br>
            </ng-container>

            <div class="stripe stripe--dummy" *ngIf="userStatistics.totalCount > 0">

                <div class="stripe__cell">
                    {{ 'statistics.userStats_position' | translate }}
                </div>
                <div class="stripe__cell">
                    {{ 'statistics.userStats_observer' | translate }}
                </div>
                <div class="stripe__cell">
                    {{ 'statistics.userStats_sightingsCount' | translate }}
                </div>

            </div>

            <ng-container *ngFor="let topObserver of userStatistics.topObservers; let i = index">

                <app-user-stats-stripe [position]="getPosition(i, userStatistics.pageNumber, userStatistics.pageSize)"
                    [topObserver]="topObserver">
                </app-user-stats-stripe>

            </ng-container>

        </div>

        <ng-template #noData>

        </ng-template>

        <br><br><br><br>

        <app-pagination *ngIf="totalPages$ | async as totalPages" [totalPages]="totalPages"
            (switchedPage)="onPaginationClick($event)"></app-pagination>


        <br>
        <br>
        <br>
        <br>

        <!-- <div class="grid grid--3">

            <div class="grid__cell">

                <app-total-count-statistics [statistics]="totalCountStatistics.totalSightings" [style]="'list'"
                    [text]="'statistics.overviewNumbers_sightings' | translate" [icon]="true" [size]="'sm'">
                </app-total-count-statistics>

            </div>

            <div class="grid__cell">

                <div class="stats">
                    <div class="stats__text">Du er på</div>
                    <div class="stats__number stats__number--main"><span class="badge badge--xl">374</span></div>
                    <div class="stats__text"> plass med <strong>1784</strong>
                        <br>
                        rapporterte observasjoner
                    </div>
                </div>
                <br>
                <div style="text-align: center;"><small style="font-size: 16px;">Se <a href="">din
                            statistikk</a></small></div>

            </div>

            <div class="grid__cell">

                <app-total-count-statistics [statistics]="totalCountStatistics.totalUsers" [style]="'list'"
                    [text]="'statistics.overviewNumbers_users' | translate" [icon]="true" [size]="'sm'">
                </app-total-count-statistics>

            </div>

        </div> -->

        <!---->

    </div>

</div>