<!--layout component-->

<!--mobil-->
<nav class="navigation navigation--top" *ngIf="location === 'menu'">

    <a class="navigation__link" [class]="getLinkStyle(link)" routerLinkActive="navigation__link--active"
        routerLink="{{ link.name }}" *ngFor="let link of topMenu$ | async">
        <span class="navigation__label"> {{ link.label }}</span>
    </a>

</nav>
<!--mobil-->

<!--desktop-->
<nav class="top-navigation" *ngIf="location === 'header'">

    <a class="top-navigation__link" [class]="getCSSClass(link)" routerLinkActive="top-navigation__link--active"
        routerLink="{{ link.name }}" *ngFor="let link of topMenu$ | async">
        <span class="top-navigation__label"> {{ link.label }}</span>
    </a>

</nav>
<!--desktop-->

<!--layout component-->