<!--layout component-->

<!--mobil-->
<nav class="navigation navigation--top" *ngIf="location === 'menu'">

    <a class="navigation__link" [class]="getStyle(link.data.id)" routerLinkActive="navigation__link--active"
        routerLink="{{ link.path }}" *ngFor="let link of topMenu">
        <span class="navigation__label"> {{ link.data.text }}</span>
    </a>

</nav>
<!--mobil-->

<!--desktop-->
<nav class="top-navigation" *ngIf="location === 'header'" (clickElsewhere)="closeDashboard()">

    <!-- <a class="top-navigation__link" [class]="getStyle(link.data.id)" routerLinkActive="top-navigation__link--active"
        routerLink="{{ link.path }}" *ngFor="let link of topMenu">
        <span class="top-navigation__label"> {{ link.data.text }}</span>
    </a> -->

    <button class="top-navigation__link top-navigation__link--user-profile"
        [ngClass]="{'top-navigation__link--active': showDashboardPane}" (click)="toggleDashboard()" #toggleDashboardButton>

        <span *ngIf="!isLoggedIn">Logg inn</span>
        <span *ngIf="isLoggedIn">Min side</span>

        <!-- <span *ngIf="!isLoggedIn; else minside">Logg inn</span> -->
        <!-- <ng-container #minside>Min side</ng-container> -->

    </button>

    <div class="dashboard-pane" [ngClass]="{'dashboard-pane--open': showDashboardPane}" #dashboard>

        <div class="dashboard-pane__item dashboard-pane__item--tall dashboard-pane__item--first" *ngIf="!isLoggedIn">
            <!-- <button class="button button--sm button--primary" (click)="login()">Logg inn</button>
            <br><br> -->

            <form action="">
                <label for="">E-post</label>
                <input type="text" placeholder="Angi e-post">
                <br>
                <label for="">Passord</label>
                <input type="password" placeholder="Angi passord">

                <div style="font-size: 14px; margin-top: 5px; text-align: center;">Glemt brukernavn eller passord?</div>

                <button class="button button--xs button--primary" (click)="login()">Logg inn</button>
            </form>

        </div>

        <hr *ngIf="!isLoggedIn">

        <div class="dashboard-pane__item dashboard-pane__item--tall" *ngIf="!isLoggedIn">
            Ny bruker? &nbsp;<a routerLink="/register">Registrer deg nå</a>
        </div>

        <div class="dashboard-pane__item" *ngIf="isLoggedIn">
            <a class="top-navigation__link" routerLink="/user-profile">Min profil</a>
        </div>

        <div class="dashboard-pane__item dashboard-pane__item--messages" *ngIf="isLoggedIn">
            <a class="top-navigation__link top-navigation__link--messages" routerLink="/messages">
                Meldinger
            </a>
            <span style="color: red; font-weight: 700;">4 </span>
        </div>

        <br *ngIf="isLoggedIn">
        <hr *ngIf="isLoggedIn">

        <div class="dashboard-pane__item dashboard-pane__item--tall" *ngIf="isLoggedIn">
            Innlogget som <strong>Navn Navnesen</strong> med rollen som <strong>privat bruker</strong>.
            <br>
            <br>
            <div class="aligncenter">
                <button class="button button--xs">Bytte rolle?</button>&nbsp;&nbsp;
                <button class="button button--xs button--cta" (click)="logout()">Logge
                    ut?</button>
            </div>
        </div>


    </div>

</nav>
<!--desktop-->

<!--layout component-->