<div class="design">

    <app-button [cssClass]="'button--sm'" [text]="'Button small'"></app-button>
    <app-button [cssClass]="'button--md'" [text]="'Button medium'"></app-button>
    <app-button [cssClass]="'button--lg'" [text]="'Button large'"></app-button>


    <app-button [cssClass]="'button--md button--primary'" [text]="'Button primary'"></app-button>
    <app-button [cssClass]="'button--md button--cta'" [text]="'Button CTA'"></app-button>

    
    <app-button [cssClass]="'button--md button--dropdown'" [text]="'Button dropdown'"></app-button>

</div>