<!--shareable component-->

<ng-container *ngIf="div"></ng-container>

<ng-container *ngIf="type === 'link'">

    <!-- <a class="card" [ngClass]="cssClass" [routerLink]="[url]" routerLinkActive="card--active">
        <span class="card__heading">{{ text }}</span>
    </a> -->

    <a class="card" [ngClass]="cssClass" routerLink="/{{ url }}" routerLinkActive="card--active">
        <span class="card__heading">{{ text }}</span>
    </a>

</ng-container>

<ng-container *ngIf="button"></ng-container>

<!--shareable component-->