<div class="page page--landing">

    <header class="page__header"> </header>

    <div class="page__intro">
        <p>
            Finn data om funn og observasjoner.
        </p>
        <p>
            Her kan du finne siste rapporterte observasjoner, søke i funn, se på tall og statistikk med mer.
        </p>
    </div>

    <div class="page__content">

        <!-- <form class="site-search">
            <input class="site-search__input" type="text" placeholder="Søk funn" name="Søk funn">
        </form> -->

        <div class="cards">

            <!-- <app-card [type]="'link'" [url]="'fas'" [title]="'Søk funn'"></app-card> -->
            <app-card [type]="'link'" [url]="'sightings'" [title]="'Siste funn'"></app-card>
            <app-card [type]="'link'" [url]="'fas'" [title]="'Funnkatalog'"></app-card>
            <app-card [type]="'link'" [url]="'fas'" [title]="'Atlaskart'"></app-card>
            <app-card [type]="'link'" [url]="'fas'" [title]="'Skjermede data'"></app-card>
            <app-card [type]="'link'" [url]="'fas'" [title]="'EuroBirdWatch Norge'"></app-card>
            <app-card [type]="'link'" [url]="'statistics'" [title]="'Tall og Statistikk'"></app-card>
            <app-card [type]="'link'" [url]="'fas'" [title]="'Årets første artsobservasjoner'"></app-card>

        </div>

        <br><br>
        <router-outlet></router-outlet>

    </div>

    <footer class="page__footer"> </footer>


</div>