<div class="page page--landing">

    <header class="page__header"></header>

    <div class="page__intro">

        <p>Ingress og annen nødvendig tekst</p>
        <p>
            Vestibulum id mollis quam, nec malesuada nulla. Suspendisse sed pulvinar lorem, et tempus libero. Aliquam
            erat volutpat. Pellentesque commodo laoreet cursus. Mauris gravida lobortis semper. Aliquam
            erat volutpat. Ut fringilla eros ut enim ultrices, et hendrerit metus euismod. Nunc vitae diam risus.
        </p>

    </div>

    <div class="page__content">

        <p>
            I Artsobservasjoner kan du registrere observasjoner av planter, dyr og sopper i Norge. Hvem som helst kan
            rapportere og søke etter arter (med unntak av visse skjermede arter, se under 'Grunnprinsipper'). Nettsidene
            er et verktøy og en møteplass for naturinteresserte som på en enkel måte kan holde kontroll på sine og
            andres funn, og utveksle kunnskap og erfaringer.
        </p>

        <p>
            Artsobservasjoner er et viktig verktøy for både profesjonell og ideell registreringsaktivitet, og er en unik
            kilde til kunnskap. Dataene brukes blant annet av forskere og forvaltning i Norge, og bidrar til å se
            trender og utviklingstrekk i naturmangfoldet.
        </p>

        <p>Artsobservasjoner utvikles og drives av <a href="artsdatabanken.no">Artsdatabanken</a> på oppdrag fra <strong>Klima- og miljødepartementet</strong>.</p>

        <h2>Allmennhet, frivillige og profesjonelle i unikt samarbeid for bedre kunnskap!</h2>
        Den største delen av rapportørene er «amatører» og hengivne aktører fra frivillige organisasjoner.
        Artsobservasjoner benyttes også av forvaltningen, forskere og andre som jobber med funn av arter. Gjennom alle
        bidragsyternes engasjement og arbeidsinnsats skapes en verdifull kunnskapsbank for vår norske flora, fauna og
        fungi.

        <h2>Unik database for oversikt og analyse</h2>
        Data fra Artsobservasjoner brukes daglig i norsk naturforvaltning av sektormyndigheter, fylkesmenn og kommuner.
        Basert på den store mengden observasjoner av både vanlige og uvanlige arter på ett sted, er det enklere for
        forvaltningen å danne seg et helhetlig bilde av situasjonen, og det er enklere å analysere forandringer i
        naturmangfoldet over tid. Data fra Artsobservasjoner er også tilgjengelig for bruk i forskning og dataen deles
        internasjonalt.

        <h2>Kunnskapsdugnad og grasrotforskning (citizen science)</h2>
        Artsobservasjoner bidrar til en økt interesse for arter, noe som kan lede til bedre forståelse for
        naturmangfoldet i Norge. Ved å gjøre det til en glede å dele sine observasjoner, håper vi at flere tar seg turen
        ut i naturen, for å lete, finne og rapportere i Artsobservasjoner – og dermed også bidra til en bedre
        naturforvaltning. Dette er grasrotforskning - eller «citizen science» - på sitt beste!

        <h2>Sensitive arter skjermes</h2>
        Sensitiv artsinformasjon blir skjermet. I praksis betyr dette at funnopplysningene bare vil være tilgjengelige
        for rapportøren, medobservatører, validatorer og personer med administrasjonsrettigheter i systemet.
        Henvendelser om innsyn i sensitive artsdata skal gå til Miljødirektoratet.

        <h2>Data deles</h2>
        Opplysningene som legges inn blir åpent tilgjengelig for alle interesserte. I tillegg deles dataen videre med
        den nasjonale tjenesten Artskart og internasjonalt med GBIF (Global Biodiversity Information Facility). Artskart
        formidler stedfestet artsinformasjon fra ulike dataeiere, inkludert kartleggingsfirma og forsknings- og
        forvaltningsinstitusjoner. GBIF er et internasjonalt nettverk og forskningsinfrastruktur som har som mål å gi
        åpen tilgang til data om alle arter på jorda.

    </div>

    <footer class="page__footer"></footer>

</div>