<!--layout component-->

<nav class="navigation navigation--primary" role="navigation">

    <div class="navigation__container">

        <div class="navigation__item" *ngFor="let menuItem of mainMenu">

            {{ menuItem }}


            <h1 class="navigation__heading">
                <span class="navigation__heading-text"> {{ menuItem.data.text }} </span>
                <a class="navigation__heading-link" routerLink="/{{ menuItem.path }}" closeMenu>{{ menuItem.data.text }}</a>
            </h1>

            <div class="navigation__section">

                <a class="navigation__link" [class]="getStyle(link.data.rank, 'link')"
                    routerLinkActive="navigation__link--active" routerLink="/{{ child.path }}"
                    *ngFor="let child of menuItem.children"
                    closeMenu>

                    <span class="navigation__label"> {{ child.data.text }}</span>

                </a>

            </div>

        </div>

    </div>

</nav>

<!--layout component-->