<!--layout component-->

<nav class="navigation navigation--primary" role="navigation">

    <div class="navigation__container">

        <!-- <div class="navigation__item" *ngFor="let link of mainMenu">


            <h1 class="navigation__heading">
                <span class="navigation__heading-text"> {{ link.data.linkText }} </span>
                <a class="navigation__heading-link" routerLink="/{{ link.path }}" closeMenu>{{ link.data.linkText }}</a>
            </h1>

            <div class="navigation__section" [class]="getStyle(link.data.linkParentRank, 'section')">

                <a class="navigation__link" [class]="getStyle(link.data.linkRank, 'link')"
                    routerLinkActive="navigation__link--active" routerLink="/{{ link.path }}"
                    closeMenu>

                    <span class="navigation__label"> {{ child.data.linkText }}</span>

                </a>

            </div>

        </div> -->

    </div>

</nav>

<!--layout component-->