<a [href]="skipLinkPath" class="skip-to-content">Skip to content</a>

<div class="layout">

    <div class="layout__header">
        <app-header></app-header>
    </div>

    <div class="layout__main">

        <div *ngIf="page" aria-live="assertive">
            <span [attr.aria-label]="page"></span>
        </div>

        <main 
            role="main" 
            id="mainContent" 
            tabindex="-1" 
            #mainContent 
            class="main grid"
            [ngClass]="{'grid--std': pageType === 'page', 'grid--mega': pageType === 'mega'}">

            <h1 class="page-title" *ngIf="page">{{ page }}</h1>

            <app-breadcrumbs></app-breadcrumbs>

            <router-outlet (activate)="onActivate($event)"></router-outlet>

        </main>

    </div>

    <div class="layout__footer">
        <app-footer></app-footer>
    </div>

    <button class="scroll-up" [ngClass]="{'scroll-up--active': windowScrolled}" (click)="scrollToTop()">&uarr;</button>

</div>