<a [href]="skipLinkPath" class="skip-to-content">Skip to content</a>

<div class="layout">

    <div class="layout__header">
        <app-header></app-header>
    </div>

    <div class="layout__main">

        <ng-container *ngIf="page" aria-live="assertive">
            <span [attr.aria-label]="page"></span>
        </ng-container>

        <main role="main" id="mainContent" tabindex="-1" #mainContent class="main main-grid"
            [ngClass]="{'main-grid--page': pageType === 'page', 'main-grid--mega': pageType === 'mega', 'main-grid--std': pageType === 'std', 'main-grid--frontpage': pageType === 'frontpage'}">

            <h1 class="page-title" *ngIf="page !== 'Forsiden'">{{ page }}</h1>

            <router-outlet (activate)="onActivate($event)"></router-outlet>

        </main>

    </div>

    <div class="layout__footer">
        <app-footer></app-footer>

        <!-- <button class="scroll-up" [ngClass]="{'scroll-up--active': windowScrolled}"
            (click)="scrollToTop()"></button> -->

    </div>