<div class="child">

    <h2 *ngIf="pageTitle$ | async as pageTitle">{{ pageTitle }}</h2>

    <div class="section">


        <!--toppobservatører-->

        <p>
            Observatører med flest observasjoner gjennom tidene.
            <br>
            <small>*** Forklare om datagrunnlaget her.</small>
            <br>
            <small>*** Statistikken oppdateres en gang i måned.</small>
        </p>

        <div class="loop">

            <div class="filter">

                <label for="speciesGroup">Filtrer</label>

                <select name="" id="speciesGroup">
                    <option value="All">Alle artsgrupper</option>
                    <option value="">Karplanter</option>
                    <option value="">Moser</option>
                    <option value="">Lav</option>
                    <option value="">Sopp</option>
                    <option value="">Alger</option>
                    <option value="">Virvelløse dyr</option>
                    <option value="">Fugler</option>
                    <option value="">Amfibier og reptiler</option>
                    <option value="">Pattedyr</option>
                    <option value="">Flaggermus</option>
                    <option value="">Fisk</option>
                </select>

            </div>

            <div class="filter">

                <select name="" id="years">
                    <option value="All">Alle år</option>
                    <option value="">2019</option>
                    <option value="">2018</option>
                    <option value="">2017</option>
                </select>


            </div>

            <div class="filter">

                <select name="" id="counties">
                    <option value="All">Alle fylker</option>
                    <option value="">Trøndelag</option>
                    <option value="">Nordland</option>
                    <option value="">Rogaland</option>
                    <option value="">...</option>
                </select>

            </div>

            <div class="filter">

                <select name="" id="municipalities">
                    <option value="All">Alle kommuner</option>
                    <option value="">Trøndelag</option>
                    <option value="">Nordland</option>
                    <option value="">Rogaland</option>
                    <option value="">...</option>
                </select>

            </div>

        </div>

        <br><br><br><br>
        <!-- 
        <div class="league league--primary">

            <div class="league__item" [class]="getRank(i)"
                *ngFor="let user of fakeUsers$ | async | slice:0:3; let i = index">

                <div class="league__counter" [class]="getRank3(i)">{{ i + 1}}</div>
                <div class="league__icon" [class]="getRank2(i)"></div>
                <h1 class="league__winner">{{ user.name }}</h1>
                <div class="league__detail league__detail--2"> {{ user.address.city }}</div>
                <br>
                <div class="league__detail league__detail--3">{{ user.address.zipcode }}</div>

            </div>

        </div> -->

        <div class="stripe stripe--dummy">
            <div class="stripe__cell">
                Posisjon
            </div>
            <div class="stripe__cell">
                Observatør
            </div>
            <div class="stripe__cell">
                Antall observasjoner
            </div>
        </div>
        
        <div *ngFor="let topObserver of topObservers$ | async as topObservers; let i = index">
            <app-user-stats-stripe [position]="i + 1" [topObserver]="topObserver"></app-user-stats-stripe>
        </div>

        <br><br><br><br><br><br><br><br><br><br>

        <div class="pagination">

            <button (click)="pagination.first()" [disabled]="pagination.isFirst">
                &laquo;
            </button>

            <button (click)="pagination.prev()" [disabled]="pagination.isFirst">
                &lsaquo;
            </button>

            <input appPagination #pagination="appPagination" [totalPages]="10"
                (pageChange)="onPageChange($event, pagination.totalPages)" />

            <div class="pagination__item" style="border: none;">/ {{ pagination.totalPages }}</div>

            <button (click)="pagination.next()" [disabled]="pagination.isLast">
                &rsaquo;
            </button>

            <button (click)="pagination.last()" [disabled]="pagination.isLast">
                &raquo;
            </button>

            <br>
            <br>

            <div class="pagination__item" style="border: none;">{{ pagination.pageNo }}</div>


        </div>

        <!-- <table style="min-width: 60%; width: auto;">
            <caption>Brukere med flest observasjoner på tvers av artsgrupper gjennom tidene</caption>
            <thead role="rowgroup">
                <tr role="row">
                    <th role="columnheader">Posisjon</th>
                    <th role="columnheader">Navn</th>
                    <th role="columnheader" class="th-number">Antall observasjoner</th>
                </tr>
            </thead>

            <tbody role="rowgroup">

                <tr role="row" *ngFor="let topObserver of topObservers$ | async as topObservers; let i = index"
                    [class]="getRank(i)">




                    <td role="cell" style="width: 100px;"><span class="badge"
                            [ngClass]="{'badge--top': i < 3, 'badge--top10': i < 10 && i > 2}">{{ i + 1 }}</span></td>
                    <td role="cell">
                        <strong style="font-size: 1.175em">{{ topObserver.name }}</strong>
                        <br>
                        <span style="font-size: 0.9em">{{ topObserver.city }}</span>
                    </td>
                    <td role="cell" class="td-number td-number--lg"> {{ topObserver.sightingsCount | formatNumber }}
                    </td>

                </tr>

            </tbody>

        </table> -->


        <br>
        <br>
        <br>
        <br>

        <!-- <div class="grid grid--3">

            <div class="grid__cell">

                <app-total-count-statistics [statistics]="totalCountStatistics.totalSightings" [style]="'list'"
                    [text]="'statistics.overviewNumbers_sightings' | translate" [icon]="true" [size]="'sm'">
                </app-total-count-statistics>

            </div>

            <div class="grid__cell">

                <div class="stats">
                    <div class="stats__text">Du er på</div>
                    <div class="stats__number stats__number--main"><span class="badge badge--xl">374</span></div>
                    <div class="stats__text"> plass med <strong>1784</strong>
                        <br>
                        rapporterte observasjoner
                    </div>
                </div>
                <br>
                <div style="text-align: center;"><small style="font-size: 16px;">Se <a href="">din
                            statistikk</a></small></div>

            </div>

            <div class="grid__cell">

                <app-total-count-statistics [statistics]="totalCountStatistics.totalUsers" [style]="'list'"
                    [text]="'statistics.overviewNumbers_users' | translate" [icon]="true" [size]="'sm'">
                </app-total-count-statistics>

            </div>

        </div> -->

        <!---->

    </div>

</div>