<div class="page">

    <header class="page__header">

        <h1 class="page-title" *ngIf="pageTitle$ | async as pageTitle">{{ pageTitle }}</h1>

        <!---->

        <div class="loop loop--2x">

            <app-total-count-statistics [statistics]="totalCountStatistics.totalSightings" [style]="'list'"
                [text]="'statistics.overviewNumbers_sightings' | translate" [icon]="true">
            </app-total-count-statistics>

            <app-total-count-statistics [statistics]="totalCountStatistics.totalUsers" [style]="'list'"
                [text]="'statistics.overviewNumbers_users' | translate" [icon]="true">
            </app-total-count-statistics>

        </div>

        <!---->

    </header>

    <br><br>
    
    <div class="page__content">

        <app-dropdown [title]="'statistics.overviewStats_buttonText' | translate" [options]="dropdownOptions"
            [icon]="'stats'">
        </app-dropdown>

        <router-outlet></router-outlet>


    </div>

    <footer class="page__footer"></footer>


</div>