<div class="clear clearfix" id="mainList" style="min-height: 150px; z-index: 1; position: relative;">
    <div class="span-8 border clearfix column">
         <ol id="mainlist1" class="twitchlist twitchlist-users liststyletype-none">
 
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/dholtan" class="">
                     <span class="index">1. </span>
                     <span class="username has_tooltip" data-useralias="dholtan">Dag Holtan</span><em class="city">, Ålesund</em>
                     <span class="ticks">  5 377</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Stegonia" class="">
                     <span class="index">2. </span>
                     <span class="username has_tooltip" data-useralias="Stegonia">Kåre Arnstein Lye</span><em class="city">, Ås</em>
                     <span class="ticks">  5 220</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/inocybe" class="">
                     <span class="index">3. </span>
                     <span class="username has_tooltip" data-useralias="inocybe">Perry Gunnar Larsen</span><em class="city">, Skodje</em>
                     <span class="ticks">  4 706</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/GunnarEngan" class="">
                     <span class="index">4. </span>
                     <span class="username has_tooltip" data-useralias="GunnarEngan">Gunnar Engan</span><em class="city">, Son</em>
                     <span class="ticks">  4 529</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/EWHanssen" class="">
                     <span class="index">5. </span>
                     <span class="username has_tooltip" data-useralias="EWHanssen">Even W. Hanssen</span><em class="city">, Dilling</em>
                     <span class="ticks">  4 424</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Reidun1001" class="">
                     <span class="index">6. </span>
                     <span class="username has_tooltip" data-useralias="Reidun1001">Reidun Braathen</span><em class="city">, Dilling</em>
                     <span class="ticks">  4 359</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Kremle" class="">
                     <span class="index">7. </span>
                     <span class="username has_tooltip" data-useralias="Kremle">Per Marstad</span><em class="city">, Tønsberg</em>
                     <span class="ticks">  4 321</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Gustad" class="">
                     <span class="index">8. </span>
                     <span class="username has_tooltip" data-useralias="Gustad">Jørn R. Gustad</span><em class="city">, Averøy</em>
                     <span class="ticks">  4 263</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/JohnSandve" class="">
                     <span class="index">9. </span>
                     <span class="username has_tooltip" data-useralias="JohnSandve">John Sandve</span><em class="city">, Nesoddtangen</em>
                     <span class="ticks">  3 774</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/PKS1" class="">
                     <span class="index">10. </span>
                     <span class="username has_tooltip" data-useralias="PKS1">Per Kristian Slagsvold</span><em class="city">, Larvik</em>
                     <span class="ticks">  3 565</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/rzak" class="">
                     <span class="index">11. </span>
                     <span class="username has_tooltip" data-useralias="rzak">Rune Zakariassen</span><em class="city">, Lommedalen</em>
                     <span class="ticks">  3 498</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Norman" class="">
                     <span class="index">12. </span>
                     <span class="username has_tooltip" data-useralias="Norman">Norman Hagen</span><em class="city">, Skien</em>
                     <span class="ticks">  3 484</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/KåreHomble1" class="">
                     <span class="index">13. </span>
                     <span class="username has_tooltip" data-useralias="KåreHomble1">Kåre Homble</span><em class="city">, Nannestad</em>
                     <span class="ticks">  3 445</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/JosteinE" class="">
                     <span class="index">14. </span>
                     <span class="username has_tooltip" data-useralias="JosteinE">Jostein Bærø Engdal</span><em class="city">, Sætre</em>
                     <span class="ticks">  3 398</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Tove" class="">
                     <span class="index">15. </span>
                     <span class="username has_tooltip" data-useralias="Tove">Tove Hafnor Dahl</span><em class="city">, Bjorbekk</em>
                     <span class="ticks">  3 363</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Turid" class="">
                     <span class="index">16. </span>
                     <span class="username has_tooltip" data-useralias="Turid">Turid Nakling Kristiansen</span><em class="city">, Nøtterøy</em>
                     <span class="ticks">  3 297</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/andbreil" class="">
                     <span class="index">17. </span>
                     <span class="username has_tooltip" data-useralias="andbreil">Anders Breili</span><em class="city">, Lillehammer</em>
                     <span class="ticks">  3 234</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/omberg" class="">
                     <span class="index">18. </span>
                     <span class="username has_tooltip" data-useralias="omberg">Arild Omberg</span><em class="city">, Risør</em>
                     <span class="ticks">  3 220</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/artsjeger" class="">
                     <span class="index">19. </span>
                     <span class="username has_tooltip" data-useralias="artsjeger">Jostein Austevik</span><em class="city">, Sandnes</em>
                     <span class="ticks">  3 174</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/inger" class="">
                     <span class="index">20. </span>
                     <span class="username has_tooltip" data-useralias="inger">Inger Kristoffersen</span><em class="city">, Sandefjord</em>
                     <span class="ticks">  3 065</span>
                 </a>
             </li>
                 
         </ol>
     </div>
     <div class="span-8 border clearfix column">
         <ol id="mainList2" class="twitchlist twitchlist-users liststyletype-none">
 
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/evmj" class="">
                     <span class="index">21. </span>
                     <span class="username has_tooltip" data-useralias="evmj">Even Mjaaland</span><em class="city">, Sandnes</em>
                     <span class="ticks">  3 023</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/TerjeSpolen" class="">
                     <span class="index">22. </span>
                     <span class="username has_tooltip" data-useralias="TerjeSpolen">Terje Spolén Nilsen</span><em class="city">, Tyristrand</em>
                     <span class="ticks">  2 946</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Magne" class="">
                     <span class="index">23. </span>
                     <span class="username has_tooltip" data-useralias="Magne">Magne Flåten</span><em class="city">, Nøtterøy</em>
                     <span class="ticks">  2 848</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/cinclus" class="">
                     <span class="index">24. </span>
                     <span class="username has_tooltip" data-useralias="cinclus">Svein Almedal</span><em class="city">, Søgne</em>
                     <span class="ticks">  2 799</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/oddvaro" class="">
                     <span class="index">25. </span>
                     <span class="username has_tooltip" data-useralias="oddvaro">Oddvar Olsen</span><em class="city">, Volda</em>
                     <span class="ticks">  2 740</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Kjell44" class="">
                     <span class="index">26. </span>
                     <span class="username has_tooltip" data-useralias="Kjell44">Kjell Thowsen</span><em class="city">, Skien</em>
                     <span class="ticks">  2 709</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/TorbjørnH" class="">
                     <span class="index">27. </span>
                     <span class="username has_tooltip" data-useralias="TorbjørnH">Torbjørn Høitomt</span><em class="city">, Dokka</em>
                     <span class="ticks">  2 698</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/gaarder" class="">
                     <span class="index">28. </span>
                     <span class="username has_tooltip" data-useralias="gaarder">Geir Gaarder</span><em class="city">, Tingvoll</em>
                     <span class="ticks">  2 681</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/beritny" class="">
                     <span class="index">29. </span>
                     <span class="username has_tooltip" data-useralias="beritny">Berit Nyrud</span><em class="city">, Oslo</em>
                     <span class="ticks">  2 673</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Apollo" class="">
                     <span class="index">30. </span>
                     <span class="username has_tooltip" data-useralias="Apollo">Rune Christensen</span><em class="city">, Fjerdingby</em>
                     <span class="ticks">  2 647</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/RUSO" class="">
                     <span class="index">31. </span>
                     <span class="username has_tooltip" data-useralias="RUSO">Rune Solvang</span><em class="city">, Ulefoss</em>
                     <span class="ticks">  2 621</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Herberg" class="">
                     <span class="index">32. </span>
                     <span class="username has_tooltip" data-useralias="Herberg">Sveinung Larsen</span><em class="city">, Hundvåg</em>
                     <span class="ticks">  2 602</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Halvard1962" class="">
                     <span class="index">33. </span>
                     <span class="username has_tooltip" data-useralias="Halvard1962">Halvard Hatlen</span><em class="city">, Eide</em>
                     <span class="ticks">  2 577</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/JonKleps" class="">
                     <span class="index">34. </span>
                     <span class="username has_tooltip" data-useralias="JonKleps">Jon Klepsland</span><em class="city">, Lier</em>
                     <span class="ticks">  2 574</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Fold1" class="">
                     <span class="index">35. </span>
                     <span class="username has_tooltip" data-useralias="Fold1">Øystein Folden</span><em class="city">, Tingvoll</em>
                     <span class="ticks">  2 523</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/gunder" class="">
                     <span class="index">36. </span>
                     <span class="username has_tooltip" data-useralias="gunder">Gunnar Bureid</span><em class="city">, Rindal</em>
                     <span class="ticks">  2 421</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/kjell-propell" class="">
                     <span class="index">37. </span>
                     <span class="username has_tooltip" data-useralias="kjell-propell">Kjell Mjølsnes</span><em class="city">, Orre</em>
                     <span class="ticks">  2 418</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/OveSander" class="">
                     <span class="index">38. </span>
                     <span class="username has_tooltip" data-useralias="OveSander">Ove Sander Førland</span><em class="city">, Jørpeland</em>
                     <span class="ticks">  2 410</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/karelsamyn@yahoo.com" class="">
                     <span class="index">39. </span>
                     <span class="username has_tooltip" data-useralias="karelsamyn@yahoo.com">Karel Samyn</span><em class="city">, Honningsvåg</em>
                     <span class="ticks">  2 352</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Justad" class="">
                     <span class="index">40. </span>
                     <span class="username has_tooltip" data-useralias="Justad">Ole Bjørn Braathen</span><em class="city">, Lier</em>
                     <span class="ticks">  2 345</span>
                 </a>
             </li>
   
         </ol>
     </div>
     <div class="span-8 last clearfix column">
         <ol id="mainList3" class="twitchlist twitchlist-users liststyletype-none">
 
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/sivmoen" class="">
                     <span class="index">41. </span>
                     <span class="username has_tooltip" data-useralias="sivmoen">Siv Moen</span><em class="city">, Hagan</em>
                     <span class="ticks">  2 297</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Alie" class="">
                     <span class="index">42. </span>
                     <span class="username has_tooltip" data-useralias="Alie">Asbjørn Lie</span><em class="city">, Kristiansand</em>
                     <span class="ticks">  2 283</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Kalevi" class="">
                     <span class="index">43. </span>
                     <span class="username has_tooltip" data-useralias="Kalevi">Harri Kivistø</span><em class="city">, Morvik</em>
                     <span class="ticks">  2 229</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Jensemann" class="">
                     <span class="index">44. </span>
                     <span class="username has_tooltip" data-useralias="Jensemann">Jens Kristiansen</span><em class="city">, Haugesund</em>
                     <span class="ticks">  2 214</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Solfrid81" class="">
                     <span class="index">45. </span>
                     <span class="username has_tooltip" data-useralias="Solfrid81">Solfrid Helene Lien Langmo</span><em class="city">, Stadsbygd</em>
                     <span class="ticks">  2 214</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Bknutsen" class="">
                     <span class="index">46. </span>
                     <span class="username has_tooltip" data-useralias="Bknutsen">Bernt Kåre Knutsen</span><em class="city">, Mandal</em>
                     <span class="ticks">  2 161</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Lsdn" class="">
                     <span class="index">47. </span>
                     <span class="username has_tooltip" data-useralias="Lsdn">Lars Dalen</span><em class="city">, Ølensvåg</em>
                     <span class="ticks">  2 158</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/perbu" class="">
                     <span class="index">48. </span>
                     <span class="username has_tooltip" data-useralias="perbu">Per Buertange</span><em class="city">, Askim</em>
                     <span class="ticks">  2 121</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/chris" class="">
                     <span class="index">49. </span>
                     <span class="username has_tooltip" data-useralias="chris">Christian Kortner</span><em class="city">, Skien</em>
                     <span class="ticks">  2 113</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Brekeland" class="">
                     <span class="index">50. </span>
                     <span class="username has_tooltip" data-useralias="Brekeland">Jarl S. Birkeland</span><em class="city">, Stavanger</em>
                     <span class="ticks">  2 103</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/jansørensen" class="">
                     <span class="index">51. </span>
                     <span class="username has_tooltip" data-useralias="jansørensen">Jan Sørensen</span><em class="city">, Drammen</em>
                     <span class="ticks">  2 089</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Inger-Lise" class="">
                     <span class="index">52. </span>
                     <span class="username has_tooltip" data-useralias="Inger-Lise">Inger-Lise Fonneland</span><em class="city">, Fevik</em>
                     <span class="ticks">  2 074</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/bunias" class="">
                     <span class="index">53. </span>
                     <span class="username has_tooltip" data-useralias="bunias">Bård Engelstad</span><em class="city">, Skollenborg</em>
                     <span class="ticks">  2 071</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/HeleneLJ" class="">
                     <span class="index">54. </span>
                     <span class="username has_tooltip" data-useralias="HeleneLJ">Helene Lind Jensen</span><em class="city">, Oslo</em>
                     <span class="ticks">  2 062</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/SveinO" class="">
                     <span class="index">55. </span>
                     <span class="username has_tooltip" data-useralias="SveinO">Svein Olav B. Drangeid</span><em class="city">, Hvalstad</em>
                     <span class="ticks">  2 052</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/Kje10lB" class="">
                     <span class="index">56. </span>
                     <span class="username has_tooltip" data-useralias="Kje10lB">Kjetil Bekkeli</span><em class="city">, Stavanger</em>
                     <span class="ticks">  2 040</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/SiriLieOlsen" class="">
                     <span class="index">57. </span>
                     <span class="username has_tooltip" data-useralias="SiriLieOlsen">Siri Lie Olsen</span><em class="city">, Ås</em>
                     <span class="ticks">  2 028</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/GeirD" class="">
                     <span class="index">58. </span>
                     <span class="username has_tooltip" data-useralias="GeirD">Geir Drange</span><em class="city">, Borgen</em>
                     <span class="ticks">  2 026</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/jop2015" class="">
                     <span class="index">59. </span>
                     <span class="username has_tooltip" data-useralias="jop2015">Jon Opheim</span><em class="city">, Øyer</em>
                     <span class="ticks">  2 017</span>
                 </a>
             </li>
   
             <li>
                 <a href="/List/Top/Species/Alle%20arter/Totalt/Hele%20landet/Alle%20lokaliteter/0/OrderByDate/Desc/dmundal" class="">
                     <span class="index">60. </span>
                     <span class="username has_tooltip" data-useralias="dmundal">David Mundal</span><em class="city">, Sauland</em>
                     <span class="ticks">  2 008</span>
                 </a>
             </li>
   
         </ol>
     </div>
 
                


</div>