<ol class="liga">
    <li>
        <span>Dag Holtan</span>
        <span> 5 377</span>
        <span> Ålesund</span>
    </li>

    <li>
        <span>Kåre Arnstein Lye</span>
        <span> 5 220</span>
        <span> Ås</span>
    </li>

    <li>
        <span>Gunnar Engan</span>
        <span> 4 529</span>
        <span> Son</span>
    </li>

    <li>
        <span>Even W Hanssen</span>
        <span> 4 427</span>
        <span> Dilling</span>
    </li>

    <li>
        <span>Reidun Braathen</span>
        <span> 4 362</span>
        <span> Dilling</span>
    </li>

    <li>
        <span>Per Marstad</span>
        <span> 4 321</span>
        <span> Tønsberg</span>
    </li>


    <!-- <li>
         <span>Jørn R Gustad</span> <span> Averøy</span> <span> 4 263</span></li>
    <li>
         <span>John Sandve</span> <span> Nesoddtangen</span> <span> 3 774</span></li>
    <li>
         <span>Per Kristian Slagsvold</span> <span> Larvik</span> <span> 3 565</span></li>
    <li>
         <span>Rune Zakariassen</span> <span> Lommedalen</span> <span> 3 498</span></li>
    <li>
         <span>Norman Hagen</span> <span> Skien</span> <span> 3 484</span></li>
    <li>
         <span>Kåre Homble</span> <span> Nannestad</span> <span> 3 445</span></li>
    <li> 
        <span>Jostein Bærø Engdal</span> <span> Sætre</span> <span> 3 398</span></li>
    <li> 
        <span>Tove Hafnor Dahl</span> <span> Bjorbekk</span> <span> 3 363</span></li>
    <li> 
        <span>Turid Nakling Kristiansen<span> Nøtterøy</span> <span> 3 297</span></li>
    <li> 
        <span>Anders Breili</span> <span> Lillehammer</span> <span> 3 234</span></li>
    <li>
         <span>Arild Omberg</span> <span> Risør</span> <span> 3 220</span></li>
    <li>
         <span>Jostein Austevik</span> <span> Sandnes</span> <span> 3 174</span></li>
    <li>
         <span>Inger Kristoffersen</span> <span> Sandefjord</span> <span> 3 065</span></li> -->
</ol>