<ol class="liga">
    <li>
        <span>Dag Holtan</span>
        <span> 5 377</span>
        <span> Ålesund</span>
    </li>

    <li>
        <span>Kåre Arnstein Lye</span>
        <span> 5 220</span>
        <span> Ås</span>
    </li>

    <li>
        <span>Gunnar Engan</span>
        <span> 4 529</span>
        <span> Son</span>
    </li>

    <li>
        <span>Even W Hanssen</span>
        <span> 4 427</span>
        <span> Dilling</span>
    </li>

    <li>
        <span>Reidun Braathen</span>
        <span> 4 362</span>
        <span> Dilling</span>
    </li>

    <li>
        <span>Per Marstad</span>
        <span> 4 321</span>
        <span> Tønsberg</span>
    </li>



</ol>

<div class="page">

    <header class="page__header"></header>

    <div class="page__content">

        <!---->

        <h2>Oktoberliga</h2>

        <p>Vinnere av flest observasjoner i Oktober</p>

        <div class="grid grid--2x4">

            <div class="grid__cell">

                <div class="award">
                    <div class="award__title">Virvelløse dyr</div>
                    <div class="award__icon award__icon--first"></div>
                    <div class="award__winner">Svein Tjugeskjegg</div>
                </div>

            </div>

            <div class="grid__cell">

                <div class="award">
                    <div class="award__title">Pattedyr</div>
                    <div class="award__icon award__icon--second"></div>
                    <div class="award__winner">Sigurd Jorsalfar</div>
                </div>

            </div>

            <div class="grid__cell">

                <div class="award">
                    <div class="award__title">Karplanter</div>
                    <div class="award__icon award__icon--third"></div>
                    <div class="award__winner">Leiv Eriksson</div>
                </div>

            </div>

            <div class="grid__cell">

                <div class="award">
                    <div class="award__title">Småkryp</div>
                    <div class="award__icon award__icon--fourth"></div>
                    <div class="award__winner">Harald Hårfagre</div>
                </div>

            </div>

            
        </div>


        <!---->


        <h2>Observatører</h2>

        <p>Flest observasjoner totalt</p>

        Filtrer på artsgruppe

        <select name="" id="speciesGroup">
            <option value="All">Alle</option>
            <option value="">Karplanter</option>
            <option value="">Moser</option>
            <option value="">Lav</option>
            <option value="">Sopp</option>
            <option value="">Alger</option>
            <option value="">Virvelløse dyr</option>
            <option value="">Fugler</option>
            <option value="">Amfibier og reptiler</option>
            <option value="">Pattedyr</option>
            <option value="">Flaggermus</option>
            <option value="">Fisk</option>
        </select>

        <div class="league league--primary">

            <div class="league__item" [class]="getRank(i)"
                *ngFor="let user of fakeUsers$ | async | slice:0:3; let i = index">

                <div class="league__position" [class]="i"></div>

                <h1 class="league__detail league__detail--1">{{ user.name }}</h1>
                <div class="league__detail league__detail--2"> {{ user.address.city }}</div>
                <div class="league__detail league__detail--3">{{ user.address.zipcode }}</div>

            </div>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <ul class="league">

            <li *ngFor="let user of fakeUsers$ | async | slice:4">

                <span>{{ user.name }}</span>
                <span> {{ user.address.zipcode }}</span>
                <span>{{ user.address.city }}</span>

            </li>

        </ul>


        <!---->

    </div>

    <footer class="page__footer"></footer>


</div>