<div class="page">

    <header class="page__header"></header>

    <div class="page__content">



        <div class="grid grid--2">
            <div class="grid__cell">


                <!---->

                <p>Du må logge inn for å rapportere</p>

                <form action="">

                    <label for="epost">E-post</label>
                    <input type="email">

                    <label for="Password">Passord</label>
                    <input type="password">

                    <input class="button button--md" type="submit" value="Logg inn">
                </form>

                <!---->

            </div>
            <div class="grid__cell grid__cell--centered"> -->

                <!---->

                <p>Har du ikke konto?</p>
                <button class="button button--lg">Registrer deg</button>

                <!---->

            </div>
        </div>


    </div>

    <footer class="page__footer"></footer>

</div>