<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro"></div>

    <div class="page__content">

        <p class="body-text"> {{ 'statistics.tableDescription_validatedData' | translate }} </p>

        <p class="body-text"> {{ 'statistics.shared_tableDescription_includedDataExplanation' | translate }} </p>

        <ng-container *ngIf="data$ | async as data; else noData">

            <div class="table-container" tabindex="0" role="region" aria-labelledby="caption1">

                <table>
                    <caption id="caption1">{{ 'statistics.tableCaption_validatedDataOriginal' | translate }}
                    </caption>
                    <thead role="rowgroup">
                        <tr role="row">
                            <th scope="col" role="columnheader">
                                {{ 'statistics.tableHeading_speciesGroup' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_sightedTaxonCount' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_sightingsCount' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_withMedia' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_validated' |
                                translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_validatedAndApproved' | translate }}
                            </th>
                        </tr>
                    </thead>

                    <tbody role="rowgroup">
                        <tr role="row" *ngFor="let item of data">

                            <th role="rowheader" scope="row">

                                <app-species-group [speciesGroupId]="item.speciesGroup"></app-species-group>

                            </th>
                            <td role="cell" class="td-number"> {{ item.sightingTaxonCount | formatNumber }} </td>
                            <td role="cell" class="td-number"> {{ item.count | formatNumber }}</td>
                            <td role="cell" class="td-number"> {{ item.sightingWithMediaCount | formatNumber }}
                            </td>
                            <td role="cell" class="td-number"> {{ item.validatedSightingCount | formatNumber }}
                            </td>
                            <td role="cell" class="td-number"> {{ item.approvedSightingCount | formatNumber }} </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <br><br>

            <div class="table-container" tabindex="0" role="region" aria-labelledby="caption2">

                <table>
                    <caption id="caption2">{{ 'statistics.tableCaption_validatedData' | translate }}</caption>
                    <thead role="rowgroup">
                        <tr>
                            <th scope="col" role="columnheader">
                                {{ 'statistics.tableHeading_speciesGroup' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_sightingsCount' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_validated' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_sharedValidatedSightings' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_validatedAndApproved' | translate }}
                            </th>
                            <th scope="col" role="columnheader" class="th-number">
                                {{ 'statistics.tableHeading_shareValidatedAndApproved' | translate }}
                            </th>
                        </tr>
                    </thead>

                    <tbody role="rowgroup">
                        <tr role="row" *ngFor="let item of data">

                            <th role="rowheader" scope="row">

                                <app-species-group [speciesGroupId]="item.speciesGroup"></app-species-group>

                            </th>
                            <td class="td-number" role="cell"> {{ item.count | formatNumber }} </td>
                            <td class="td-number" role="cell"> {{ item.validatedSightingCount | formatNumber }}
                            </td>
                            <td class="td-number" role="cell"> {{ item.percentageSightedVsValidated }} %</td>
                            <td class="td-number" role="cell"> {{ item.approvedSightingCount | formatNumber }} </td>
                            <td class="td-number" role="cell"> {{ item.percentageValidatedVsApproved }} %</td>
                        </tr>
                    </tbody>

                </table>

            </div>

            <p>
                {{ 'statistics.shared_tableDescription_excluded' | translate }}
                <br />
                {{ 'statistics.shared_tableDescription_approved' | translate }}
            </p>

            <app-validation-status-list [validationStatusType]="validationStatuses.approved" style="margin: auto;">
            </app-validation-status-list>

        </ng-container>

        <br><br>

        <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

        <ng-container *ngIf="validatedDataByStatus$ | async as validatedDataByStatus; else noData">

            <div class="table-container" tabindex="0" role="region" aria-labelledby="caption3">

                <table class="custom-table">
                    <caption id="caption3">{{ 'statistics.tableCaption_validatedData2' | translate }}</caption>

                    <thead role="rowgroup">

                        <tr role="row">

                            <th role="columnheader" scope="column">
                                {{ 'statistics.tableHeading_validationCategory' | translate }}
                            </th>

                            <!-- <ng-container *ngFor="let item of validatedDataByStatus | newKeyValue | slice: 0 : 1">
                                <th role="columnheader" class="th-number"
                                    *ngFor="let element of item.value | newKeyValue">
                                    <app-species-group [speciesGroupId]="element.value"> </app-species-group>
                                </th>
                            </ng-container> -->

                            <ng-container *ngFor="let item of validatedDataByStatus | keyvalue | slice: 0 : 1">
                                <th role="columnheader" class="th-number"
                                    *ngFor="let element of item.value | newKeyValue">
                                    <app-species-group [speciesGroupId]="element.value"> </app-species-group>
                                </th>
                            </ng-container>

                        </tr>

                    </thead>

                    <tbody role="rowgroup" *ngFor="let item of validatedDataByStatus | newKeyValue; let i = index">

                        <tr role="row" *ngIf="i > 0">

                            <th role="rowheader" scope="row">

                                <app-validation-status [validationStatusId]="item.key"> </app-validation-status>

                            </th>

                            <td role="cell" class="td-number" *ngFor="let element of item.value | newKeyValue">
                                {{ element.value | formatNumber }}
                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </ng-container>

        <ng-template #noData>
            <app-error-response></app-error-response>
        </ng-template>

    </div>

    <footer class="page__footer"></footer>

</div>