<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro"></div>

    <div class="page__content">

        <p class="body-text"> {{ 'statistics.tableDescription_validatedData' | translate }} </p>

        <p class="body-text"> {{ 'statistics.shared_tableDescription_includedDataExplanation' | translate }} </p>

        <div *ngIf="data$ | async as data; else noData">

            <table>
                <caption>{{ 'statistics.tableCaption_validatedDataOriginal' | translate }}</caption>
                <thead role="rowgroup">
                    <tr role="row">
                        <th scope="col" role="columnheader">
                            {{ 'statistics.tableHeading_speciesGroup' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_sightedTaxonCount' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_sightingsCount' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_withMedia' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validated' |
                            translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validatedAndApproved' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody role="rowgroup">
                    <tr role="row" *ngFor="let item of data">
                        <td role="cell" [attr.data-heading]="'statistics.tableHeading_speciesGroup' | translate">

                            <ng-container *ngIf="currentLanguage$ | async as currentLanguage">

                                <ng-container *ngIf="currentLanguage === 'en'">{{ item.speciesGroup.en }}</ng-container>
                                <ng-container *ngIf="currentLanguage === 'no'">{{ item.speciesGroup.no }}</ng-container>

                            </ng-container>

                        </td>
                        <td role="cell" class="td-number"
                            [attr.data-heading]="'statistics.tableHeading_sightedTaxonCount' | translate"> {{
                            item.sightingTaxonCount | numberProxy }} </td>
                        <td role="cell" class="td-number"
                            [attr.data-heading]="'statistics.tableHeading_sightingsCount' | translate"> {{ item.count |
                            numberProxy }}</td>
                        <td role="cell" class="td-number"
                            [attr.data-heading]="'statistics.tableHeading_withMedia' | translate"> {{
                            item.sightingWithMediaCount | numberProxy }} </td>
                        <td role="cell" class="td-number" [attr.data-heading]="'statistics.tableHeading_validated' |
                        translate"> {{ item.validatedSightingCount | numberProxy }} </td>
                        <td role="cell" class="td-number"
                            [attr.data-heading]="'statistics.tableHeading_validatedAndApproved' | translate"> {{
                            item.approvedSightingCount | numberProxy }} </td>
                    </tr>
                </tbody>
            </table>

            <br><br>

            <table>
                <caption>{{ 'statistics.tableCaption_validatedData' | translate }}</caption>
                <thead role="rowgroup">
                    <tr>
                        <th scope="col" role="columnheader">
                            {{ 'statistics.tableHeading_speciesGroup' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_sightingsCount' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validated' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_sharedValidatedSightings' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_validatedAndApproved' | translate }}
                        </th>
                        <th scope="col" role="columnheader" class="th-number">
                            {{ 'statistics.tableHeading_shareValidatedAndApproved' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody role="rowgroup">
                    <tr role="row" *ngFor="let item of data">
                        <td role="cell" [attr.data-heading]="'statistics.tableHeading_speciesGroup' | translate">

                            <ng-container *ngIf="currentLanguage$ | async as currentLanguage">

                                <ng-container *ngIf="currentLanguage === 'en'">{{ item.speciesGroup.en }}</ng-container>
                                <ng-container *ngIf="currentLanguage === 'no'">{{ item.speciesGroup.no }}</ng-container>

                            </ng-container>

                        </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_sightingsCount' | translate"> {{ item.count |
                            numberProxy }} </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_validated' | translate"> {{
                            item.validatedSightingCount | numberProxy }} </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_sharedValidatedSightings' | translate"> {{
                            item.percentageSightedVsValidated }} %</td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_validatedAndApproved' | translate"> {{
                            item.approvedSightingCount | numberProxy }} </td>
                        <td class="td-number" role="cell"
                            [attr.data-heading]="'statistics.tableHeading_shareValidatedAndApproved' | translate"> {{
                            item.percentageValidatedVsApproved }} %</td>
                    </tr>
                </tbody>

            </table>

            <p>
                {{ 'statistics.shared_tableDescription_excluded' | translate }}
                <br />
                {{ 'statistics.shared_tableDescription_approved' | translate }}
            </p>

            <ul>
                <li>Godkjent basert på observatørens opplysninger</li>
                <li>Godkjent. Belegg gransket av validator</li>
                <li>Godkjent. Foto eller lyd godkjent av validator</li>
                <li>Godkjent basert på determinators verifisering</li>
                <li>Godkjent, basert på en tidligere sjeldenhetsrapport</li>
                <li>Godkjent, funnet er sannsynlig</li>
            </ul>

        </div>

        <br><br>
        {{ validatedDataByStatus$ }}

        <br><br><br><br><br><br><br><br><br><br>
        <div>

            <table class="tbl tbl--lg">
                <caption>{{ 'statistics.tableCaption_validatedData2' | translate }}</caption>
                <thead role="rowgroup">
                    <tr role="row">
                        <th scope="col" role="columnheader">
                            {{ 'statistics.tableHeading_validationCategory' | translate }}
                        </th>
                        <ng-container *ngIf="speciesGroups$ | async as speciesGroups">
                            <th *ngFor="let speciesGroup of speciesGroups">

                                <!-- {{ currentLanguage == 'no' ? speciesGroup.labelNorwegian :
                                speciesGroup.labelEnglish }} -->

                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody role="rowgroup" *ngIf="validationStatus$ | async as validationStatus">
                    <tr role="row" *ngFor="let valStatus of validationStatus">
                        <td role="cell">

                            <!-- {{ currentLanguage == 'no' ? valStatus.labelNorwegian :
                            valStatus.labelEnglish }} -->

                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- <table class="tbl tbl--lg">
            <caption>{{ 'statistics.tableCaption_validatedData2' | translate }}</caption>
            <thead role="rowgroup">
                <tr role="row">
                    <th scope="col" role="columnheader">{{ 'statistics.tableHeading_validationCategory' | translate }}
                    </th>
                    <th scope="col" role="columnheader" class="th-number">Karplanter</th>
                    <th scope="col" role="columnheader" class="th-number">Alger</th>
                    <th scope="col" role="columnheader" class="th-number">Pattedyr</th>
                    <th scope="col" role="columnheader" class="th-number">Amfibier og reptiler</th>
                    <th scope="col" role="columnheader" class="th-number">Flaggermus</th>
                    <th scope="col" role="columnheader" class="th-number">Moser</th>
                    <th scope="col" role="columnheader" class="th-number">Lav</th>
                    <th scope="col" role="columnheader" class="th-number">Fugler</th>
                    <th scope="col" role="columnheader" class="th-number">Sopp</th>
                    <th scope="col" role="columnheader" class="th-number">Virvelløse dyr</th>
                    <th scope="col" role="columnheader" class="th-number">Fisk</th>

                </tr>
            </thead>

            <tbody role="rowgroup">
                <tr role="row">
                    <th scope="row" role="rowheader">Godkjent basert på observatørens opplysninger</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Godkjent. Belegg gransket av validator</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Godkjent. Foto eller lyd godkjent av validator</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Godkjent basert på determinators verifisering</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Godkjent, basert på en tidligere sjeldenhetsrapport</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Godkjent, funnet er sannsynlig</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Kontrollert, behøver ikke valideres</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Kontrollert, kan ikke valideres</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Ufullstendig rapportering</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row" role="rowheader">Underkjent</th>
                    <td role="cell" class="td-number" [attr.data-heading]="'Karplanter'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Alger'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Pattedyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Amfibier og reptiler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Flaggermus'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Moser'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Lav'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fugler'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Sopp'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Virvelløse dyr'">314</td>
                    <td role="cell" class="td-number" [attr.data-heading]="'Fisk'">314</td>
                </tr>
            </tbody>

        </table> -->

        <ng-template #noData>
            <app-error-response></app-error-response>
        </ng-template>

    </div>

    <footer class="page__footer"></footer>

</div>