<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst.
        </p>
    </div>

    <div class="page__content">

        <div class="loop loop--cards">

            <app-intersection [type]="'link'" [url]="getAboutPageUrl(item.url)" [text]="item.heading" *ngFor="let item of aboutPages">
            </app-intersection>

            <app-intersection [type]="'link'" [url]="'news'" [text]="'menu.menu_news' | translate"></app-intersection>

        </div>

    </div>

    <footer class="page__footer"></footer>

</div>