<!--layout component-->

<footer class="footer" role="contentinfo">

    <div class="footer__grid">

        <div class="footer__column footer__column--x">

            <nav class="link-list">
                <ul>
                    <li><a routerLink="/about">Om Artsobservasjoner</a></li>
                    <li><a routerLink="/contact">Kontakt & Brukerstøtte</a></li>
                    <li><a routerLink="/about/tou">Brukervilkår</a></li>
                    <li><a routerLink="/design">Design</a></li>
                </ul>
            </nav>


        </div>

        <div class="footer__column footer__column--y">

            <h1>Samarbeidspartnere</h1>
            <nav class="link-list">
                <ul>
                    <li><a href="">Sabima</a></li>
                    <li><a href="">Norsk Ornitologisk Forening</a></li>
                    <li><a href="">Norsk Botanisk Forening</a></li>
                    <li><a href="">Norges sopp- og nyttevekstforbund</a></li>
                    <li><a href="">Norsk Zoologisk Forening</a></li>
                    <li><a href="">Norsk entomologisk forening</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer__column footer__column--z">
            <nav class="link-list">
                <button>NO</button>
                &nbsp;
                <button>EN</button>

                <ul>
                    <li><a routerLink="/faq">Ofte stilte spørsmål</a></li>
                    <li><a routerLink="/dictionary">Ordliste</a></li>

                </ul>
            </nav>
        </div>

        <div class="footer__column footer__column--wide">
            <h1>Medlem av</h1>

            <a href="https://artsdatabanken.no/" style="border: none">
                <img class="footer-logo" style="width: 200px"
                    src="./assets/images/logos/artsdatabankenHorizontalGreyscale.png" alt="Artsdatabanken">
            </a>

            <a href="https://ecsa.citizen-science.net/" style="border: none">
                <img class="footer-logo" src="./assets/images/logos/ecsa.jpg"
                    alt="ECSA European Citizen Science Association">
            </a>

        </div>

    </div>

</footer>

<!--layout component-->