<!--layout component-->

<footer class="footer" role="contentinfo">

    <div class="footer__column">


        Om Artsobservasjoner
        Kontakt & Brukerstøtte
        Brukervilkår
    
    
    </div>

    <div class="footer__column">


        Samarbeidspartnere:
        Sabima
        Norsk Ornitologisk Forening
        Norsk Botanisk Forening
        Norges sopp- og nyttevekstforbund
        Norsk Zoologisk Forening
        Norsk entomologisk forening
    
        Finansiert av:
        Klima- og miljødepartementet
    
    
    </div>

    <div class="footer__column">

    </div>

    <div class="footer__column">

    </div>

</footer>

<!--layout component-->