<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst
        </p>
    </div>

    <div class="page__content">

       <table>
           <thead>
               <tr>
                   <th>Dato / tid</th>
                   <th>Melding</th>
                   <th>Til  / fra</th>
                   <th></th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
           </tbody>
       </table>

    </div>

    <footer class="page__footer"></footer>

</div>