<div class="page">

    <header class="page__header"></header>

    <div class="page__intro"> </div>

    <div class="page__content">

        <ng-container *ngIf="toggledItems$ | async as items">

            <div class="active-search" *ngIf="items.length > 0">

                <ng-container *ngIf="items.length < 3; else isBigger">

                    <small style="display: block; font-weight: 700; margin-bottom: 5px;">{{ 'shared.search_chosenFilters' | translate }}: {{ items.length }}</small>

                    <div class="active-search__content">
                        <button class="button button--xxs button--close" style="display: inline-block; margin: 0 3px;" *ngFor="let item of items">
                            {{item}}
                        </button>
                    </div>

                </ng-container>

                <ng-template #isBigger>

                    <div class="active-search__content" [ngClass]="{'active-search__content--toggle': items.length > 2}"
                        (click)="toggleActiveFilters()">
                        {{ 'shared.search_chosenFilters' | translate }}: {{ items.length }}
                    </div>

                    <div class="active-search__box" [ngClass]="{'active-search__box--expanded': showActiveFiltersPane}">

                        <button class="button button--xxs button--close" style="display: block; margin: 5px 0;"
                            *ngFor="let item of items">
                            {{item}}
                        </button>
                        <br>

                    </div>

                </ng-template>

            </div>

        </ng-container>

        <!--shareable non dummy component-->

        <app-filter [dfYears]="false"></app-filter>

        <button class="button button--primary button--md" style="width: auto;" (click)="toggle()" aria-controls="t1">
            Søk og filtrer
        </button>

        <br><br><br><br>

        <div class="slide-wrapper" [ngClass]="{'slide-wrapper--active' : isActive}" (click)="close()">
        </div>

        <div class="slide-box" [ngClass]="{'slide-box--active' : isActive}" [attr.aria-expanded]="isActive">

            <div class="slide-box__content">

                <input class="input input--search" id="" placeholder="{{ 'shared.search_searchTaxon' | translate }}">
                <br>
                <!-- <div class="bulk" *ngFor="let item of array; let i = index">
                    <button class="bulk__button" [ngClass]="{'bulk__button--active' : buttonClicked === i}"
                        [attr.aria-expanded]="buttonClicked === i" (click)="toggleBulk($event, i)">
                        Filterbolk {{ i + 1 }}
                    </button>

                    <div class="bulk__content" [ngClass]="{'bulk__content--expanded': buttonClicked === i}"
                        *ngIf="buttonClicked === i">
                        <app-bulk></app-bulk>
                    </div>
                </div> -->
                <app-bulk></app-bulk>

            </div>

            <div class="slide-box__bar">
                <button class="button button--sm" (click)="close()">Lukk</button>
                <button class="button button--sm button--full">Søk</button>
            </div>

        </div>





        <!--shareable non dummy component-->

        <div *ngIf="sightings$ | async as sightings">

            <table>
                <thead>
                    <tr>
                        <th colspan="7">TEST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sighting of sightings">
                        <td>{{ sighting.id }}</td>
                        <td><i>{{ sighting.taxon?.name }}</i></td>
                        <td>{{ sighting.taxon?.rank }}</td>
                        <td>{{ sighting.observed_on | date: 'dd.MM.YYYY' }}</td>
                        <td>{{ sighting.created_at | date: 'dd.MM.YYYY' }}</td>
                        <td>{{ sighting.user_login }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <footer class="page__footer"></footer>


</div>