<button class="hamburger hamburger--squeeze" id="hamburger" [ngClass]="{'hamburger--is-active': isActive}" type="button"
    (click)="toggleMenu()">
    <span class="hamburger__text">
        Meny
    </span>
    <span class="hamburger__box">
        <span class="hamburger__inner"></span>
    </span>
</button>

<div class="menu" id="menu" [ngClass]="{'menu--open': isActive}">

    <nav class="navigation navigation--top">

        <a class="navigation__link" [class]="getCSSClass(link.type)" routerLinkActive="navigation__link--active"
            routerLink="{{ link.name }}" *ngFor="let link of topMenu$ | async">
            <span class="navigation__label"> {{ link.title }}</span>
        </a>

    </nav>

    <nav class="navigation navigation--primary" role="navigation">

        <div class="navigation__container">

            <div class="navigation__item" *ngFor="let link of mainMenu$ | async; let i = index">

                <h1 class="navigation__heading">
                    <span class="navigation__heading-text"> {{ link.section }} </span>
                    <a class="navigation__heading-link" routerLink="/{{ link.sectionUrl }}"
                        closeMenu>{{ link.section }}</a>
                </h1>

                <div class="navigation__section" [class]="getCSSClass(link)">

                    <a class="navigation__link" [class]="getCSSClass(link)" routerLinkActive="navigation__link--active"
                        routerLink="{{ link.name }}" *ngFor="let link of link.sectionContent" closeMenu>
                        <span class="navigation__label"> {{ link.title }}</span>
                    </a>

                </div>

            </div>

        </div>

    </nav>

    <nav class="navigation navigation--secondary" role="navigation">

        <div class="navigation__container">

            <!--subnavigation-->
            <div class="navigation__item" *ngFor="let link of subMenu$ | async">

                <h1 class="navigation__heading">
                    <span class="navigation__heading-text"> {{ link.section }} </span>
                    <a class="navigation__heading-link" routerLink="/{{ link.sectionUrl }}"
                        closeMenu>{{ link.section }}</a>
                </h1>

                <div class="navigation__section" [class]="getCSSClass(link)">

                    <a class="navigation__link" [class]="getCSSClass(link)" routerLinkActive="navigation__link--active"
                        routerLink="{{ link.name }}" *ngFor="let link of link.sectionContent" closeMenu>
                        <span class="navigation__label"> {{ link.title }}</span>
                    </a>

                </div>

            </div>
            <!--subnavigation-->

            <!--extra links-->
            <div class="navigation__item">

                <div class="navigation__section  navigation__section--special">

                    <a class="navigation__link navigation__link--special"
                        routerLinkActive="navigation__link--active" routerLink="{{ link.name }}"
                        *ngFor="let link of extraMenu$ | async" closeMenu>
                        <span class="navigation__label"> {{ link.title }}</span>
                    </a>

                </div>

            </div>
            <!--extra links-->

        </div>

    </nav>

    <footer class="menu__footer">

        <p><a href="https://artsdatabanken.no/">Artsdatabanken</a></p>

        <p> Medlem av <a href="https://ecsa.citizen-science.net/">ECSA European Citizen Science Association </a></p>

    </footer>

</div>