<button class="hamburger hamburger--squeeze" id="hamburger" [ngClass]="{'hamburger--is-active': activeMenu}"
    type="button" (click)="toggleMenu()" arial-label="Åpne og lukke meny">
    <span class="hamburger__text">
        Meny
    </span>
    <span class="hamburger__box" aria-hidden="true">
        <span class="hamburger__inner"></span>
    </span>
</button>

<div class="menu" id="menu" [ngClass]="{'menu--open': activeMenu}" [attr.aria-expanded]="activeMenu">

    <app-navigation></app-navigation>

    <footer class="menu__footer">
        <app-extra-navigation></app-extra-navigation>
    </footer>

</div>