<button class="hamburger hamburger--squeeze" id="hamburger" [ngClass]="{'hamburger--is-active': isActive}" type="button"
    (click)="toggleMenu()">
    <span class="hamburger__text">
        Meny
    </span>
    <span class="hamburger__box">
        <span class="hamburger__inner"></span>
    </span>
</button>

<div class="menu" id="menu" [ngClass]="{'menu--open': isActive}">

    <!-- <div class="menu__grid">
        <a class="button button--primary button--md" routerLink="/report-observation">Rapportere observasjon</a>
        <a class="button button--primary button--md" routerLink="/sightings">Se, søk og filtrer observasjoner</a>
    </div> -->

    <app-top-navigation [location]="'menu'"></app-top-navigation>
    <app-navigation></app-navigation>
    <app-sub-navigation></app-sub-navigation>

    <footer class="menu__footer">

        <p><a href="https://artsdatabanken.no/">Artsdatabanken</a></p>

        <p> Medlem av <a href="https://ecsa.citizen-science.net/">ECSA European Citizen Science Association </a></p>

    </footer>

</div>