<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst
        </p>
    </div>

    <div class="page__content">

        <table class="tbl-md">
            <thead>
                <tr>
                    <th>Dato / tid</th>
                    <th>
                        Fra &rarr;<br>
                        Til &larr;
                    </th>
                    <th>Melding</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="td-sm">01. november <br>12:48</td>
                    <td class="td-md"><strong>Ole Olesen</strong> <br>&rarr;</td>
                    <td>Lluctus fringilla ac non justo. Maecenas non purus erat. Aliquam sagittis nibh non efficitur
                        [...]</td>
                    <td>Valideringsmelding</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="td-sm">31. oktober <br>13:37</td>
                    <td class="td-md"><strong>Navn Navnesen</strong><br>&larr;</td>
                    <td>Lluctus fringilla ac non justo. Maecenas non purus erat. Aliquam sagittis nibh non efficitur
                        [...]</td>
                    <td></td>
                    <td></td>
                </tr>


                <tr>
                    <td class="td-sm">30. oktober <br>12:48</td>
                    <td class="td-md"><strong>Navn Navnesen</strong><br>&larr;</td>
                    <td>Lluctus fringilla ac non justo. Maecenas non purus erat. Aliquam sagittis nibh non efficitur
                        [...]</td>
                    <td></td>
                    <td></td>
                </tr>


                <tr>
                    <td class="td-sm">28. oktober <br>13:37</td>
                    <td class="td-md"><strong>Johannes Johannessen</strong><br>&rarr;</td>
                    <td>Lluctus fringilla ac non justo. Maecenas non purus erat. Aliquam sagittis nibh non efficitur
                        [...]</td>
                    <td>Valideringsmelding</td>
                    <td></td>
                </tr>

            </tbody>
        </table>

    </div>

    <footer class="page__footer"></footer>

</div>