<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro">
      
    </div>

    <div class="page__content">

        <ul>
            <li>Hvilke artsgrupper er lite rapportert? (fisker, alger?, … )</li>
            <li>Sammenligne antall arter påvist i Norge fra Artsnavnebasen med hvor mange arter som er rapportert i
                Artsobs. for
                hver artsgruppe.</li>
            <li> Vise artsgrupper der antall bilder er lavt.</li>
            <li>Er det artsgrupper der geografisk presisjon/nøyaktighet generelt er svært lav?</li>
            <li> Vise tall for <strong>Ikke funnet</strong> og <strong>ikke gjenfunnet</strong> (presenterer GBIF noe
                lignende som vi kan adoptere?)?</li>
            <li>Vise andel fremmede arter vs. totalt antall registreringer over tid innenfor de ulike artsgruppene</li>
            <li>Statistikk på metadata – hvor (arter, artsgrupper?) er antall individ, biotop etc. ikke rapportert?</li>
            <li> Se på presentasjonene under 'Rødlistede arter' og 'Fremmede arter': Presentere det som ikke har data
                (evt. få
                observasjoner)??? Må kobles mot kilder som viser at det kan eksistere data i kategoriene (f.eks. er det
                ingen
                alger som er risikovurdert til HI i 2018, så da er det feil å presentere det som at det mangler data for
                denne
                kategorien).</li>
        </ul>

    </div>

    <footer class="page__footer">

    </footer>


</div>