<!--layout component-->

<!-- <ul class="breadcrumbs" aria-label="Breadcrumbs">

    <li class="breadcrumbs__item" *ngIf="!isHome">
        <span class="breadcrumbs__link" [routerLink]="['/']" routerLinkActive="breadcrumbs__link--active">
            Forsiden
        </span>
        <span class="separator"> </span>
    </li>
    <li class="breadcrumbs__item" *ngFor="let breadcrumb of breadcrumbs; let i = index">
        <span class="breadcrumbs__link" [routerLink]="breadcrumb.url" routerLinkActive="breadcrumbs__link--active">
            {{ breadcrumb.label }}
        </span>
        <span class="separator" *ngIf="i !== breadcrumbs.length - 1"> </span>
    </li>

</ul> -->

<nav class="breadcrumbs" *ngIf="breadcrumbs">
    <a class="breadcrumb" routerLinkActive="breadcrumb--active" routerLink="/">Forsiden</a>

    <a class="breadcrumb" routerLinkActive="breadcrumb--active" routerLink="/{{ breadcrumb.url }}"
        *ngFor="let breadcrumb of breadcrumbs; let i = index">

        <span style="color: red;">{{ breadcrumb.parentKey }}</span>
        /
        <span>{{ 'menu.' + breadcrumb.label | translate }}</span>

        <!-- <span><small> &raquo; </small></span> -->
        <span *ngIf="i !== breadcrumbs.length - 1"><small> &raquo; </small></span>
    </a>
</nav>

<!--layout component-->