<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
          Tekst
        </p>
    </div>

    <div class="page__content">
        
        <div class="loop loop--cards">

            <app-card [type]="'link'" [url]="'/management'" [title]="'Mine prosjekter'"></app-card>
            <app-card [type]="'link'" [url]="'/management'" [title]="'Mine lokaliteter'"></app-card>
            <app-card [type]="'link'" [url]="'/management'" [title]="'Mine samlinger'"></app-card>
            <app-card [type]="'link'" [url]="'/management'" [title]="'Medobservatører'"></app-card>            
            
        </div>

    </div>

    <footer class="page__footer"></footer>

</div>