<div class="shareable">

    <div class="infographics">

        <figure class="infographics__figure">

            <div class="infographics__image">

                <img src="/assets/images/gallery/statsBinoculars.png" alt=""
                    class="infographics__img infographics__img--sm">

            </div>

            <figcaption class="infographics__text"><b class="emphasized">2 300 000</b> observasjoner <br> publisert
            </figcaption>

        </figure>

        <figure class="infographics__figure">


            <div class="infographics__image">
                <img src="/assets/images/gallery/statsLeaf.png" alt="" class="infographics__img">
            </div>

            <figcaption class="infographics__text"><b class="emphasized">23 000</b> arter <br> rapportert
            </figcaption>

        </figure>

        <figure class="infographics__figure">

            <div class="infographics__image">

                <img src="/assets/images/gallery/statsPeople.png" alt=""
                    class="infographics__img  infographics__img--lg">

            </div>

            <figcaption class="infographics__text"><b class="emphasized">14 000</b> registrerte <br> brukere
            </figcaption>

        </figure>

        <figure class="infographics__figure">

            <div class="infographics__image">
                <img src="/assets/images/gallery/statsCamera.png" alt="" class="infographics__img">
            </div>

            <figcaption class="infographics__text"><b class="emphasized">300 000</b> bilder <br> lagt inn
            </figcaption>

        </figure>

    </div>

</div>