<!--REUSABLE non dummy component-->

<div class="stripe">
    <div class="stripe__cell">
        <div class="badge" [ngClass]="{'badge--top': position < 4, 'badge--top10': position < 11 && position > 3}">
            {{ position }}
        </div>
    </div>
    <div class="stripe__cell">
        <strong style="font-size: 1.175em">{{ topObserver.name }}</strong>
        <br>
        <span style="font-size: 0.9em">{{ topObserver.city }}</span>
    </div>
    <div class="stripe__cell">
        {{ topObserver.sightingsCount | formatNumber }}
    </div>
</div>

<!--REUSABLE non dummy component-->