<div class="shareable">

    <app-total-count-statistics [statistics]="'totalSightings'" [text]="'statistics.overviewNumbers_sightings' | translate" [size]="'sm'"></app-total-count-statistics>
    <app-total-count-statistics [statistics]="'totalSpecies'" [text]="'statistics.overviewNumbers_species' | translate"  [size]="'sm'"></app-total-count-statistics>
    <app-total-count-statistics [statistics]="'totalUsers'" [text]="'statistics.overviewNumbers_users' | translate"  [size]="'sm'"></app-total-count-statistics>
    <app-total-count-statistics [statistics]="'totalImages'" [text]="'statistics.overviewNumbers_images' | translate"  [size]="'sm'"></app-total-count-statistics>

</div>