<div class="shareable">

    <div class="loop loop--stats loop--stats-sm" style=" margin: 0 0 70px;">

        <app-total-count-statistics [statistics]="totalCountStatistics.totalSightings"
            [text]="'statistics.overviewNumbers_sightings' | translate" [size]="'sm'"></app-total-count-statistics>

        <app-total-count-statistics [statistics]="totalCountStatistics.totalSpecies"
            [text]="'statistics.overviewNumbers_species' | translate" [size]="'sm'"></app-total-count-statistics>

        <app-total-count-statistics [statistics]="totalCountStatistics.totalUsers"
            [text]="'statistics.overviewNumbers_users' | translate" [size]="'sm'"></app-total-count-statistics>

        <app-total-count-statistics [statistics]="totalCountStatistics.totalImages"
            [text]="'statistics.overviewNumbers_images' | translate" [size]="'sm'"></app-total-count-statistics>

    </div>

</div>