<!--REUSABLE COMPONENT-->

<div class="pagination">
    <!--back buttons-->

    <button class="pagination__button pagination__button--first" (click)="pagination.first()"
        [disabled]="pagination.isFirst"> </button>

    <button class="pagination__button pagination__button--prev" (click)="pagination.prev()"
        [disabled]="pagination.isFirst"> </button>

    <!--back buttons-->

    <!-- input -->

    <input appPagination #pagination="appPagination" [totalPages]="totalPages" (pageChange)="onPageChange($event)" />

    <!-- input -->

    <div class="pagination__item" style="border: none;">/ {{ totalPages }}</div>

    <!--forward buttons-->

    <button class="pagination__button pagination__button--next" (click)="pagination.next()"
        [disabled]="pagination.isLast"> </button>

    <button class="pagination__button pagination__button--last" (click)="pagination.last()"
        [disabled]="pagination.isLast"> </button>

    <!--forward buttons-->

    <!-- <div class="pagination__item" style="border: none;">{{ pagination.pageNumber }}</div> -->

</div>

<!--REUSABLE COMPONENT-->