<!--REUSABLE COMPONENT-->

<div class="pagination">
    <!--back buttons-->

    <button class="pagination__button pagination__button--first" (click)="pagination.first()"
        [disabled]="pagination.isFirst">
        <span class="sr-only"> {{ 'buttonText.pagination_first' | translate }} </span>
    </button>

    <button class="pagination__button pagination__button--prev" (click)="pagination.prev()"
        [disabled]="pagination.isFirst">     
        <span class="sr-only"> {{ 'buttonText.pagination_prev' | translate }} </span>
    </button>

    <!--back buttons-->

    <!-- input -->

    <input class="pagination__input" appPagination #pagination="appPagination" [totalPages]="totalPages"
        (pageChange)="onPageChange($event)" />

    <!-- input -->

    <div class="pagination__item" style="border: none;">/ {{ totalPages }}</div>

    <!--forward buttons-->

    <button class="pagination__button pagination__button--next" (click)="pagination.next()"
        [disabled]="pagination.isLast"> 
        <span class="sr-only"> {{ 'buttonText.pagination_next' | translate }} </span>
    </button>

    <button class="pagination__button pagination__button--last" (click)="pagination.last()"
        [disabled]="pagination.isLast">        
        <span class="sr-only"> {{ 'buttonText.pagination_last' | translate }} </span>
    </button>

    <!--forward buttons-->

    <!-- <div class="pagination__item" style="border: none;">{{ pagination.pageNumber }}</div> -->

</div>

<!--REUSABLE COMPONENT-->