<!---->

<!-- <div *ngFor="let array of COLORS">

    <div *ngFor="let item of array">

        <button class="button button--yyyy">{{item}}</button>

    </div>

</div> -->

<!-- <div class="checkboxes">
    <label class="checkbox">
        <span class="checkbox__input">
            <input type="checkbox" name="checkbox">
            <span class="checkbox__control">
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true"
                    focusable="false">
                    <path fill='none' stroke='currentColor' stroke-width='3'
                        d='M1.73 12.91l6.37 6.37L22.79 4.59' />
                </svg>
            </span>
        </span>
        <span class="radio__label">Checkbox</span>
    </label>


    <label class="checkbox">
        <span class="checkbox__input">
            <input type="checkbox" name="checked" checked>
            <span class="checkbox__control">
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true"
                    focusable="false">
                    <path fill='none' stroke='currentColor' stroke-width='3'
                        d='M1.73 12.91l6.37 6.37L22.79 4.59' />
                </svg>
            </span>
        </span>
        <span class="radio__label">Checkbox - Checked</span>
    </label>

    <label class="checkbox checkbox--disabled">
        <span class="checkbox__input">
            <input type="checkbox" name="disabled" disabled>
            <span class="checkbox__control">
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true"
                    focusable="false">
                    <path fill='none' stroke='currentColor' stroke-width='3'
                        d='M1.73 12.91l6.37 6.37L22.79 4.59' />
                </svg>
            </span>
        </span>
        <span class="radio__label">Checkbox - Disabled</span>
    </label>

    <label class="checkbox checkbox--disabled">
        <span class="checkbox__input">
            <input type="checkbox" name="disabled-checked" disabled checked>
            <span class="checkbox__control">
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true"
                    focusable="false">
                    <path fill='none' stroke='currentColor' stroke-width='3'
                        d='M1.73 12.91l6.37 6.37L22.79 4.59' />
                </svg>
            </span>
        </span>
        <span class="radio__label">Checkbox - Disabled Checked</span>
    </label>
</div> -->
<!---->

<div class="bulk" *ngFor="let item of array; let i = index">
    <button class="bulk__button" [ngClass]="{'bulk__button--active' : buttonClicked === i}"
        [attr.aria-expanded]="buttonClicked === i" (click)="toggleBulk($event, i)">
        Filterbolk {{ i + 1 }}
    </button>

    <div class="bulk__content" [ngClass]="{'bulk__content--expanded': buttonClicked === i}"
        *ngIf="buttonClicked === i">

        <div *ngFor="let item of colors">

            <button class="button button--yyyy" (click)="toggleItem(item, i)">{{item}}</button>
    
        </div>

    </div>
</div>