<!--REUSABLE non dummy component-->

<div class="stripe-wrapper">
    <div class="stripe stripe--accordion">

        <div class="stripe__cell">
            <strong><i>{{ data.scientificName }}</i></strong>
            <br>
            <span style="font-size: 0.9em">{{ data.vernacularName }}</span>
        </div>

        <div class="stripe__cell">
            {{ data.date | date: 'dd.MM.yyyy' }}
        </div>

        <div class="stripe__cell">
            <button class="stripe__toggle" [ngClass]="{'stripe__toggle--active': isExpanded}"
                (click)="toggle(this, $event)"></button>
        </div>

    </div>

    <div class="stripe stripe--single" [ngClass]="{'stripe--expanded': isExpanded}">
        <div class="stripe__cell">

            <br><br><br><br><br>
            Eksempel data for takson {{ data.taxonId }}
            <br><br><br><br><br>
        </div>
    </div>

</div>

<!--REUSABLE non dummy component-->