<!--shareable non dummy component-->

<div class="non-dummy">
       
    <dl class="assessment-categories" *ngIf="redlistedCategories$ | async as categories">

        <ng-container *ngFor="let category of categories">
            <dt class="assessment-categories__cat assessment-categories__cat--ne">{{ category.code }}</dt>
            <dd *ngIf="currentLanguage === 'en'">{{ category.labelEnglish }}</dd>
            <dd *ngIf="currentLanguage === 'no'">{{ category.labelNorwegian }}</dd>
        </ng-container>
    </dl>

</div>

<!--shareable non dummy component-->