<!--shareable non dummy component-->

<div class="filter">

    <!--years-->

    <select name="yearSelector" id="years" [(ngModel)]="activeFilters.year" (ngModelChange)="onYearSelection($event)">

        <option [ngValue]="null">
            {{ 'shared.select_years' | translate }}
        </option>

        <option [value]="year" *ngFor="let year of years">
            {{ year }}
        </option>

    </select>

    <!--years-->

    <!--species groups-->

    <select name="speciesGroupsSelector" id="speciesGroups" [(ngModel)]="activeFilters.speciesGroup" #speciesGroup
        (ngModelChange)="onSpeciesGroupSelection($event)" [disabled]="isSpeciesGroupDisabled">

        <option [ngValue]="null">
            {{ 'shared.select_speciesGroups' | translate }}
        </option>

        <option [value]="sg.id" *ngFor="let sg of speciesGroups$ | async">
            <ng-container *ngIf="currentLanguage$ | async as currentLanguage">
                {{ currentLanguage === 'no' ? sg.no : sg.en }}
            </ng-container>
        </option>

    </select>

    <!--species groups-->

    <!--taxon-->

    <div class="search-box">

        <input class="search-box__input" [ngModel]="activeFilters.taxon" #taxon (keyup)="getTaxon(taxon.value)" [disabled]="isTaxonDisabled"
            placeholder="{{ 'shared.search_searchTaxon' | translate }}">

        <div class="search-box__field" [ngClass]="{'search-box__field--show': showTaxonPane}"
            *ngIf="taxons$ | async as taxons" (clickElsewhere)="closeTaxonPane(this)">

            <div class="search-box__stripe" *ngFor="let taxon of taxons" (click)="onTaxonSelection(taxon)">

                <h2>
                    <span [ngClass]="{'text-italics': taxon.taxonCategoryId > 13}">
                        {{ taxon.scientificName.name }}
                    </span>

                    <small class="text-uppercase" *ngIf="taxon.scientificName.author">
                        {{ taxon.scientificName.author }}
                    </small>
                </h2>
                <h3>
                    {{ taxon.vernacularName?.name | lowercase }}
                    <small class="text-uppercase" *ngIf="taxon.vernacularName?.author">
                        {{ taxon.vernacularName.author }}
                    </small>
                </h3>

                <div class="search-box__details">

                    <span class="tag"
                        *ngIf="taxon.scientificNameSynonyms.length > 0 || taxon.vernacularNameSynonyms.length > 0">
                        {{ 'shared.synonyms' | translate }}
                    </span>

                    <ng-container *ngIf="taxon.scientificNameSynonyms.length > 0">

                        <div *ngFor="let synonym of taxon.scientificNameSynonyms">
                            <small [ngClass]="{'text-bold': synonym.isSearchMatch}"><i> {{ synonym.name }}
                                </i></small>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="taxon.vernacularNameSynonyms.length > 0">

                        <div *ngFor="let synonym of taxon.vernacularNameSynonyms">
                            <small [ngClass]="{'text-bold': synonym.isSearchMatch}"> {{ synonym.name }} </small>
                        </div>

                    </ng-container>

                </div>

            </div>

            <div class="search-box__stripe" *ngIf="taxons.length === 0">
                {{ 'shared.noHits' | translate }}
            </div>

        </div>

    </div>

    <!--taxon-->
    <!--area-->

    <div class="search-box">

        <input class="search-box__input" [ngModel]="activeFilters.area" #area (keyup)="getArea(area.value)"
            placeholder="{{ 'shared.search_searchArea' | translate }}">

        <div class="search-box__field" [ngClass]="{'search-box__field--show': showAreaPane}"
            *ngIf="areas$ | async as areas" (clickElsewhere)="closeAreaPane(this)">

            <div class="search-box__stripe" *ngFor="let area of areas" (click)="onAreaSelection(area.id, area.name)">

                <h2>
                    <span> {{ area.name }} {{ area.id }}</span>
                    <ng-container *ngIf="area.name == 'Oslo'">
                        <small *ngIf="area.type == areaType.county">
                            ({{ 'shared.area_county' | translate | lowercase }})
                        </small>
                    </ng-container>
                </h2>

            </div>

            <div class="search-box__stripe" *ngIf="areas.length === 0">
                {{ 'shared.noHits' | translate }}
            </div>

        </div>

    </div>

    <!--area-->

</div>

<br>

<div class="loop loop--filters">

    <!-- <small *ngIf="showResetButton">{{ 'shared.search_chosenFilters' | translate }}: </small> -->
    <small>{{ 'shared.search_chosenFilters' | translate }}: </small>

    <ng-container *ngFor="let prop of activeFilters | keyvalue">

        <button class="button button--xs button--close" *ngIf="prop.value !== null" (click)="resetFilter(prop.key)">

            <ng-container *ngIf="prop.key !== 'speciesGroup'">
                {{ prop.value }}
            </ng-container>

            <ng-container *ngIf="prop.key === 'speciesGroup'">
                <app-species-group [speciesGroupId]="prop.value"></app-species-group>
            </ng-container>

        </button>

    </ng-container>

    <!-- <button class="button button--xs button--close" *ngIf="showResetButton" (click)="resetFilters()">
        {{ 'shared.resetFilters' | translate }}
    </button> -->

    <button class="button button--xs button--close" (click)="resetFilters()">
        {{ 'shared.resetFilters' | translate }}
    </button>

</div>

<!--shareable non dummy component-->