<button class="hamburger hamburger--squeeze" [ngClass]="{'hamburger--is-active': isActive}" type="button"
    (click)="toggleMenu()">
    <span class="hamburger__text">
        Meny
    </span>
    <span class="hamburger__box">
        <span class="hamburger__inner"></span>
    </span>
</button>



<!-- <nav class="navigation" [ngClass]="{'menu--visible': isActive}">
    <div class="menu__item">
        <a class="menu__link" [routerLink]="'/home'" *ngIf="ariaLabel === 'footerMenu'">Home</a>
        <a class="menu__link" routerLinkActive="menu__link--active" routerLink="{{ link.name }}"
            *ngFor="let link of navigationLinks$ | async">
            {{ link.title }}
        </a>
    </div>

    <div class="menu__item menu__item--secondary">
        <a class="menu__link" [routerLink]="'/home'" *ngIf="ariaLabel === 'footerMenu'">Home</a>
        <a class="menu__link" routerLinkActive="menu__link--active" routerLink="{{ link }}"
            *ngFor="let link of subNavigationLinks$ | async">
            {{ link | titlecase | translate | trim }}
        </a>
    </div>

    <div>
        <app-language-switcher [cssClass]="'flags--mobile'"></app-language-switcher>
    </div>
</nav> -->

<nav class="menu" [ngClass]="{'menu--open': isActive}">

    <div class="menu__item" *ngFor="let link of navigationLinks$ | async">

        <h1 class="menu__section">
            {{ link.section }}
        </h1>

        <a class="menu__link" routerLinkActive="menu__link--active" routerLink="{{ link.name }}"
            *ngFor="let link of link.content">
            {{ link.title }}
        </a>
    </div>

</nav>