<button class="hamburger hamburger--squeeze" [ngClass]="{'hamburger--is-active': isActive}" type="button"
    (click)="toggleMenu()">
    <span class="hamburger__box">
        <span class="hamburger__inner"></span>
    </span>
</button>



<nav class="mobile-navigation" [ngClass]="{'mobile-navigation--visible': isActive}">
    <div class="mobile-navigation__item">
        <a class="mobile-navigation__link" [routerLink]="'/home'" *ngIf="ariaLabel === 'footerMenu'">Home</a>
        <a class="mobile-navigation__link" routerLinkActive="mobile-navigation__link--active" routerLink="{{ link.name }}"
            *ngFor="let link of navigationLinks$ | async">
            {{ link.title }}
        </a>
    </div>

    <div class="mobile-navigation__item mobile-navigation__item--secondary">
        <a class="mobile-navigation__link" [routerLink]="'/home'" *ngIf="ariaLabel === 'footerMenu'">Home</a>
        <a class="mobile-navigation__link" routerLinkActive="mobile-navigation__link--active" routerLink="{{ link }}"
            *ngFor="let link of subNavigationLinks$ | async">
            {{ link | titlecase | translate | trim }}
        </a>
    </div>

    <div>
        <app-language-switcher [cssClass]="'flags--mobile'"></app-language-switcher>
    </div>
</nav>