<!--REUSABLE COMPONENT-->

<div class="dropdown-container">

    <div class="dropdown" [ngClass]="{'dropdown--active': activeDropdown}" (clickElsewhere)="closeDropdown()" id="{{ id }}">

        <!-- <button class="dropdown__button" [ngClass]="{'dropdown__button--active': activeDropdown}"
            (click)="toggleDropdown()">
            {{ title }}
        </button> -->

        <button class="dropdown__button" [ngClass]="{'dropdown__button--active': activeDropdown}" (click)="toggleDropdown2(this)">
            {{ title }}
        </button>

        <div class="dropdown__pane" [ngClass]="{'dropdown__pane--open': activeDropdown}"
            [attr.aria-expanded]="activeDropdown">

            <a *ngFor="let option of options" class="dropdown__link" [class]="getDropdownOptionIcon(option.icon, icon)"
                routerLink="{{ option.url }}" routerLinkActive="dropdown__link--active" closeDropdown getDropdownItem>
                {{ option.text | translate }}
            </a>

        </div>

    </div>

</div>

<!--REUSABLE COMPONENT-->