<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst.
        </p>
    </div>

    <div class="page__content">

        <nav class="sitemap" *ngFor="let link of menuItems">
            <!-- {{link.data.text}} -->

            <a class="sitemap__parent" routerLink="/{{ link.path }}" *ngIf="link.data.parent === ''">{{ link.data.text }}</a>
            <a class="sitemap__child" routerLink="/{{ link.path }}" *ngIf="link.data.parent !== ''">{{ link.data.text }}</a>
        </nav>

    </div>

    <footer class="page__footer"></footer>

</div>