<!--REUSABLE COMPONENT-->


<div class="dropdown-container">

    <div class="dropdown" [ngClass]="{'dropdown--active': activeDropdown}" (clickElsewhere)="closeDropdown()">

        <button class="dropdown__button" [ngClass]="{'dropdown__button--active': activeDropdown}" (click)="newToggle()">{{ title }}</button>

        <div class="dropdown__pane" [ngClass]="{'dropdown__pane--open': activeDropdown}"
            [attr.aria-expanded]="activeDropdown">

            <div class="dropdown__link">
                <div class="cp-dropdown__select-option" *ngFor="let option of options">{{ option?.text | translate }}
                </div>
            </div>

        </div>

    </div>

</div>

<!--REUSABLE COMPONENT-->