<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
           Her kan du validere og bidra til kvalitetssikring av data.
        </p>
    </div>

    <div class="page__content">


        <div class="cards">

            <app-card [type]="'link'" [url]="'validation'" [title]="'Bli validator'"></app-card>
            <app-card [type]="'link'" [url]="'validation'" [title]="'Gi tilbakemeldinger'"></app-card>
            <app-card [type]="'link'" [url]="'validation'" [title]="'Valideringsregler'"></app-card>
            <app-card [type]="'link'" [url]="'validation'" [title]="'Hjelpemidler til artsbestemmelse'"></app-card>
            <app-card [type]="'link'" [url]="'validation'" [title]="'Upålitelig funn'"></app-card>
            <app-card [type]="'link'" [url]="'validation'" [title]="'Gi tips'"></app-card>

        </div>


    </div>

    <footer class="page__footer"></footer>

</div>