// ----------BASE styles, html/tag selectors without classes or IDs

html {
}

body {
  @include variable(background-color, backgroundColor);
  @include variable(color, textColor);
  @include variable(font-family, fontPrimary);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.618;
  min-height: 80vh;

  @media screen and (min-width: 2000px) {
    font-size: 20px;
  }

  @media screen and (max-width: 900px) {
    font-size: 16px;
  }

  &.mobile {
    position: fixed;
  }
}

/**/

*:focus {
  @include variable(outline-color, clrBlack);
  outline-style: solid;
  outline-offset: 3px;
  outline-width: 3px;
  margin: 0;
  padding: 0;
}

/*links*/

a {
  @include variable(color, clrBlack);
  display: inline-block;
  text-decoration: none !important;

  &:focus {
    display: inline-block;
  }
}

a:not([class]) {
  @include variable(color, clrBlack);
  @include variable(border-color, clrBlack);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: inline-block;
  line-height: 1.15;
  padding: 0;
  text-decoration: none;
  transition: border 0.5s;

  &:hover {
    border-bottom: 2px solid transparent;
  }
}

// a:not([href*=""]):not([href^="#"]):not([href^="/"]):after {
//   content: "\0020 \2197";
//   font-weight: 800;
// }

/*headings*/

h1,
h2,
h3,
h4,
h5,
h6 {
  @include variable(font-family, fontSecondary);
  @include variable(color, clrBlack);
  font-weight: 500;
  font-kerning: normal;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  -ms-font-feature-settings: normal;
  font-feature-settings: normal;
}

h1 {
  font-size: 62px;
  font-weight: 00;
  line-height: 1.2;

  @media screen and (max-width: 900px) {
    font-size: 40px;
    line-height: 1.25;
  }
}

h2 {
  @include variable(font-family, fontSecondary);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  margin: 70px 0 20px;

  @media screen and (max-width: 900px) {
    font-size: 25px;
    line-height: 1.2;
  }

  hr + & {
    margin: 30px 0 20px;
  }

  h3 + & {
    margin: 30px 0 15px;
  }
}

h3 {
  font-size: 30px;
  margin: 60px 0 15px;
}

h4 {
  font-size: 24px;
  margin: 50px 0 15px;
}

h5 {
  font-size: 20px;
  margin: 30px 0 10px;
}

h6 {
}

h2 + h3 {
  margin: 30px 0 15px;
}

/*text*/

:lang {
  font-style: italic;
}

p {
  margin: 0 0 30px;
}

small {
  font-size: 0.9em;
  font-weight: 400;
}

hr {
  background: url("/assets/images/chauDivider.png");
  background-position: center center;
  background-repeat: repeat-x;
  background-size: 15%;
  border: 0;
  display: block;
  height: 48px;
  margin: 30px auto 40px;
  width: 60%;
}

// hr + h2 {
//   border: 1px solid red;
//   margin: 30px 0;
// }

strong {
  font-weight: 700;
}

mark {
  @include variable(background-color, --clrBlack);
  @include variable(color, --clrWhite);
  @include variable(font-family, --fontPrimary);
  border-radius: 7px;
  font-size: 17px;
  font-weight: 700;
  padding: 2px 17px;
}

abbr {
  position: relative;
  z-index: 1;
}

abbr[title] {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  position: relative;
  text-decoration: none;

  // &:before {
  //   background-color: transparentize(#abebc6, 0.5);
  //   content: "";
  //   display: block;
  //   height: 20px;
  //   position: absolute;
  //   top: 3px;
  //   bottom: 0;
  //   left: -7px;
  //   right: -7px;
  //   z-index: -1;
  // }
}

/*lists*/

ol {
  margin: 50px 0;
  padding-inline-start: 30px;

  li {
  }
}

ul {
  list-style-type: square;
  margin: 20px 0 40px;
  padding-inline-start: 50px;
  padding-inline-start: 15px;
  width: 100%;

  @media screen and (max-width: 900px) {
    padding-inline-start: 15px;
    width: 95%;
  }

  li {
    margin: 0 0 20px;

    p {
      margin: 0;
    }
  }
}

dl {
  border: 1px solid black;
  margin: 25px 0;

  // dt {
  //   font-size: 1.2em;
  //   font-weight: 700;
  //   margin-top: 30px;

  //   &:first-child {
  //     margin: 0;
  //   }
  // }

  dd {
  }
}

/*quotes*/

blockquote {
  @include variable(background-color, clrAccent);
  @include variable(background-color, clrShadow);
  @include variable(font-family, fontAccent);
  // border-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 44px;
  font-weight: 800;
  letter-spacing: -0.015em;
  line-height: 1.4;
  margin: 30px -30% 30px 30px;
  padding: 30px;
  width: 65%;
  float: right;

  p {
    line-height: 1;
    margin: 0;

    &:before {
      @include variable(font-family, fontAccent);
      content: "\201D";
      display: block;
      float: right;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2em;
      text-align: right;

      @media screen and (max-width: 900px) {
        font-size: 1.5em;
        padding-left: 15px;
      }
    }
  }

  @media screen and (max-width: 900px) {
    float: none;
    font-size: 30px;
    margin: 40px auto;
    padding: 15px;
    width: 90%;
  }
}

q {
  font-style: italic;
  font-weight: 600;

  &::before {
    content: open-quote;
    font-style: normal;
    margin: 0 0 0 -4px;
    padding-right: 2px;
  }

  &::after {
    content: close-quote;
    font-style: normal;
    margin: 0;
    padding-left: 2px;
  }
}

/*form elements*/

button {
  @include variable(font-family, fontPrimary);
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  &:focus,
  &:active {
    border: none;
    outline: 0;
  }
}

/*tables*/

// table {
//   border-collapse: collapse;
//   font-size: 18px;
//   margin: 50px auto;
//   max-width: 100%;
//   min-width: 50%;
//   overflow-x: auto;
//   width: auto;

//   @media screen and (max-width: 900px) {
//     max-width: 90%;
//     width: 90%;
//   }

//   thead {
//     @include variable(background-color, clrAccent);
//   }

//   tr {
//     &:nth-child(even) {
//       td {
//         @include variable(background-color, cleSecondaryLight);
//       }
//     }
//   }

//   th {
//     @include variable(font-family, fontSecondary);
//     font-size: 22px;
//     font-weight: 700;

//     &:first-child {
//       text-align: left;
//     }
//   }

//   th,
//   td {
//     border: 3px solid #4c4a48;

//     @include variable(border-color, clrDark3);
//     border-style: solid;
//     border-width: 2px;

//     padding: 15px;
//     vertical-align: middle;

//     @media screen and (max-width: 900px) {
//       font-size: 0.9em;
//       font-weight: 600;
//       padding: 7px;
//     }
//   }

//   td {
//     font-weight: 600;

//     &:first-child {
//       font-weight: 800;
//     }
//   }
// }
