// ----------COMPONENTS

.section {
    //border: 1px solid red;
    margin: 150px 0;
}

.page-title {
    margin-bottom: 50px;

    .page-subtitle + & {
        background: yellow;
        margin: 200px 0 15px;
    }
}

.page-subtitle {
    font-size: 28px;
    font-weight: 300;
    margin-top: -45px;
}

// cards

.card {
    @include customVar(background-color, transparent);
    @include customVar(color, clrBlack);
    background-image: url(../images/iconChevronRight.png);
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-size: 11px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    //border-bottom-right-radius: 0;
    padding: 20px 45px 20px 30px;
    text-align: left;

    // &--active {
    //     @include customVar(background-color, clrAqua4Original);
    //     @include customVar(border-color, clrAqua4Original);
    // }

    &:hover {
        @include customVar(background-color, clrBlack);
        @include customVar(border-color, clrBlack);
        @include customVar(color, clrWhite);
        background-image: url(../images/iconChevronRight.png);
    }

    // elements

    &__heading {
        @include customVar(font-family, fontPrimary);
        color: inherit;
        font-size: 24px;
        font-size: 21px;
        font-weight: 500 !important;
        order: 2;

        @media screen and (max-width: 1024px) {
            font-size: 22px;
            font-size: 19px;
            font-weight: 500 !important;
        }
    }

    &__text {
        font-size: 16px;
        margin-top: 60px;
        order: 3;
        text-align: left;
        display: none;
    }
}

/* link list*/

.link-list {
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    margin: 0 0 75px;
    padding: 0;

    &--sm {
        font-size: 18px;
        font-weight: 600;
    }

    li {
        margin: 0 0 10px;
    }

    a {
        @include customVar(border-color, clrAqua4);
        line-height: 1.5;

        &:hover {
            @include customVar(border-color, clrAqua3);
        }

        @media screen and (max-width: 900px) {
            display: inline;
        }
    }
}

/*button*/

.button {
    @include customVar(background-color, transparent);
    @include customVar(border-color, clrBlack);
    @include customVar(color, clrBlack);
    @include customVar(font-family, fontPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    // border-bottom-right-radius: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    min-height: 40px;
    padding: 0 22px;
    text-align: center;
    width: auto;

    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;

    // modifiers

    &--wide {
        width: 100%;
    }

    &--styleless {
        background: transparent !important;
        border: none !important;
        padding: none !important;
    }

    &--primary {
        @include customVar(background-color, clrBlack);
        @include customVar(border-color, clrBlack);
        @include customVar(color, clrWhite);
        text-align: center !important;
    }

    &--secondary {
        // @include customVar(background-color, clrDark);
        // @include customVar(border-color, clrDark);
        // @include customVar(color, clrWhite);
        // font-weight: 400;
        // text-align: center !important;
    }

    &--cta {
        @include customVar(background-color, clrPrimary);
        @include customVar(border-color, clrPrimary);
        @include customVar(color, clrWhite);
    }

    &--xl {
        display: inline-block;
        font-size: 32px;
        font-weight: 400;
        //line-height: 67px;
        //min-height: 76px;
        padding: 17px 46px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--md {
        font-size: 28px;
        font-weight: 400;
        line-height: 67px;
        min-height: 76px;
        padding: 0 36px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--sm {
        font-size: 15px;
        font-weight: 500;
        line-height: 36px;
        min-height: 34px;
        padding: 0 22px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--xs {
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        min-height: initial;
        padding: 9px 22px 7px;
        width: auto;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--xxs {
        font-size: 14px;
        font-weight: 700;
        min-height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &--mega {
        @include customVar(background-color, clrAccent);
        @include customVar(font-family, fontSecondary);
        font-size: 44px;
        font-weight: 300;
        margin: 0 20px;
        padding: 36px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }

        &:hover {
            @include customVar(background-color, clrPrimary);
            @include customVar(border-color, clrPrimary);
        }
    }

    &--dropdown {
        background-image: url(../images/iconChevronDown.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 15px;
        padding-right: 45px;
        text-align: left;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-image: url(../images/iconChevronWhiteDown.png);
        }
    }

    &--display {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px;
        margin-left: 7px;

        @media screen and (max-width: 1024px) {
            font-size: 0;
            height: 48px;
            width: 48px;
        }
    }

    &--display-1 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayMap.png);
        }
    }

    &--display-2 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayTable.png);
        }
    }

    &--display-3 {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayGallery.png);
        }
    }

    &--filter {
        @media screen and (max-width: 1024px) {
            background-image: url(../images/iconDisplayFilter.png);
            background-position: left 11px center;
            //background-size: 28px;
            font-size: 15px;
            padding-left: 42px;
            padding-right: 11px;
            width: auto;
        }
    }

    &--map {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px;
        font-size: 0;
        width: auto;

        @media screen and (max-width: 1024px) {
            background-size: 16px;
            padding: 0;
        }
    }

    &--map-1 {
        background-image: url(../images/iconMapMarker.png);

        &:hover {
            //background-image: url(../images/iconMapMarkerDark.png);
        }
    }

    &--map-2 {
        background-image: url(../images/iconMapGps.png);
        background-size: 24px;

        &:hover {
            //background-image: url(../images/iconMapGpsDark.png);
        }
    }

    // elements

    &__text {
        padding-bottom: 4px;
        text-align: center;
    }

    &__icon {
        background-repeat: no-repeat;
        background-size: 16px;

        &--lock {
            background-image: url(../images/iconLock.png);
            background-size: contain;
            height: 22px;
            padding-right: 5px;
            width: 17px;
        }
    }

    &:active,
    &:focus,
    &:hover {
        @include customVar(background-color, clrPrimary);
        @include customVar(background-color, clrPrimary);
        @include customVar(border-color, clrPrimary);
        @include customVar(color, clrWhite);
        border-style: solid;
        border-width: 2px;
    }
}

/*date*/

.date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 25px auto;

    &__item {
        @include customVar(border-color, clrAqua3);
        background-repeat: no-repeat;
        background-size: 8px;
        border-style: solid;
        border-width: 2px;
        font-size: 15px;
        font-weight: 700;
        margin: 0 5px;
        padding: 5px 10px;

        &--yesterday {
            background-image: url(../images/iconChevronLeft.png);
            background-position: left 10px center;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            padding-left: 30px;
        }

        &--tomorrow {
            background-image: url(../images/iconChevronRight.png);
            background-position: right 10px center;
            border-radius: 5px;
            border-bottom-right-radius: 0;
            padding-right: 30px;
        }
    }
}

/*progress bar*/

.progressbar {
    left: 0;
    right: 0;
    //position: absolute;
    z-index: 10;

    ul,
    &__list {
        counter-reset: step;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    li {
        @include customVar(font-family, fontSecondary);
        margin: 0;
        position: relative;
        text-align: center;
        width: 200px;
        z-index: 10;

        span {
            display: block;
            font-size: 18px;
            margin: auto;
            padding: 5px;
        }

        &:before {
            @include customVar(background-color, clrAqua3);
            @include customVar(border-color, clrAqua3);
            @include customVar(color, clrBlack);
            border-style: solid;
            border-width: 2px;
            border-radius: 50%;
            content: counter(step);
            counter-increment: step;
            height: 50px;
            display: block;
            font-weight: 600;
            line-height: 47px;
            margin: 0 auto 10px;
            text-align: center;
            width: 50px;
        }

        &:after {
            @include customVar(background-color, clrAqua5);
            content: "";
            display: block;
            height: 3px;
            left: 123px;
            position: absolute;
            top: 25px;
            width: 152px;
            z-index: 5;
        }

        &:last-child:after {
            content: none;
        }
    }
}

/*items / gallery*/

.item {
    @include customVar(background-color, paletteColor0);
    background-color: #e9f7ef;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &__title {
        @include customVar(font-family, fontSecondary);
        font-size: 27px;
        font-weight: 500 !important;
        padding: 10px 30px 0;
        order: 2;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 400 !important;
        padding: 0 30px 10px;
        margin: 5px 0 15px !important;
        order: 2;

        @media screen and (max-width: 1024px) {
            font-size: 18px;
        }
    }

    &__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 15px;
        padding: 0;
        min-height: 25vh;
        order: 1;

        &--1 {
            background-image: url(../images/gallery/panda.jpg);
        }

        &--2 {
            background-image: url(../images/gallery/leopard.jpg);
        }

        &--3 {
            background-image: url(../images/gallery/frog.jpg);
        }

        &--4 {
            background-image: url(../images/gallery/leopard2.jpg);
        }

        &--5 {
            background-image: url(../images/gallery/bear.jpg);
        }

        &--noImg {
            @include customVar(background-color, paletteColor1);
            background-image: url(../images/iconNoImage.png);
            background-size: 98px;
        }

        &--noImg1 {
            @include customVar(background-color, clrWash);
            background-image: url(../images/gallery/artPa.png);
            background-size: 128px;
        }

        &--noImg2 {
            @include customVar(background-color, clrWash);
            background-image: url(../images/gallery/artP.png);
            background-size: 68px;
        }

        &--noImg3 {
            @include customVar(background-color, clrWash);
            background-image: url(../images/gallery/artAR.png);
            background-size: 128px;
        }
    }

    &__copyright {
        font-size: 14px;
        font-weight: 600;
        height: 20px;
        line-height: 20px;
        margin: 15px 0 5px;
        order: 3;
        padding-left: 22px;
        position: relative;

        &::before {
            background-image: url(../images/iconCamera.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            display: inline-block;
            display: block;
            line-height: 1;
            height: 20px;
            margin-right: 4px;
            width: 16px;
            position: absolute;
            left: 0;
            top: -2px;
        }
    }

    &__details {
        @include customVar(border-top-color, paletteColor1);
        border-top-color: #d1f2eb;
        border-top-style: solid;
        border-top-width: 2px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one one" "two three";
        font-size: 17px;
        font-weight: 700;
        padding: 15px 30px 30px;
        order: 3;

        & > * {
            //border: 1px solid green;
            align-self: center;

            &:nth-child(1) {
                grid-area: one;
                justify-self: stretch;
            }

            &:nth-child(2) {
                grid-area: two;
                justify-self: start;
            }

            &:nth-child(3) {
                grid-area: three;
                justify-self: end;
                text-align: right;
            }
        }
    }
}

// teaser

.teaser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;

    &__heading {
        font-size: 28px;
        font-weight: 400 !important;
        margin-bottom: 0;
        order: 2;

        &:focus,
        &:active {
            order: 2;
        }
    }

    &__image {
        // border-radius: 15px;
        // border-bottom-right-radius: 0;
        border-radius: 10px;
        margin-bottom: 30px;
        object-fit: cover;
        order: 1;
        height: 30vh;
        width: 100%;
        transition: opacity 0.5s;

        &:focus,
        &:active {
            order: 1;
        }

        &:hover {
            opacity: 0.3;
            transition: opacity 0.5s;
        }
    }

    &__details {
        line-height: 1;
        margin: 10px 0 20px;
        padding: 0;
        order: 3;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__tag {
        font-size: 16px;
        font-weight: 800;

        &:after {
            @include customVar(background-color, clrBlack);
            content: "";
            display: inline-block;
            margin: 0 8px;
            height: 2px;
            width: 45px;
            position: relative;
            top: -3px;
        }
    }

    &__date {
        //@include customVar(font-family, fontSecondary);
        font-size: 16px;
        font-weight: 800;
    }

    &__text {
        font-size: 18px;
        order: 4;
    }
}

// icons

.icon {
    &--right {
        float: right;
    }

    img {
        height: 30px;
        object-fit: cover;
        width: 30px;
    }
}

// tabs /accordion

.tabs {
    overflow: hidden;
}

.tab {
    overflow: hidden;
    width: 100%;

    &-small {
    }

    &__label {
        @include customVar(background-color, clrWhite);
        @include customVar(background-color, clrWash);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        margin: 0 0 10px;
        padding: 15px 40px;

        &::after {
            background-image: url(../images/iconChevronDown.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            margin-left: 15px;
            height: 20px;
            width: 20px;
            text-align: center;
            transition: all 0.35s;

            // .tabs--small & {
            //     height: 14px;
            //     width: 14px;
            // }
        }

        .tabs--small & {
            font-size: 17px;
            font-weight: 600;
            padding: 10px 20px;

            &:after {
                content: "";
                height: 15px;
                width: 15px;
            }
        }
    }

    &__content {
        @include customVar(background-color, clrWash);
        background-color: #eafaf1;
        font-size: 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
    }
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

// :checked
input:checked {
    + .tab__label {
        // border-bottom-left-radius: 0;
        // border-bottom-right-radius: 0;
        // margin-bottom: 0;

        &::after {
            transform: rotate(180deg);
        }
    }

    ~ .tab__content {
        
        margin-bottom: 40px;
        max-height: 1000vh;
        overflow: hidden;
        padding: 30px;
        transition: max-height 0.9s ease-in;
    }
}
