// ----------COMPONENTS

.section {
    //border: 1px solid red;
    margin: 150px 0;
}

.page-title {
    margin-bottom: 50px;
}

// cards

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;

    & > * {
        // flex: 1 0 50%;
        // margin: 10px;
        //margin: 10px 20px;
        //width: 40%;

        & > * {
            width: 100%;
        }

        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        // align-content: flex-start;
    }
}

.card {
    @include variable(background-color, transparent);
    @include variable(color, clrPrimary);
    background-image: url(../images/iconChevronRight.png);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 11px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    font-weight: 600;
    padding: 20px 45px 20px 20px;
    text-align: left;

    // &--active {
    //     @include variable(background-color, clrSecondaryOriginal);
    //     @include variable(border-color, clrSecondaryOriginal);
    // }

    &:hover {
        @include variable(background-color, clrPrimary);
        @include variable(border-color, clrPrimary);
        @include variable(color, clrWhite);
        background-image: url(../images/iconChevronWhiteRight.png);
    }

    // elements

    &__heading {
        color: inherit;
        font-size: 34px;
        font-size: 24px;
        font-weight: 400;
        order: 2;
    }

    &__text {
        font-size: 16px;
        margin-top: 60px;
        order: 3;
        text-align: left;
        display: none;
    }

    &__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 64px;
        margin: 0 0 10px;
        order: 1;
        width: 64px;
        display: none;

        &--sm {
            height: 36px;
            width: 36px;
        }
    }
}

/* link list*/

.link-list {
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    margin: 0 0 75px;
    padding: 0;

    &--sm {
        font-size: 18px;
        font-weight: 600;
    }

    li {
        margin: 0 0 10px;
    }

    a {
        @include variable(border-color, clrSecondary);
        line-height: 1.5;

        &:hover {
            @include variable(border-color, clrPrimary);
        }

        @media screen and (max-width: 900px) {
            display: inline;
        }
    }
}

/* site search*/

.site-search {
    &__input {
        background-image: url(../images/iconSearch.png);
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 28px;
    }
}

/*button*/

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
        margin: 0 10px;
    }
}

.button {
    @include variable(background-color, clrPrimary);
    @include variable(border-color, clrPrimary);
    @include variable(color, clrWhite);
    @include variable(font-family, fontPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-weight: 700;
    padding: 7px 17px;
    width: auto;

    &:active {
    }

    &:focus {
    }

    &:hover {
        @include variable(background-color, clrAccent);
        @include variable(border-color, clrAccent);
        @include variable(color, clrBlack);
    }

    &--primary {
        @include variable(background-color, clrBlack);
        @include variable(color, clrWhite);

        &:hover {
            @include variable(background-color, clrWhite);
            @include variable(color, clrBlack);
            @include variable(font-family, fontPrimary);
            border: 2px solid #262626;
        }
    }

    &--sm {
        font-size: 15px;
        padding: 3px 13px;

        @media screen and (max-width: 1600px) {
            font-size: 14px;
        }
    }

    &--md {
        font-size: 18px;
        padding: 7px 18px;
    }

    &--lg {
        font-size: 24px;
        padding: 13px 33px;

        @media screen and (max-width: 1600px) {
            font-size: 14px;
        }
    }
}

/*date*/

.date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 25px auto;

    &__item {
        @include variable(border-color, clrPrimary);
        background-repeat: no-repeat;
        background-size: 8px;
        border-style: solid;
        border-width: 2px;
        font-size: 15px;
        font-weight: 700;
        margin: 0 5px;
        padding: 5px 10px;

        &--yesterday {
            background-image: url(../images/iconChevronLeft.png);
            background-position: left 10px center;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            padding-left: 30px;
        }

        &--tomorrow {
            background-image: url(../images/iconChevronRight.png);
            background-position: right 10px center;
            border-radius: 5px;
            border-bottom-right-radius: 0;
            padding-right: 30px;
        }
    }
}

/*tag*/

.tag {
    @include variable(background-color, transparent);
    @include variable(color, clrPrimary);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    font-size: 15px;
    font-weight: 700;
    padding: 2px 8px;
}

/*table*/

.table {
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;

    &__header {
        .table--invisible-header & {
            //visibility: hidden;
        }
    }

    &__body {
    }

    &__column-header {
        @include variable(background-color, clrWhite);
        @include variable(font-family, fontSecondary);
        text-align: left;
    }

    &__row-header {
        text-align: left;
        text-transform: capitalize;
    }

    tr {
        padding: 15px;

        &:nth-child(odd) {
            @include variable(background-color, clrSecondaryTransparent);
            //@include variable(background-color, clrLight);
            border-radius: 15px;
            border-bottom-right-radius: 0;
        }
    }

    th,
    td {
        // border: 1px solid grey;
        padding: 15px;
    }
}

/*progress bar*/

.progress-bar {
    counter-reset: step;

    &__item {
        list-style-type: none;
        width: 25%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;

        &:before {
            background-color: white;
            border: 2px solid #7d7d7d;
            border-radius: 50%;
            content: counter(step);
            counter-increment: step;
            display: block;
            font-weight: 700;
            height: 30px;
            line-height: 28px;
            margin: 0 auto 10px auto;
            text-align: center;
            width: 30px;
        }

        &:after {
            background-color: #7d7d7d;
            background-color: red;
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            top: 15px;
            left: -50%;
            z-index: -1;
        }

        &:first-child:after {
            content: none;
        }

        &--active {
            color: green;
        }

        &--active:before {
            border-color: #55b776;
        }

        &--active + li:after {
            background-color: #55b776;
        }
    }
}

/*gallery*/

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;

    &__item {
        min-height: 30vh;
    }
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &__title {
        @include variable(font-family, fontSecondary);
        font-size: 22px;
        font-weight: 600;
        order: 2;
    }

    &__image {
        background: lightgrey;
        background-position: center center;
        background-size: cover;
        border-radius: 15px;
        border-bottom-right-radius: 0;
        margin-bottom: 15px;
        min-height: 25vh;
        order: 1;

        &--1 {
            background-image: url(../images/gallery/panda.jpg);
        }
        
        &--2 {
            background-image: url(../images/gallery/leopard.jpg);
        }

        &--3 {
            background-image: url(../images/gallery/frog.jpg);
        }
    }

    &__details {
        font-size: 18px;
        order: 3;
    }
}

.icon {
    float: right;
    
    img {
        width: 50%;
    }
}