// ----------COMPONENTS

.section {
    margin: 100px;
}

// buttons

// buttons

.button-list {
    // display: flex;
    // flex-flow: row;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;

    &--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "overviewNumbers qualityAssuredData" "redListedSpecies alienSpecies" "noData noData" "userStatistics userLists";
    }
}

.button {
    @include variable(background-color, clrNeutral3);
    @include variable(color, clrBlack);
    @include variable(border-color, clrBlack);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    font-weight: 600;
    padding: 20px;
    margin: 20px 10px;
    text-align-last: center;

    &__heading {
        font-size: 20px;
        font-weight: 800;
    }

    &__subheading {
        font-size: 17px;
        font-weight: 600;
    }

    &:hover {
        @include variable(background-color, clrBlack);
        @include variable(color, clrWhite);
    }

    &--active {
        @include variable(background-color, clrBlack);
        @include variable(color, clrWhite);
    }

    .button-list--grid & {
        align-self: center;

        &:nth-child(1) {
            grid-area: overviewNumbers;
        }

        &:nth-child(2) {
            grid-area: qualityAssuredData;
        }

        &:nth-child(3) {
            grid-area: redListedSpecies;
        }

        &:nth-child(4) {
            grid-area: alienSpecies;
        }

        &:nth-child(5) {
            align-self: center;
            justify-self: center;
            grid-area: noData;
            width: 50%;
        }

        &:nth-child(6) {
            grid-area: userStatistics;
        }

        &:nth-child(7) {
            grid-area: userLists;
        }
    }
}
