// ----------CUSTOM: used once or twice

.scroll-up {
    @include customVar(background-color, clrSecondary);
    background-image: url(../images/iconChevronUp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    height: 65px;
    line-height: 63px;
    text-align: center;
    width: 65px;
    position: fixed;
    right: 40px;
    top: auto;
    bottom: 40px;
}

.skip-to-content {
    @include customVar(background-color, clrBlack);
    @include customVar(color, clrWhite);
    @include customVar(font-family, fontAccent);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    left: 50%;
    line-height: 28px;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.3s;

    &:focus {
        transform: translateY(0);
    }

    @media screen and (max-width: 1024px) {
        left: 20%;
        right: 20%;
    }
}

.flags {
    margin-left: 20px;
    &--mobile {
        margin: 0;
    }
}

.flag {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-weight: 700;
    // height: 30px;
    // width: 45px;

    &--1 {
        //background-image: url(../images/flagNorway.png);
        font-weight: 900;
        text-decoration: underline;
    }
    &--2 {
        //background-image: url(../images/flaguk.png);
    }

    .flags--mobile & {
        margin: 15px 10px 0 0;
    }
}

/* site search*/

.site-search {
    &__input {
        background-image: url(../images/iconSearch.png);
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 28px;
    }
}

.separator {
    @include customVar(background-color, clrSecondary);
    height: 1em;
    display: inline-block;
    margin: -2px 13px 0 10px;
    vertical-align: middle;
    width: 3px;
    transform: skewX(-45deg);
}

// infographics
.infographics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    & > * {
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        align-self: stretch;
        margin: 5px;
        padding: 25px;
        text-align: center;
        width: calc(50% - 10px);

        @media screen and (max-width: 1600px) {
        }

        .infographics--boxes & {
            @include customVar(background-color, clrLight2);
        }

        .infographics--4 & {
            width: calc(25% - 10px);
        }
    }

    &__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100px;
        display: block;
        margin: 0 auto;
        width: auto;

        .infographics--4 & {
            width: 60%;
        }
    }

    &__text {
        font-size: 30px;
        font-weight: 800;
    }
}

$red: #355a53;
$gray: #d7cfc9;
$blue: #a3ccc4;
$yellow: #e5b445;
$purple: #6f968e;
$orange: #514942;

// colors from http://www.mulinblog.com/a-color-palette-optimized-for-data-visualization/

.chart {
    background: conic-gradient($red 4%, $gray 0 8%, $blue 0 17%, $yellow 0 48%, $purple 0 54%, $orange 0);
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
}

.key {
    border-collapse: separate;
    display: table;
    float: right;
    list-style: none;
    padding: 0;
    width: 100%;

    > li {
        display: table-row;

        > * {
            display: table-cell;
            //border-bottom: 12px solid white;
            font-weight: 600;
            padding-left: 20px;
            text-align: left;
        }
    }
}

.percent {
    color: white;
    padding: 10px 2px;
    text-align: center;
    //text-shadow: 0 1px 0 black;
}

.choice {
    padding-left: 10px;
}

.red {
    background: $red;
}

.gray {
    background: $gray;
}

.blue {
    background: $blue;
    color: black;
}

.yellow {
    background: $yellow;
    color: black;
}

.purple {
    background: $purple;
}

.orange {
    background: $orange;
    color: black;
}

/*liga*/

.liga {
    li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;

        span {
            // border: 1px solid deeppink;
            align-self: stretch;

            &:nth-child(1) {
                font-weight: 700;
                width: 50%;
            }

            &:nth-child(2) {
                @include customVar(font-family, fontSecondary);
                font-weight: 700;
                text-align: right;
                width: 50%;
            }

            &:nth-child(3) {
                font-size: 17px;
                width: 100%;
            }
        }
    }
}

// map

.map-wrapper {
    position: relative;
    z-index: 1000;
    margin: 0 -30px;
}

.map {
    height: 100vh;
    width: 100%;

    @media screen and (max-height: 1440px) {
        height: 90vh;
    }

    @media screen and (max-height: 900px) {
        height: 130vh;
    }

    &--small {
        height: 60vh;
        width: 100%;
    }
}

.ol-zoom {
    & > * {
        @include customVar(background-color, clrAqua5);
        @include customVar(color, clrWhite);
        @include customVar(font-family, fontAccent);
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: block;
        font-size: 30px;
        margin: 5px 0;
        height: 40px;
        width: 40px;
    }
}

.ol-rotate {
    @extend .ol-zoom;
    display: none;
}

.ol-attribution {
    display: none;
}

.live-data {
    @include customVar(background-color, clrAqua5);
    @include customVar(color, clrWhite);
    @include customVar(font-family, fontAccent);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2000;
}

// validation

.validation {
    @include customVar(background-color, clrAqua1);
    margin-top: 45px;
    padding: 30px;
    text-align: center;

    h3 {
        @include customVar(font-family, fontPrimary);
        font-size: 22px;
        font-weight: 500;
        margin: 15px auto 20px;
    }

    button {
        margin: 0 auto;
    }
}

.test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;

    &__cell {
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 15px;

        span {
            font-weight: 500;
            padding-right: 10px;
        }

        &:nth-child(1) {
            div {
                background-image: url(../images/iconValidationYes.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 44px;
                height: 44px;
                width: 44px;
            }
        }

        &:nth-child(2) {
            div {
                background-image: url(../images/iconValidationNo.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 44px;
                height: 44px;
                width: 44px;
            }
        }
    }
}

// comments

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment {
    @include customVar(background-color, clrAqua0);
    border-radius: 20px;
    margin: 30px 0;
    padding: 30px;
    width: 70%;

    &:nth-last-child(even) {
        @include customVar(background-color, clrWash);
        align-self: flex-end;
        border-bottom-right-radius: 0;
    }

    &:nth-last-child(odd) {
        align-self: flex-start;
        border-bottom-left-radius: 0;
    }

    &__author {
        @include customVar(font-family, fontSecondary);
        font-size: 22px;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__metadata {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.rewards {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 0 5px 0 10px;
    height: 40px;
    width: 40px;

    &--0 {
        background-image: url(../images/iconGame0.png);
    }

    &--1 {
        background-image: url(../images/iconGame1.png);
    }

    &--3 {
        background-image: url(../images/iconGame3.png);
    }
}

// numbers

.numbers {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;

    &__box {
        @include customVar(background-color, clrAqua1);
        border-radius: 20px;
        border-bottom-right-radius: 0;
        padding: 60px 60px;
    }

    &__item {
        @include customVar(font-family, fontSecondary);
        font-size: 62px;
        font-weight: 700;
    }

    &__text {
        font-size: 24px;
        font-weight: 300;
        font-weight: 400;
    }
}

// league / user statistics

.league {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 100px;

    padding: 0;
    position: relative;
    z-index: 5;

    @media screen and (max-width: 1600px) {
        gap: 0 50px;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
    }

    // elements

    &__item {
        @include customVar(background-color, paletteColor1);
        background: #e8f8f5;
        border-radius: 15px;
        margin: 0 auto 50px;
        padding: 40px 20px;
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 5;
        align-self: center;

        @media screen and (max-width: 1024px) {
            margin: 0 auto 30px;
            padding: 30px 10px;
            width: 80vw;
        }
    }

    &__winner {
        font-size: 32px;
        font-weight: 700;

        @media screen and (max-width: 1600px) {
            font-size: 26px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 26px;
        }
    }

    &__counter {
        @include customVar(color, clrWhite);
        @include customVar(font-family, fontSecondary);
        //@include customVar(font-family, fontAccent);
        background: #0e6251;
        border-radius: 50px;
        font-size: 42px;
        font-weight: 700;
        height: 90px;
        line-height: 88px;
        padding: 0;
        width: 90px;
        position: absolute;
        left: -50px;
        top: calc(50% - 45px);

        @media screen and (max-width: 1600px) {
            font-size: 32px;
            height: 70px;
            left: -20px;
            line-height: 68px;
            width: 70px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 22px;
            height: 60px;
            left: -20px;
            line-height: 58px;
            width: 60px;
        }
    }

    &__icon {
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 100%;
        display: block;
        margin: 0 auto 10px;
        padding: 10px;

        &--first {
            background-color: #d5f5e3;
            background-image: url(../images/gallery/prize1.png);
            background-size: 65px;
            height: 130px;
            width: 130px;

            @media screen and (max-width: 1024px) {
                background-size: 50px;
                height: 100px;
                width: 100px;
            }
        }

        &--second {
            background-color: #d5f5e3;
            background-image: url(../images/gallery/prize2.png);
            background-size: 50px;
            height: 100px;
            width: 100px;

            @media screen and (max-width: 1024px) {
                background-size: 40px;
                height: 90px;
                width: 90px;
            }
        }

        &--third {
            background-color: #d5f5e3;
            background-image: url(../images/gallery/prize3.png);
            background-size: 45px;
            height: 80px;
            width: 80px;

            @media screen and (max-width: 1024px) {
                background-size: 35px;
                height: 70px;
                width: 70px;
            }
        }
    }

    &__detail {
        &--2 {
            font-size: 17px;
            font-weight: 400;
            font-weight: 500;
        }

        &--3 {
            font-size: 22px;
            font-weight: 700;
        }
    }
}

.award {
    @include customVar(background-color, paletteColor1);
    background: #d5f5e3;
    border-radius: 15px;
    padding: 40px 20px;
    text-align: center;

    &__title {
        @include customVar(font-family, fontSecondary);
        @include customVar(font-family, fontPrimary);
        font-size: 18px;
        font-weight: 700;
    }

    &__icon {
        background-color: #a3e4d7;
        background-image: url(../images/gallery/prize0.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 110px;
        border-radius: 100%;
        display: block;
        margin: 20px auto 40px;
        height: 180px;
        padding: 10px;
        width: 180px;
        position: relative;
        z-index: 5;

        &--first {
            background-image: url(../images/gallery/art1.png);
        }

        &--second {
            background-image: url(../images/gallery/art2.png);
        }

        &--third {
            background-image: url(../images/gallery/art3.png);
        }

        &--fourth {
            background-image: url(../images/gallery/art4.png);
        }

        &--fifth {
            background-image: url(../images/gallery/art5.png);
        }

        &--sixth {
            background-image: url(../images/gallery/art6.png);
        }

        &--seventh {
            background-image: url(../images/gallery/art7.png);
        }

        &--eighth {
            background-image: url(../images/gallery/art8.png);
        }

        &:after {
            background-color: #117864;
            background-image: url(../images/gallery/prize0white.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 45px;
            border-radius: 100%;
            content: "";
            display: block;
            margin: 20px auto;
            height: 70px;
            padding: 10px;
            width: 70px;

            position: absolute;
            bottom: -30px;
            right: -20px;
            z-index: 10;

            @media screen and (max-width: 1600px) {
                background-size: 35px;
                height: 60px;
                width: 60px;
            }
        }

        .award--inverted & {
            background-color: #a3e4d7;
            //background-color: #e9e9e9;
        }

        @media screen and (max-width: 1600px) {
            background-size: 70px;
            height: 120px;
            width: 120px;
        }
    }

    &__winner {
        font-size: 25px;
        font-weight: 600;
        margin-top: 15px;
    }

    &__numbers {
        @include customVar(font-family, fontSecondary);
        font-size: 18px;
        font-weight: 500;

        &::after {
            content: " observasjoner";
            // font-weight: 400;
        }
    }
}

.badge {
    @include customVar(font-family, fontSecondary);
    background: #d5f5e3;
    border-radius: 50px;
    display: block;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    width: 50px;

    &--xl {
        border-radius: 50%;
        font-size: 60px;
        height: 140px;
        line-height: 130px;
        margin: 10px auto;
        padding: 5px;
        width: 140px;
    }
}

.stats {
    text-align: center;

    &--xl {
        margin: 70px auto;
    }

    &__number {
        @include customVar(font-family, fontSecondary);
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 20px;

        .stats--xl & {
            font-size: 72px;
        }

        &::after {
            @include customVar(background-color, clrBlack);
            content: '';
            display: block;
            height: 4px;
            margin: 0 auto ;
            width: 85px;
        }
    }

    &__text {

        .stats--xl & {
            font-size: 27px;
            font-weight: 600;
        }
    }
}

// ad

.ad {
    display: block;
    text-align: center;

    &:focus {
        display: block;
    }

    &__text {
        @include customVar(font-family, fontSecondary);
        font-size: 36px;
        font-size: 30px;
        font-weight: 400;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__icon {
        //background-color: #17a589;
        background-position: center center;
        background-repeat: no-repeat;
        // border-radius: 100%;
        margin: 0 auto 20px;
        margin: 0 auto;
        text-align: center;
        height: 120px;
        width: 120px;

        &--1 {
            background-image: url(../images/iconAdAddWhite.png);
            background-image: url(../images/iconAdAdd.png);
            background-size: 100px;
        }

        &--2 {
            background-image: url(../images/iconAdSearchWhite.png);
            background-image: url(../images/iconAdSearch.png);
            background-size: 70px;
        }

        .ad:hover & {
            // background-color: #000;
            // transition: background-color 0.5s;
        }
    }
}

// account
