// ----------CUSTOM: used once or twice

.scroll-up {
    @include customVar(background-color, clrSecondary);
    background-image: url(../images/iconChevronUp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    height: 65px;
    line-height: 63px;
    text-align: center;
    width: 65px;
    position: fixed;
    right: 40px;
    top: auto;
    bottom: 40px;
}

.skip-to-content {
    @include customVar(background-color, clrBlack);
    @include customVar(color, clrWhite);
    @include customVar(font-family, fontAccent);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    left: 50%;
    line-height: 28px;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.3s;

    &:focus {
        transform: translateY(0);
    }

    @media screen and (max-width: 1024px) {
        left: 20%;
        right: 20%;
    }
}

.flags {
    margin-left: 20px;
    &--mobile {
        margin: 0;
    }
}

.flag {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-weight: 700;
    // height: 30px;
    // width: 45px;

    &--1 {
        //background-image: url(../images/flagNorway.png);
        font-weight: 900;
        text-decoration: underline;
    }
    &--2 {
        //background-image: url(../images/flaguk.png);
    }

    .flags--mobile & {
        margin: 15px 10px 0 0;
    }
}

/* site search*/

.site-search {
    &__input {
        background-image: url(../images/iconSearch.png);
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 28px;
    }
}

.separator {
    @include customVar(background-color, clrSecondary);
    height: 1em;
    display: inline-block;
    margin: -2px 13px 0 10px;
    vertical-align: middle;
    width: 3px;
    transform: skewX(-45deg);
}

// infographics
.infographics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 100px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
    }

    & > * {
        align-self: stretch;
        justify-content: stretch;
    }

    &__figure {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        align-self: stretch;
        margin: 5px;
        padding: 25px;
        text-align: center;

        @media screen and (max-width: 1600px) {
        }
    }

    &__image {
        background-color: #d1f2eb;
        border-radius: 100%;
        display: block;
        margin: 0 auto;
        width: auto;
        height: 110px;
        width: 110px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
        }
    }

    &__img {
        width: 60px;

        &--sm {
            width: 50px;
        }

        &--lg {
            width: 70px;
        }
    }

    &__text {
        font-size: 27px;
        font-weight: 500;

        b {
            @include customVar(font-family, fontSecondary);
            font-size: 77px;
            font-weight: 800;
        }
    }
}

$graphColor1: #73948b;
$graphColor2: #9bbbad;
$graphColor3: #be424d;
$graphColor4: #e2878e;
$graphColor5: #736574;
$graphColor6: #3c1434;

// colors from http://www.mulinblog.com/a-color-palette-optimized-for-data-visualization/

.chart {
    background: conic-gradient(
        $graphColor1 4%,
        $graphColor2 0 8%,
        $graphColor3 0 17%,
        $graphColor4 0 48%,
        $graphColor5 0 54%,
        $graphColor6 0
    );
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
}

.key {
    border-collapse: separate;
    display: table;
    float: right;
    list-style: none;
    padding: 0;
    width: 100%;

    > li {
        display: table-row;

        > * {
            display: table-cell;
            //border-bottom: 12px solid white;
            font-weight: 600;
            padding-left: 20px;
            text-align: left;
        }
    }
}

.percent {
    color: white;
    padding: 10px 2px;
    text-align: center;
    //text-shadow: 0 1px 0 black;
}

.choice {
    padding-left: 10px;
}

.graph-color1 {
    background: $graphColor1;
    color: black;
}

.graph-color2 {
    background: $graphColor2;
    color: black;
}

.graph-color3 {
    background: $graphColor3;
    color: black;
}

.graph-color4 {
    background: $graphColor4;
    color: white;
}

.graph-color5 {
    background: $graphColor5;
    color: white;
}

.graph-color6 {
    background: $graphColor6;
    color: white;
}

/*liga*/

.liga {
    li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;

        span {
            // border: 1px solid deeppink;
            align-self: stretch;

            &:nth-child(1) {
                font-weight: 700;
                width: 50%;
            }

            &:nth-child(2) {
                @include customVar(font-family, fontSecondary);
                font-weight: 700;
                text-align: right;
                width: 50%;
            }

            &:nth-child(3) {
                font-size: 17px;
                width: 100%;
            }
        }
    }
}

// map

.map-wrapper {
    position: relative;
    z-index: 1000;
    margin: 0 -30px;
}

.map {
    height: 100vh;
    width: 100%;

    @media screen and (max-height: 1440px) {
        height: 90vh;
    }

    @media screen and (max-height: 900px) {
        height: 130vh;
    }

    &--small {
        height: 60vh;
        width: 100%;
    }
}

.ol-zoom {
    & > * {
        @include customVar(background-color, clrAqua5);
        @include customVar(color, clrWhite);
        @include customVar(font-family, fontAccent);
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: block;
        font-size: 30px;
        margin: 5px 0;
        height: 40px;
        width: 40px;
    }
}

.ol-rotate {
    @extend .ol-zoom;
    display: none;
}

.ol-attribution {
    display: none;
}

.live-data {
    @include customVar(background-color, clrAqua5);
    @include customVar(color, clrWhite);
    @include customVar(font-family, fontAccent);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2000;
}

// validation

.validation {
    @include customVar(background-color, clrAqua1);
    margin-top: 45px;
    padding: 30px;
    text-align: center;

    h3 {
        @include customVar(font-family, fontPrimary);
        font-size: 22px;
        font-weight: 500;
        margin: 15px auto 20px;
    }

    button {
        margin: 0 auto;
    }
}

.test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;

    &__cell {
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 15px;

        span {
            font-weight: 500;
            padding-right: 10px;
        }

        &:nth-child(1) {
            div {
                background-image: url(../images/iconValidationYes.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 44px;
                height: 44px;
                width: 44px;
            }
        }

        &:nth-child(2) {
            div {
                background-image: url(../images/iconValidationNo.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 44px;
                height: 44px;
                width: 44px;
            }
        }
    }
}

// comments

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment {
    @include customVar(background-color, clrAqua0);
    border-radius: 20px;
    margin: 30px 0;
    padding: 30px;
    width: 70%;

    &:nth-last-child(even) {
        @include customVar(background-color, clrWash);
        align-self: flex-end;
        border-bottom-right-radius: 0;
    }

    &:nth-last-child(odd) {
        align-self: flex-start;
        border-bottom-left-radius: 0;
    }

    &__author {
        @include customVar(font-family, fontSecondary);
        font-size: 22px;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__metadata {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.rewards {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 0 5px 0 10px;
    height: 40px;
    width: 40px;

    &--0 {
        background-image: url(../images/iconGame0.png);
    }

    &--1 {
        background-image: url(../images/iconGame1.png);
    }

    &--3 {
        background-image: url(../images/iconGame3.png);
    }
}

// numbers

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;

    &__box {
        @include customVar(background-color, clrAqua1);
        border-radius: 20px;
        border-bottom-right-radius: 0;
        padding: 60px 60px;
    }

    &__item {
        @include customVar(font-family, fontSecondary);
        font-size: 62px;
        font-weight: 700;
    }

    &__text {
        font-size: 24px;
        font-weight: 300;
        font-weight: 400;
    }
}

// league / awards / user statistics

.league {
    background-color: #edf9f7;
}

.badge {
    @include customVar(font-family, fontSecondary);
    background: #d5f5e3;
    border-radius: 50px;
    display: block;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    width: 50px;

    &--xl {
        border-radius: 50%;
        font-size: 60px;
        height: 140px;
        line-height: 130px;
        margin: 10px auto;
        padding: 5px;
        width: 140px;
    }
}

.stats {
    text-align: center;

    &--xl {
        margin: 70px auto;
    }

    &__number {
        @include customVar(font-family, fontSecondary);
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 20px;

        // current location
        .stats--xl & {
            font-size: 72px;
        }

        // pseudoelement
        &::after {
            @include customVar(background-color, clrBlack);
            content: "";
            display: block;
            height: 4px;
            margin: 0 auto;
            width: 85px;
        }

        // modifier
        &--main {
            &::after {
                content: none;
            }
        }
    }

    &__text {
        .stats--xl & {
            font-size: 27px;
            font-weight: 600;
        }
    }
}

// ad

.ad {
    display: block;
    text-align: center;

    &:focus {
        display: block;
    }

    &__text {
        @include customVar(font-family, fontSecondary);
        font-size: 36px;
        font-size: 30px;
        font-weight: 400;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__icon {
        //background-color: #17a589;
        background-position: center center;
        background-repeat: no-repeat;
        // border-radius: 100%;
        margin: 0 auto 20px;
        margin: 0 auto;
        text-align: center;
        height: 120px;
        width: 120px;

        &--1 {
            background-image: url(../images/iconAdAddWhite.png);
            background-image: url(../images/iconAdAdd.png);
            background-size: 100px;
        }

        &--2 {
            background-image: url(../images/iconAdSearchWhite.png);
            background-image: url(../images/iconAdSearch.png);
            background-size: 70px;
        }

        .ad:hover & {
            // background-color: #000;
            // transition: background-color 0.5s;
        }
    }
}

// shortcuts

.shortcuts {
    &__link {
        background-color: #d1f2eb;
        border-radius: 100%;
        display: block;
        font-size: 0;
        margin: 0 auto 20px;
        text-align: center;
        height: 80px;
        line-height: 80px;
        width: 80px;
    }

    &__text {
        font-size: 0;
    }

    &__icon {
        margin: 0 auto;
    }
}
