// ----------FONTS

// nunito

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-ExtraLight.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-ExtraLightItalic.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-Light.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-LightItalic.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-Regular.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-RegularItalic.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-ExtraBold.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-ExtraBoldItalic.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-SemiBold.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-SemiBoldItalic.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-Bold.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-BoldItalic.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-Black.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito";
    src: url("/assets/fonts/nunito/Nunito-BlackItalic.woff2") format("woff2"),
        url("/assets/fonts/nunito/Nunito-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/*oswald*/

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-ExtraLight.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-ExtraLightItalic.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-Light.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-LightItalic.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-Regular.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-RegularItalic.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-Medium.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-MediumItalic.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-SemiBold.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-SemiBoldItalic.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-Bold.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-BoldItalic.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-Heavy.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "oswald";
    src: url("/assets/fonts/oswald/Oswald-HeavyItalic.woff2") format("woff2"),
        url("/assets/fonts/oswald/Oswald-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

// roboto condensed

@font-face {
    font-family: "robotocondensed";
    src: url("/assets/fonts/robotocondensed/RobotoCondensed-Light.woff2") format("woff2"),
        url("/assets/fonts/robotocondensed/RobotoCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotocondensed";
    src: url("/assets/fonts/robotocondensed/RobotoCondensed-LightItalic.woff2") format("woff2"),
        url("/assets/fonts/robotocondensed/RobotoCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotocondensed";
    src: url("/assets/fonts/robotocondensed/RobotoCondensed-Regular.woff2") format("woff2"),
        url("/assets/fonts/robotocondensed/RobotoCondensed-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotocondensed";
    src: url("/assets/fonts/robotocondensed/RobotoCondensed-RegularItalic.woff2") format("woff2"),
        url("/assets/fonts/robotocondensed/RobotoCondensed-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotocondensed";
    src: url("/assets/fonts/robotocondensed/RobotoCondensed-Bold.woff2") format("woff2"),
        url("/assets/fonts/robotocondensed/RobotoCondensed-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotocondensed";
    src: url("/assets/fonts/robotocondensed/RobotoCondensed-BoldItalic.woff2") format("woff2"),
        url("/assets/fonts/robotocondensed/RobotoCondensed-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

// robotomono

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-Thin.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-ThinItalic.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-ExtraLight.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-ExtraLightItalic.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-Light.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-LightItalic.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-Regular.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-Italic.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-Medium.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-MediumItalic.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-SemiBold.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-SemiBoldItalic.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-Bold.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "robotomono";
    src: url("/assets/fonts/robotomono/RobotoMono-BoldItalic.woff2") format("woff2"),
        url("/assets/fonts/robotomono/RobotoMono-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/*big shoulders text */

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-Thin.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-Light.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-Regular.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-Medium.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-SemiBold.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-Bold.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-ExtraBold.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bigshoulderstext";
    src: url("/assets/fonts/bigshoulders/BigShouldersText-Black.woff2") format("woff2"),
        url("/assets/fonts/bigshoulders/BigShouldersText-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*work sans*/

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-Thin.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-ThinItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-ExtraLight.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-ExtraLightItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-Light.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-LightItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-Regular.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-RegularItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-RegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-Medium.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-MediumItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-SemiBold.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-SemiBoldItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-Bold.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-BoldItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-ExtraBold.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-ExtraBoldItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-Black.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "worksans";
    src: url("/assets/fonts/WorkSans-BlackItalic.woff2") format("woff2"),
        url("/assets/fonts/WorkSans-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/*avertastd*/

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-extrathin-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-extrathin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-extrathinitalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-extrathinitalic-webfont.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-thin-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-thin-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-thinitalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-thinitalic-webfont.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-light-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-lightitalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-lightitalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-regular-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-regularitalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-regularitalic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-semibold-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-semibold-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-semibolditalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-semibolditalic-webfont.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-semibold-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-semibolditalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-semibolditalic-webfont.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-bold-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-bolditalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-bolditalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-extrabold-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-extrabold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-extrabolditalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-extrabolditalic-webfont.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-black-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-black-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "averta";
    src: url("/assets/fonts/averta/avertastd-blackitalic-webfont.woff2") format("woff2"),
        url("/assets/fonts/averta/avertastd-blackitalic-webfont.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
