// ----------FORMS and FORM ELEMENTS

form {
    width: 100%;

    ::placeholder {
        @include variable(color, clrDark);
        font-size: 19px;
    }

    label {
        @include variable(font-family, fontSecondary);
        display: block;
        font-size: 19px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 5px;

        @media screen and (max-width: 1600px) {
            font-size: 17px;
        }
    }

    input {
        @include variable(background-color, clrLight);
        @include variable(border-color, clrPrimary);
        @include variable(font-family, fontPrimary);
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        display: block;
        //margin-bottom: 15px;
        padding: 12px 18px 9px;
        width: 100%;

        &:disabled {
            @include variable(border-color, clrAccent);
            border: 2px solid #666;
        }

        &:active,
        &:focus {
            padding: 12px 18px 9px;
            //margin-bottom: 15px;
        }

        &[type="date"],
        &[type="time"] {
            font-weight: 600;
        }

        &[type="submit"] {
            @include variable(font-family, fontSecondary);
            //@include variable(font-family, fontAccent);
            float: right;
            font-size: 24px;
            font-weight: 500;
            font-weight: 400;
            padding: 14px 24px;
            // @include variable(background-color, clrSecondary);
            // @include variable(border-color, clrSecondary);
            // @include variable(font-family, fontSecondary);
            // border-radius: 10px;
            // border-bottom-right-radius: 0;
            // float: right;
            // font-size: 18px;
            // font-weight: 500;
            // padding: 8px 22px 10px 22px;
            // width: auto;

            // &:hover {
            //     @include variable(background-color, clrWhite);
            //     @include variable(border-color, clrSecondary);
            // }
        }
    }

    textarea {
        @include variable(border-color, clrBlack);
        @include variable(font-family, fontPrimary);
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-width: 2px;
        min-height: 25vh;
        padding: 15px;
        width: 100%;

        &:focus,
        &:active {
            padding: 15px;
        }
    }
}

.form {
    &__grid {
        display: grid;

        &--4 {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }

        &--3 {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
        }

        & > * {
            align-self: stretch;
            justify-self: stretch;
        }
    }
}

.error-message {
    //@include variable(color, #ff0000);
    color: red;
    font-size: 14px;
    font-weight: 700;
}

.menu-search {
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }

    input {
        margin-right: 20px;
        width: 40%;
    }

    & > form > * {
        justify-self: center;
    }
}
