// ----------FORMS and FORM ELEMENTS

form {
    width: 100%;

    label {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    input {
        @include variable(border-color, clrBlack);
        @include variable(font-family, fontPrimary);
        border-width: 2px;
        display: block;
        margin-bottom: 15px;
        padding: 10px 12px;
        width: 100%;

        &:disabled {
            @include variable(border-color, clrAccent);
            border: 2px solid #666;
        }
    }

    textarea {
        @include variable(border-color, clrBlack);
        @include variable(font-family, fontPrimary);
        border-width: 2px;
        min-height: 20vh;
        padding: 10px 12px;
        width: 100%;
    }
}

// .button {
//     @include variable(color, clrBlack);
//     @include variable(font-family, fontPrimary);
//     border: 2px solid #262626;
//     font-size: 16px;
//     font-weight: 700;
//     padding: 7px 12px;

//     &--primary {
//         @include variable(background-color, clrBlack);
//         @include variable(color, clrWhite);

//         &:hover {
//             @include variable(background-color, clrWhite);
//             @include variable(color, clrBlack);
//             @include variable(font-family, fontPrimary);
//             border: 2px solid #262626;
//         }
//     }

//     &--styleless {
//         background: initial;
//         border: none;
//         font-size: initial;
//         padding: 0;
//     }
// }

.error-message {
    //@include variable(color, #ff0000);
    color: red;
    font-size: 14px;
    font-weight: 700;
}