// ----------HELPERS

.emphasized {
    @include variable(font-family, fontAccent);
    display: block;
    font-size: 62px;
    font-weight: 900;
}

.design {
    & > * {
        display: block;
        margin-bottom: 10px;
    }
}
