// ----------LAYOUT

.layout {
    @include variable(background-color, backgroundColor);
    @include variable(background-color, clrWhite);

    &__header {
        @include variable(background-color, clrLight2);
    }

    &__footer {
        @include variable(background-color, clrLight2);
    }

    &__main {
        @include variable(background-color, clrWhite);
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". main .";
        min-height: 50vh;
        padding: 50px;

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 8fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: ". main .";
        }

        @media screen and (max-width: 900px) {
            display: block;
            padding: 50px 15px;
        }
    }
}

main {
    grid-area: main;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: "headerLogo headerNavigation headerSubnavigation";
    padding: 15px;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        grid-template-areas: "headerLogo hamburger . .";

        padding: 0 15px;
    }

    & > * {
        //border: 1px solid red;
        align-self: center;
        justify-self: stretch;
    }

    &:nth-child(1) {
        grid-area: headerLogo;
    }

    &:nth-child(2) {
        grid-area: headerNavigation;
    }

    &:nth-child(3) {
        grid-area: headerSubnavigation;
    }

    &:nth-child(4) {
        grid-area: hamburger;
    }
}

.hamburger {
    display: none;

    @media screen and (max-width: 900px) {
        display: block;
        position: relative;
    }
}

.navigation {
    text-align: center;

    &__link {
        border-bottom: 3px solid transparent;
        font-size: 16px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0 25px;
        padding: 0;
        padding-bottom: 3px;

        &--active {
            @include variable(border-color, clrBlack);
            border-bottom-style: solid;
            border-bottom-width: 3px;
        }

        &:hover {
            @include variable(border-color, clrBlack);
            border-bottom-style: solid;
            border-bottom-width: 3px;
        }
    }

    @media screen and (max-width: 900px) {
        display: none !important;
    }
}

.subnavigation {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    &__link {
        font-size: 16px;
        font-weight: 700;
        margin-left: 20px;
    }

    @media screen and (max-width: 900px) {
        display: none !important;
    }
}

.mobile-navigation {
    display: none;

    @include variable(background-color, clrAccentLight);

    padding: 25px;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    &--visible {
        display: block;

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    &__item {
        font-size: 28px;
        font-weight: 600;

        &--secondary {
            font-size: 22px;
            margin-top: 50px;
        }
    }

    &__link {
        display: block;
    }
}

.logo {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 1fr;
    gap: 0 0;

    @media screen and (max-width: 900px) {
        grid-template-columns: 50px auto;
    }

    & > * {
        justify-self: start;
        align-self: center;
    }

    &__image {
        background-image: url(../images/logos/artsobservasjoner3.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 128px;
        width: 128px;

        @media screen and (max-width: 900px) {
            height: 64px;
            width: 64px;
        }
    }

    &__link {
        @include variable(font-family, fontSecondary);
        border: none;
        font-size: 35px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        width: 100%;

        @media screen and (max-width: 900px) {
            font-size: 22px;
        }

        &:hover {
            border: none;
        }

        span {
            font-weight: 400;
        }
    }
}

.subheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: initial !important;
    margin-bottom: 50px;

    & > * {
        //font-size: 20px !important;
        margin-left: 5px;
        text-transform: uppercase;
    }
}

.footer {
    padding: 45px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 0;
        grid-template-areas: "x x y y z z" "footerContentBottom footerContentBottom footerContentBottom footerContentBottom footerContentBottom footerContentBottom";
        grid-area: footerContent;

        @media screen and (max-width: 900px) {
            display: block;
        }
    }

    &__column {
        &--x {
            grid-area: x;
        }

        &--y {
            grid-area: y;
        }

        &--z {
            grid-area: z;
        }

        &--wide {
            grid-area: footerContentBottom;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            & > * {
                margin-right: 45px;
            }

            @media screen and (max-width: 900px) {
                display: block;
            }
        }
    }

    h1 {
        font-size: 28px;
        font-weight: 700;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
    }

    button {
        display: inline-block;
        font-weight: 700;
    }
}

.footer-logo {
    width: 100px;
}

// page

.page {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 0;
    grid-template-areas: "pageContent . .";

    @media screen and (max-width: 900px) {
        display: block;
    }

    & > * {
        //border: 1px solid red;
    }

    &__header {
    }

    &__content {
        grid-area: pageContent;
    }

    &__footer {
    }
}

// grid

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &--2 {
        grid-template-columns: 1fr 1fr;
    }

    &__cell {
        //border: 1px solid red;
        align-self: stretch;
        justify-self: stretch;

        &--centered {
            align-self: center;
            justify-self: center;
        }

        // &--left {
        //     align-self: stretch;
        //     justify-self: start;
        // }
    }
}
