// ----------LAYOUT

.layout {
    @include customVar(background-color, backgroundColor);
    @include customVar(background-color, clrWhite);

    &__header {
    }

    &__footer {
        @include customVar(background-color, paletteColor0);
    }

    &__main {
        @include customVar(background-color, clrWhite);

        @media screen and (max-width: 1600px) {
            min-height: 80vh;
        }

        @media screen and (max-width: 900px) {
            display: block;
        }
    }
}

// header

.header {
    @include customVar(background-color, paletteColor0);
    display: grid;
    grid-template-columns: 3fr auto auto;
    grid-template-rows: 80px;
    gap: 0 30px;
    grid-template-areas: "headerLogo headerTopMenu headerMainMenu";
    padding: 0 30px;
    width: 100%;

    @media screen and (max-width: 1023px) {
        grid-template-columns: auto 1fr;
        grid-template-rows: 70px;
        grid-template-areas: "headerLogo headerMainMenu";
        grid-gap: 0;
        padding: 0 15px;
    }

    &__cell {
        align-self: stretch;
        justify-self: stretch;

        &--logo {
            grid-area: headerLogo;

            @media screen and (max-width: 1024px) {
            }
        }

        &--top-menu {
            align-self: center;
            grid-area: headerTopMenu;
            justify-self: flex-end;

            align-self: center;

            @media screen and (max-width: 1023px) {
                display: none;
            }
        }

        &--menu {
            align-self: center;
            grid-area: headerMainMenu;
            justify-self: end;

            @media screen and (max-width: 1024px) {
            }
        }
    }
}

// navigation

.hamburger {
    @include customVar(padding-right, paddingStd);
    @include customVar(border-color, clrBlack);
    border-radius: 50px;
    // border-bottom-right-radius: 0;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7px 22px;

    @media screen and (max-width: 1024px) {
        border: none;
        padding: 0;
    }

    & > * {
        align-self: center;
        justify-self: center;
    }

    &__text {
        font-size: 17px;
        font-weight: 600;
    }

    &__box {
        justify-self: end;
    }

    &:active,
    &:focus {
        @include customVar(border-color, clrBlack);
        border-style: solid;
        border-width: 2px;
        outline: none;

        @media screen and (max-width: 1024px) {
            @include customVar(border-color, transparent);
        }
    }
}

.menu {
    @include customVar(background-color, paletteColor0);
    //min-height: 200vh;

    // overflow: none;
    position: absolute;
    top: -1000vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000000;
    transform: translateY(-1500vh); /*change here related your menu height*/

    @media screen and (max-width: 1024px) {
        min-height: 100vh;
        padding: 30px 15px;
    }

    &--open {
        top: 80px;
        transform: translateY(0);

        @media screen and (max-width: 1024px) {
            top: 70px;
        }
    }

    &__footer {
    }
}

.navigation {
    padding: 60px 30px 0;

    @media screen and (max-width: 1200px) {
        padding: 45px 30px 0;
    }

    @media screen and (max-width: 1024px) {
        padding: 20px 0;
    }

    // modifiers

    &--primary {
        @include customVar(background-color, paletteColor0);
    }

    &--top {
        padding: 0 0 20px;
        text-align: right;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &--special {
        //padding: 0;

        @media screen and (min-width: 1024px) {
        }
    }

    // elements

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 50px;
        margin: 0 auto;
        max-width: 100vw;
        padding: 0;

        @media screen and (max-width: 1921px) {
            grid-gap: 0 50px;
        }

        @media screen and (max-width: 1600px) {
            grid-gap: 60px 30px;
        }

        @media screen and (max-width: 1366px) {
            grid-gap: 0 30px;
        }

        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-gap: 20px 0;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-gap: 40px 0;
        }
    }

    &__item {
    }

    &__heading {
        font-size: 28px;
        font-size: 32px;
        font-weight: 400;
        font-weight: 500;
        margin: 0 0 20px;

        @media screen and (max-width: 1920px) {
            font-size: 28px;
        }

        @media screen and (max-width: 1600px) {
            font-size: 26px;
        }

        @media screen and (max-width: 1200px) {
            margin: 30px 0 10px;
        }

        @media screen and (max-width: 1024px) {
            margin: 0 0 5px;
        }
    }

    &__heading-text {
        @media screen and (max-width: 1200px) {
            display: none;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__heading-link {
        &::before,
        &:before {
            background-image: url(../images/iconChevronRight.png);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            display: inline-block;
            margin-top: -7px;
            margin-right: 12px;
            vertical-align: middle;
            height: 14px;
            width: 8px;
            // display: none;

            @media screen and (max-width: 1024px) {
                margin-right: 9px;
                height: 11px;
                width: 6px;
            }
        }

        @media screen and (min-width: 1201px) {
            display: none;
        }

        // @media screen and (min-width: 1025px) {
        //     display: none;
        // }
    }

    &__section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-self: stretch;

        &--primary {
            @media screen and (max-width: 1200px) {
                padding: 0 0 30px;
            }

            @media screen and (max-width: 1024px) {
                padding: 5px 0 15px;
            }
        }

        &--secondary {
            @media screen and (max-width: 1024px) {
                display: none !important;
            }
        }

        &--special {
            @media screen and (max-width: 1024px) {
                margin-top: 15px;
            }
        }
    }

    &__link {
        @include customVar(border-bottom-color, paletteColor1);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        align-self: stretch;
        justify-self: stretch;
        padding: 10px 0;
        text-decoration: none;

        @media screen and (max-width: 1920px) {
            font-size: 19px;
        }

        // modifiers

        &--primary {
            display: block;
        }

        &--secondary {
            @media screen and (max-width: 1200px) {
                display: none;
            }

            @media screen and (max-width: 1024px) {
                display: none;
            }
        }

        &--special {
            border: none;
            font-weight: 600;
            padding: 0 0 7px;

            &::before {
                content: none !important;
            }

            @media screen and (max-width: 1024px) {
                padding: 0 0 5px;
            }
        }

        // pseudo elements

        &::before,
        &:before {
            background-image: url(../images/iconChevronRight.png);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            display: inline-block;
            margin-top: -7px;
            margin-right: 12px;
            vertical-align: middle;
            height: 14px;
            width: 8px;
            // display: none;

            @media screen and (max-width: 1024px) {
                margin-right: 9px;
                height: 11px;
                width: 6px;
            }
        }

        // current location

        .navigation--top & {
            @include customVar(background-color, clrBlack);
            @include customVar(border-color, clrBlack);
            @include customVar(color, clrWhite);
            background-position: left 20px center;
            background-repeat: no-repeat;
            background-size: 15px;
            border-style: solid;
            border-width: 2px;
            border-radius: 50px;
            // border-bottom-right-radius: 0;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 0 30px;
            padding: 5px 20px 5px 45px;

            &::before,
            &:before {
                display: none;
            }

            &::after,
            &:after {
                content: "";
                margin: 0;
            }

            &:hover:after {
                width: 100%;
            }

            &:nth-child(1) {
                background-image: url(../images/iconLock.png);
                background-image: url(../images/iconLockWhite.png);
                background-size: 12px;
            }

            &:nth-child(2) {
                background-image: url(../images/iconEnvelope.png);
                background-image: url(../images/iconEnvelopeWhite.png);
                background-size: 18px;
                font-size: 0;
                padding-left: 47px;
            }

            &:nth-child(2) {
                background-image: url(../images/iconUserWhite.png);
                background-size: 13px;
                font-size: 0;
                padding-left: 47px;
            }
        }
    }

    &__label {
        display: inline-block;
        font-size: 20px;

        @media screen and (max-width: 1921px) {
            font-size: 18px;
        }

        @media screen and (max-width: 1600px) {
            font-size: 19px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 17px;
        }

        &::after,
        &:after {
            @include customVar(background-color, clrBlack);
            content: "";
            display: block;
            height: 3px;
            margin-top: -3px;
            transition: width 0.3s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
        }

        .navigation--top & {
            font-size: 17px;
            font-weight: 500;

            @media screen and (max-width: 1024px) {
                font-size: 15px;
            }
        }
    }
}

.top-navigation {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-right: 30px;

    position: relative;
    height: 100%;
    width: 100%;

    &__link {
        background-position: left center;
        background-repeat: no-repeat;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        vertical-align: middle;

        &--login {
            background-image: url(../images/iconLock.png);
            background-size: 13px;
            padding: 0 0 0 20px;

            &:hover {
                @include customVar(background-color, clrSecondary);
            }
        }

        &--messages {
            background-image: url(../images/iconEnvelope.png);
            background-position: right center;
            background-size: 18px;
            margin-right: 7px;
            padding: 0 30px 0 0;
        }

        &--user-profile {
            background-image: url(../images/iconUser.png);
            background-position: left 15px center;
            background-size: 18px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 0 15px 0 28px;
            text-align: center;

            // when button
            @include customVar(font-family, fontPrimary);
            border: none;
            padding: 15px 30px 15px 28px;
            height: 100%;
            width: 100%;

            &:focus {
                border: none;
                outline: 0;
            }
        }

        &--active {
            @include customVar(background-color, paletteColor1);
        }
    }

    ///////
    position: relative;
}

.dashboard-pane {
    background: #d1f2eb;
    @include customVar(background-color, paletteColor1);
    border-radius: 10px;
    border-top-right-radius: 0;
    font-size: 16px;
    //padding: 30px;
    padding: 15px 0;
    transform: translateY(-1500vh); /*change here related your menu height*/
    position: absolute;
    top: 46px;
    left: -13vw;
    right: 0;

    &--open {
        display: block;
        transform: translateY(0);
    }

    &__item {
        margin: 0;
        padding: 1px 30px;

        &--first {
            font-size: 16px;
        }

        &--tall {
            padding: 15px 30px;
        }

        &--messages {
            display: flex;
            align-items: center;
        }
    }

    form > div {
        margin: 5px 0 15px;
    }

    input {
        font-size: 14px;
        font-weight: 600;
        padding: 9px 12px;

        &:focus {
            outline: none;
            padding: 9px 12px;
        }
    }

    select {
        background: transparent;
        padding: 7px 12px 5px;

        &:focus {
            outline: none;
            padding: 7px 12px 5px;
        }

        option {
            @include customVar(font-family, fontPrimary);
            max-height: calc(1.2em + 24px);
            height: calc(1.2em + 24px);
        }
    }

    label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        padding-left: 5px;
    }

    ::placeholder {
        font-size: inherit;
    }

    a {
        color: inherit;
        //border-color: transparent;
        font-weight: 700;
    }

    strong {
        font-weight: 700;
    }

    button[class] {
        //width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    button:not([class]) {
        @include customVar(font-family, fontPrimary);
        background: transparent;
        border-color: transparent;
        font-size: inherit;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    hr {
        @include customVar(background-color, paletteColor2);
        background-position: center center;
        background-repeat: repeat-x;
        background-size: 2px;
        border: 0;
        display: block;
        height: 2px;
        margin: 0 auto;
        width: 100%;
    }
}

// subheader

.subheader {
    //@include customVar(background-color, paletteColor1);
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;

    @media screen and (max-width: 1024px) {
        padding: 7px 15px;
    }

    & > * {
        align-self: center;
        justify-self: stretch;
    }
}

// breadcrumbs

.breadcrumbs {
    //@include customVar(background-color, paletteColor1);
    background: #f7f7f7;
    line-height: 1;
    margin: 0;
    padding: 3px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    a {
        align-self: center;
        justify-self: stretch;
        @include customVar(border-bottom-color, transparent);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        font-size: 16px;
        font-weight: 500;
        margin-right: 40px;
        padding-right: 0;
        position: relative;
        transition: border 0.3s;

        &:after {
            background-image: url(../images/separator.png);
            background-image: url(../images/iconChevronRight.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 5px;
            content: "";
            display: inline-block;
            width: 10px;
            position: absolute;
            top: 0;
            right: -25px;
            bottom: 0;
            left: auto;
        }

        &:last-child {
            pointer-events: none;

            &:after {
                content: none;
            }
        }

        &:hover {
            @include customVar(border-bottom-color, clrBlack);
        }
    }
}

.breadcrumb {
}

// logo

.logo {
    @include customVar(font-family, fontSecondary);
    border: none;
    font-size: 35px;
    font-weight: 300;
    height: 100%;
    line-height: 1;
    text-transform: uppercase;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__image {
        background-image: url(../images/logos/artsobservasjoner6.png);
        background-image: url(../images/logos/artsobservasjoner7.png);
        background-image: url(../images/logos/artsobservasjoner8.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;

        height: 58px;
        width: 58px;

        margin-right: 10px;

        @media screen and (max-width: 1600px) {
            height: 96px;
            width: 96px;

            height: 48px;
            width: 48px;
        }

        @media screen and (max-width: 1024px) {
            margin-right: 5px;
            height: 36px;
            width: 36px;
        }
    }

    &__link {
        line-height: 1;
        margin-top: 2px;
        padding: 0;
        vertical-align: middle;
        width: 100%;

        @media screen and (max-width: 1600px) {
            font-size: 28px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 20px;
            font-weight: 500;
        }

        &:hover {
            border: none;
        }
    }
}

// footer

.footer {
    @include customVar(background-color, clrLight);
    padding: 45px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 0;

        @media screen and (max-width: 900px) {
            display: block;
        }
    }

    &__column {
    }

    h1 {
        font-size: 28px;
        font-weight: 500;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
    }

    button {
        display: inline-block;
        font-weight: 500;
    }

    a {
        font-size: 18px;
        font-weight: 600;
    }
}

// MAIN

main {
    // se grid
    min-height: 75vh;
}

// page

.page {
    grid-area: pageContent;

    // elements
    &__header {
    }

    &__intro {
        font-size: 24px;
        font-size: 25px;
        font-size: 800;
        margin-bottom: 30px;

        p {
            font-size: inherit;
            font-weight: 700 !important;
            line-height: 1.5;
            margin: 0;
        }
    }

    &__content {
        grid-area: pageContent;
    }

    &__footer {
    }
}

// grid

.main-grid {
    display: grid;
    grid-template-columns: 1fr;

    &--page {
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
        grid-template-areas: ". pageTitle pageTitle pageTitle ." ". component component component ." ". router router router .";
        padding: 60px 30px;

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 3fr 3fr 1fr;
            grid-template-areas: ". pageTitle pageTitle ." ". component component ." ". router router .";
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-template-areas: "pageTitle" "component" "router";
            padding: 45px 15px;
        }
    }

    &--item {
        @extend .main-grid--page;
    }

    &--mega {
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: ". pageTitle pageTitle pageTitle ." ". component component component ." "router router router router router";

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 6fr 1fr;
            grid-template-areas: "pageTitle pageTitle pageTitle" "component component component" "router router router";
        }
    }

    &--frontpage {
    }

    &--std {
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: ". pageTitle pageTitle pageTitle ." ". component component component ." "router router router router router";
        padding: 60px 30px;

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 6fr 1fr;
            grid-template-areas: "pageTitle pageTitle pageTitle" "component component component" "router router router";
            padding: 60px 30px;
        }
    }

    &--text {
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-areas: ". pageTitle ." ". component ." ". router .";
        padding: 60px 30px;

        @media screen and (max-width: 1921px) {
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-areas: ". pageTitle ." ". component ." ". router .";
        }

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-areas: ". pageTitle ." ". component ." ". router .";
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-template-areas: "pageTitle" "component" "router";
            padding: 45px 15px;
        }
    }

    & > * {
        align-self: stretch;
        justify-self: stretch;
    }

    & > *:nth-child(1) {
        grid-area: pageTitle;
    }

    & > *:nth-child(2) {
        grid-area: router;
    }

    & > *:nth-child(3) {
        grid-area: component;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;

    @media screen and (max-width: 1024px) {
        //grid-template-columns: 1fr;
    }

    // modifiers

    &--2 {
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--2x4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        & > * {
            align-self: center;
        }
    }

    &--4 {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 20px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        & > * {
            align-self: center;
        }
    }

    // elements

    &__cell {
        &--left {
            align-self: start;
            justify-self: start;
        }

        &--right {
            align-self: start;
            justify-self: end;
        }
    }
}

/* list of elements... buttons, cards, teasers... etc*/

.loop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
    }

    &--buttons {
        & > * {
            margin-bottom: 10px;
        }
    }

    &--left {
        & > * {
            margin-right: 10px;

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
    }

    &--right {
        & > * {
            margin-left: 10px;

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
    }

    &--center {
        text-align: center;

        & > * {
            margin: 0 10px;

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
    }

    &--cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;

        & > *,
        .card {
            width: 100%;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--teasers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 50px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    &--gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 30px;

        & > * {
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }
}

// frontpage

.frontpage {
    &__heading {
        font-size: 48px;
        font-weight: 300;
        line-height: 1.2;
        margin: 0 0 30px;

        @media screen and (max-width: 900px) {
            font-size: 36px;
            line-height: 1.2;
        }
    }

    &__subheading {
        @include customVar(border-color, clrAqua2);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        display: inline-block;
        font-size: 24px;
        margin: 0 0 15px;
        font-weight: 400;
    }

    &__paragraph {
        font-size: 38px;
        font-weight: 300;
        line-height: 1.3;
        margin: 0;

        @media screen and (max-width: 1024px) {
            font-size: 24px;
            font-weight: 400;
        }

        &--sm {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.618;
        }
    }

    h2:not([class]) {
        //
        line-height: 1;
        padding: 0;
    }

    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &--intro {
            text-align: center;

            p {
                margin: 0;
            }

            a {
                font-size: 18px;

                &:not([class]) {
                    font-weight: 600;
                }
            }

            div {
                display: block;
            }
        }

        &--column {
            grid-template-columns: 1fr;
        }

        &--width-l {
            padding-left: 10vw;
            padding-right: 10vw;
        }

        &--width-m {
            padding-left: 30px;
            padding-right: 30px;
        }

        &--width-s {
            padding-left: 30px;
            padding-right: 30px;
        }

        &--height-l {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        &--height-m {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &--height-s {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &:nth-child(even) {
            @include customVar(background-color, paletteColor0);
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            padding: 60px 15px;
        }
    }

    &__cell {
        // border: 1px solid red;
        align-self: center;
        justify-self: stretch;
        padding: 15px;

        @media screen and (max-width: 1024px) {
            display: block;
        }

        &--no-padding {
            padding: 0;
        }

        &--centered {
            align-self: center;
            justify-self: center;
            text-align: center;
        }

        &--left {
            justify-self: flex-start;
            margin-right: 50px;
            min-width: 25vw;
        }

        &--right {
            justify-self: flex-end;
            margin-left: 50px;
            min-width: 25vw;
        }

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
}
