// ----------LAYOUT

.layout {
    @include variable(background-color, backgroundColor);
    @include variable(background-color, clrWhite);

    &__header {
    }

    &__footer {
        @include variable(background-color, clrLight2);
    }

    &__main {
        @include variable(background-color, clrWhite);
        padding: 50px;

        @media screen and (max-width: 1600px) {
            min-height: 80vh;
        }

        @media screen and (max-width: 900px) {
            display: block;
            padding: 50px 15px;
        }

        & > * {    }
    }
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 70px auto auto;
    gap: 0 0;
    grid-template-areas:
        "headerLogo headerSubnavigation"
        "headerLogo siteSearch"
        "headerNavigation headerNavigation"
        "breadcrumbs breadcrumbs";
    padding: 0;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        grid-template-areas: "headerLogo hamburger . .";
        padding: 0;
    }

    &__cell {
        align-self: stretch;
        justify-self: stretch;

        &:nth-child(1) {
            @include variable(padding-left, paddingStd);
            background-color: rgba(#515151, 0.3);
            grid-area: headerLogo;
        }

        &:nth-child(2) {
            @include variable(padding-right, paddingStd);
            background-color: rgba(#515151, 0.3);
            grid-area: headerSubnavigation;
        }

        &:nth-child(3) {
            @include variable(padding-right, paddingStd);
            background-color: rgba(#515151, 0.3);
            grid-area: siteSearch;

            form {
                margin: 5px 0 5px;
                padding: 0;
                width: 100%;
            }

            input {
                margin: 0;
            }
        }

        &:nth-child(4) {
            @include variable(padding, paddingStd);
            background-color: rgba(#515151, 0.175);
            grid-area: headerNavigation;
            align-self: center;
        }

        &:nth-child(5) {
            @include variable(padding, paddingStd);
            background-color: rgba(#515151, 0.075);
            align-self: center;
            grid-area: breadcrumbs;
        }
    }
}

.hamburger {
    display: none;

    @media screen and (max-width: 900px) {
        display: block;
        position: relative;
    }
}

.navigation {
    text-align: center;
    width: 100%;

    &__link {
        border-bottom: 3px solid transparent;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0 25px;
        padding: 0;
        padding-bottom: 3px;

        &--active {
            @include variable(border-color, clrBlack);
            border-bottom-style: solid;
            border-bottom-width: 3px;
        }

        &:hover {
            @include variable(border-color, clrBlack);
            border-bottom-style: solid;
            border-bottom-width: 3px;
        }

        @media screen and (max-width: 1600px) {
            font-size: 18px;
            font-size: 20px;
            margin: 0 17px;
        }
    }

    @media screen and (max-width: 900px) {
        display: none !important;
    }
}

.subnavigation {
    text-align: right;

    &__link {
        font-size: 14px;
        font-weight: 700;
        margin-left: 20px;
    }

    @media screen and (max-width: 900px) {
        display: none !important;
    }
}

.breadcrumbs {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    margin: 0;

    &__item {
        display: inline;
    }

    &__link {
        cursor: pointer;
        font-weight: 400;

        &--active {
            font-weight: 700;
        }
    }
}

.mobile-navigation {
    display: none;

    @include variable(background-color, clrSecondaryLight);

    padding: 25px;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &--visible {
        display: block;

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    &__item {
        font-size: 28px;
        font-weight: 600;

        &--secondary {
            font-size: 22px;
            margin-top: 50px;
        }
    }

    &__link {
        display: block;
    }
}

.logo {
    display: grid;
    grid-template-columns: 80px 90px auto;
    grid-template-rows: 1fr;
    gap: 0 0;
    height: 100%;

    @include variable(font-family, fontSecondary);
    border: none;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (max-width: 1600px) {
        grid-template-columns: 70px 70px auto;
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: auto 50px auto;
    }

    & > * {
        justify-self: start;
        align-self: center;
    }

    &__sup {
        justify-self: left;
    }

    &__image {
        background-image: url(../images/logos/artsobservasjoner6.png);
        background-image: url(../images/logos/artsobservasjoner7.png);
        background-image: url(../images/logos/artsobservasjoner8.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 128px;
        width: 128px;

        height: 58px;
        width: 58px;

        @media screen and (max-width: 1600px) {
            height: 96px;
            width: 96px;

            height: 58px;
            width: 58px;
        }

        @media screen and (max-width: 900px) {
            height: 64px;
            width: 64px;
        }
    }

    &__link {
        // @include variable(font-family, fontSecondary);
        // border: none;
        // font-size: 35px;
        // font-weight: 300;
        // line-height: 1;
        // text-transform: uppercase;
        width: 100%;

        @media screen and (max-width: 1600px) {
            font-size: 28px;
        }

        @media screen and (max-width: 900px) {
            font-size: 22px;
        }

        &:hover {
            border: none;
        }

        span {
            font-weight: 400;
        }
    }
}

.subheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: initial !important;
    margin-bottom: 50px;

    & > * {
        //font-size: 20px !important;
        margin-left: 5px;
        text-transform: uppercase;
    }
}

.footer {
    @include variable(background-color, clrLight);
    padding: 45px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 0;
        grid-template-areas: "x x y y z z" "footerContentBottom footerContentBottom footerContentBottom footerContentBottom footerContentBottom footerContentBottom";
        grid-area: footerContent;

        @media screen and (max-width: 900px) {
            display: block;
        }
    }

    &__column {
        &--x {
            grid-area: x;
        }

        &--y {
            grid-area: y;
        }

        &--z {
            grid-area: z;
        }

        &--wide {
            grid-area: footerContentBottom;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            & > * {
                margin-right: 45px;
            }

            @media screen and (max-width: 900px) {
                display: block;
            }
        }
    }

    h1 {
        font-size: 28px;
        font-weight: 700;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
    }

    button {
        display: inline-block;
        font-weight: 700;
    }
}

.footer-logo {
    width: 100px;
}

// MAIN

main {
    // se grid
    min-height: 75vh;
}

// page

.page {
    grid-area: pageContent;

    &__header {
    }

    &__intro {
        font-size: 24px;

        p {
            margin: 0;
        }
    }

    &__content {
        grid-area: pageContent;
        padding: 50px 0;
    }

    &__footer {
    }
}

// grid

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "pageTitle" "." "component";

    &--page {
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-rows: auto auto 1fr 0;
        grid-template-areas: ". pageTitle pageTitle pageTitle ." ". component component . ." "router router router router router";

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 3fr 3fr 1fr;
            grid-template-areas: ". pageTitle pageTitle ." ". component component ." ". router router .";
        }
    }

    &--mega {
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-rows: auto auto 1fr 0;
        grid-template-areas: ". pageTitle pageTitle pageTitle ." ". component component component ." "router router router router router";

        @media screen and (max-width: 1600px) {
            grid-template-columns: 1fr 6fr 1fr;
            grid-template-areas: "pageTitle pageTitle pageTitle" "component component component" "router router router";
        }
    }

    &--std {
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-rows: auto auto 1fr 0;
        grid-template-areas: ". pageTitle pageTitle pageTitle ." ". component component component ." "router router router router router";
    }

    & > * {
        // border: 1px solid red;
        align-self: stretch;
        justify-self: stretch;
    }

    & > *:nth-child(1) {
        grid-area: pageTitle;
    }

    & > *:nth-child(2) {
        grid-area: breadcrumbs;
    }

    & > *:nth-child(3) {
        grid-area: router;
    }

    & > *:nth-child(4) {
        grid-area: component;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";

    &__cell {
        // border: 1px solid red;
        align-self: stretch;
        justify-self: stretch;

        &--centered {
            align-self: center;
            justify-self: center;
        }
    }
}
