// ----------SETTINGS

// :root {}

@import "fonts";

/*

// COLORS

ORIGINAL #ccc2ba

*/

$vars: (
  fontPrimary: #{"averta",  Consolas,  monospace},
  fontSecondary: #{"robotocondensed",  Consolas,  monospace},
  fontAccent: #{"robotomono",  Consolas, monospace},

  fontSizeSmall: 16px,
  fontSizeMedium: 20px,
  fontSizeLarge: 32px,

  clrBlack: #2d2620,
  clrWhite: #f7f6f5, 
  
  clrWash: #ede9e6,

  clrLight: #e2dcd7,
  clrDark: #514942,
  clrAccent: #e5b445,
  
  clrAqua0: #deedea,
  clrAqua1: #bedbd6,
  clrAqua2: #a3ccc4,
  clrAqua3: #7ab5aa,
  clrAqua4: #6f968e,
  clrAqua5: #005249,

  paddingStd: 15px,
  transparent: transparent,

);


:root {
  --fontPrimary: #{map-get($vars, fontPrimary)};
  --fontSecondary: #{map-get($vars, fontSecondary)};
  --fontAccent: #{map-get($vars, fontAccent)};

  --clrBlack: #{map-get($vars, clrBlack)};
  --clrWhite: #{map-get($vars, clrWhite)};
  
  --clrWash: #{map-get($vars, clrWash)};

  --clrLight: #{map-get($vars, clrLight)};
  --clrDark: #{map-get($vars, clrDark)};
  --clrAccent: #{map-get($vars, clrAccent)};
  
  --clrAqua0: #{map-get($vars, clrAqua0)};
  --clrAqua1: #{map-get($vars, clrAqua1)};
  --clrAqua2: #{map-get($vars, clrAqua2)};
  --clrAqua3: #{map-get($vars, clrAqua3)};
  --clrAqua4: #{map-get($vars, clrAqua4)};
  --clrAqua5: #{map-get($vars, clrAqua5)};
  
  --backgroundColor: #{map-get($vars, clrWhite)};
  --textColor: #{map-get($vars, clrBlack)};

  --clrPrimary: #{map-get($vars, clrDark)};

  --paddingStd: #{map-get($vars, paddingStd)};
  --transparent: #{map-get($vars, transparent)};

}

@mixin variable($property, $varName) {
  #{$property}: map-get($vars, $varName);
  #{$property}: var(--#{$varName});
}

