// ----------SETTINGS

// :root {}

@import "fonts";

/*

// COLORS

ORIGINAL #ccc2ba

*/

$vars: (
  fontPrimary: #{"averta",  Consolas,  monospace},
  fontSecondary: #{"robotocondensed",  Consolas,  monospace},
  fontAccent: #{"robotomono",  Consolas, monospace},

  clrBlack: #33332e,
  clrWhite: #ffffff, 
  clrPrimary: #355C7D,
  clrWash: #f3f8ea,

  paletteColor0: #D3E2B6,
  paletteColor1: #C3DBB4,
  paletteColor2: #AACCB1,
  paletteColor3: #87BDB1,
  paletteColor4: #68B3AF,

  paddingStd: 15px,
  transparent: transparent,

);


:root {
  --fontPrimary: #{map-get($vars, fontPrimary)};
  --fontSecondary: #{map-get($vars, fontSecondary)};
  --fontAccent: #{map-get($vars, fontAccent)};

  --clrBlack: #{map-get($vars, clrBlack)};
  --clrWhite: #{map-get($vars, clrWhite)};
  --clrPrimary: #{map-get($vars, clrPrimary)};
  --clrWash: #{map-get($vars, clrWash)};
   
  --paletteColor0: #{map-get($vars, paletteColor0)};
  --paletteColor1: #{map-get($vars, paletteColor1)};
  --paletteColor2: #{map-get($vars, paletteColor2)};
  --paletteColor3: #{map-get($vars, paletteColor3)};
  --paletteColor4: #{map-get($vars, paletteColor4)};
  
  --backgroundColor: #{map-get($vars, paletteColor0)};
  --textColor: #{map-get($vars, clrBlack)};

  --paddingStd: #{map-get($vars, paddingStd)};
  --transparent: #{map-get($vars, transparent)};

}

@mixin variable($property, $varName) {
  #{$property}: map-get($vars, $varName);
  #{$property}: var(--#{$varName});
}

