// ----------TABLES

table {
    border-collapse: collapse;
    font-size: 19px;
    width: 100%;

    th {
        @include variable(border-bottom-color, paletteColor1);
        @include variable(font-family, fontSecondary);
        border-bottom: 2px solid #48c9b0;
        font-weight: 700;
        padding: 10px;
        text-align: left;
    }

    td {
        padding: 10px;
    }
}

/*table*/

// helpers

.td-number {
    text-align: right;
}

.tr-shadow {
    @include variable(background-color, paletteColor1);
    background: #E8F8F5;
}
