// ----------TABLES

table {
    border-collapse: collapse;
    font-size: 17px;
    margin: 0 auto 50px;
    width: 100%;

    caption {
        font-size: 16px;
        font-weight: 500;
        margin: 25px auto 15px;
    }

    th {
        @include customVar(border-bottom-color, paletteColor1);
        @include customVar(font-family, fontSecondary);
        border-bottom: 2px solid #48c9b0;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        text-align: left;

        &[scope="row"] {
            @include customVar(font-family, fontPrimary);
            border-bottom: 2px solid #d1f2eb;
            font-size: 17px;
            font-weight: 700;
        }
    }

    td {
        border-bottom: 2px solid #d1f2eb;
        padding: 10px;
        text-align: left;
    }
}

/*table*/

// helpers

.tbl-md {
    font-size: 17px;
}

.tbl-number {
    text-align: right;

    th,
    td {
        text-align: right;
    }

    th[scope] {
        text-align: initial;
    }
}

.th-number,
.td-number {
    text-align: right;
}

.tr-shadow {
    @include customVar(background-color, paletteColor1);
    background: #e8f8f5;
}

.td-sm {
    min-width: 10vw;
}

.td-md {
    min-width: 15vw;
}
