<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
            Tekst.
        </p>
    </div>

    <div class="page__content">

        <nav class="sitemap">
            <!-- {{link.data.text}} -->

            <a [ngClass]="{'sitemap__parent': link.data.parent === '', 'sitemap__child': link.data.parent !== ''}"
                routerLink="/{{ link.path }}" *ngFor="let link of menuItems">
                {{ 'menu.' + link.data.title | translate }}
            </a>

        </nav>

    </div>

    <footer class="page__footer"></footer>

</div>