<!--shareable non dummy component-->

<div class="non-dummy">

    <div class="icon-badge" [ngClass]="{'icon-badge--small': size === 'sm', 'icon-badge--list': style === 'list'}"
        *ngIf="totalCount$ | async as total">
        <div class="icon-badge__icon" [class]="'icon-badge__icon--' + statistics" *ngIf="icon"></div>

        <div class="icon-badge__wrapper">
            <div class="icon-badge__item"> {{ total.count | formatNumber }} </div>
            <div class="icon-badge__text" [innerHTML]="text | lowercase"> </div>
        </div>
    </div>

</div>

<!--shareable non dummy component-->