<div class="page page--stats">

    <header class="page__header"></header>

    <div class="page__intro">
        Introtekst om nødvendig
    </div>

    <div class="page__content">

        <p>
            Tabellen viser antall taxa observert og antall observasjoner per artsgruppe.
            For en forklaring på hva som er inkludert i tallene, se xxxxxxx [Lenke til tekst som forklarer reglene for
            inkludering og ekskludering av parametere bak volumstatistikk.]. Tallene blir oppdatert hver natt.
        </p>

        <table>
            <caption>Antall taxa observert og antall observasjoner per artsgruppe ORIGINAL</caption>
            <tr>
                <th scope="col" role="columnheader">Artsgruppe</th>
                <th scope="col" role="columnheader" class="th-number">Antall taxa observert</th>
                <th scope="col" role="columnheader" class="th-number">Antall observasjoner</th>
                <th scope="col" role="columnheader" class="th-number">Med bilder</th>
                <th scope="col" role="columnheader" class="th-number">Kvalitetssjekket av validator*</th>
                <th scope="col" role="columnheader" class="th-number">Kvalitetssjekket og godkjent av validator**</th>
            </tr>
            <tr *ngFor="let sighting of sightings">
                <th scope="row" role="rowheader">{{ sighting.id }}</th>
                <td class="td-number"> {{ sighting.sightingTaxonCount }} </td>
                <td class="td-number"> {{ sighting.sightingCount }}</td>
                <td class="td-number"> {{ sighting.sightingWithMediaCount }} </td>
                <td class="td-number"> {{ sighting.validatedSightingCount }} </td>
                <td class="td-number"> {{ sighting.approvedSightingCount }} </td>
            </tr>
        </table>

        <table>
            <caption>Antall kvalitetssikrede observasjoner per artsgruppe</caption>
            <tr>
                <th scope="col" role="columnheader">Artsgruppe</th>
                <th scope="col" role="columnheader" class="th-number">Antall observasjoner</th>
                <th scope="col" role="columnheader" class="th-number">Kvalitetssjekket av validator*</th>
                <th scope="col" role="columnheader" class="th-number">Andel kvalitetssjekket</th>
                <th scope="col" role="columnheader" class="th-number">Kvalitetssjekket og godkjent av validator**</th>
                <th scope="col" role="columnheader" class="th-number">Andel kvalitetssjekket og godkjent</th>
            </tr>
            <tr *ngFor="let sighting of sightings">
                <th scope="row" role="rowheader"> {{ sighting.id }} </th>
                <td class="td-number"> {{ sighting.sightingCount | number }} </td>
                <td class="td-number"> {{ sighting.validatedSightingCount | number }} </td>
                <td class="td-number td-highlighted"> {{ sighting.percentageSightedVsValidated }} %</td>
                <td class="td-number"> {{ sighting.approvedSightingCount | number }} </td>
                <td class="td-number td-highlighted"> {{ sighting.percentageValidatedVsApproved }} %</td>
            </tr>
        </table>

    </div>

    <footer class="page__footer">

    </footer>


</div>