<div class="page">

    <header class="page__header">


        <div class="cards">

            <app-card [type]="'link'" [url]="'overview-numbers'" [title]="'Oversiktstall'"></app-card>
            <app-card [type]="'link'" [url]="'quality-assured-data'" [title]="'Kvalitetssikrede data'"></app-card>
            <app-card [type]="'link'" [url]="'red-listed-species'" [title]="'Rødlistede arter'"></app-card>
            <app-card [type]="'link'" [url]="'alien-species'" [title]="'Fremmede arter'"></app-card>
            <app-card [type]="'link'" [url]="'no-data-species'" [title]="'Arter uten nok data'"></app-card>
            <app-card [type]="'link'" [url]="'ebw'" [title]="'EuroBird Watch'"></app-card>
            <app-card [type]="'link'" [cssClass]="'card--secondary'" [url]="'user-statistics'" [title]="'Brukerstatistikk'"></app-card>
            <app-card [type]="'link'" [cssClass]="'card--secondary'" [url]="'user-lists'" [title]="'Mine lister'"></app-card>

        </div>


    </header>

    <div class="page__content">

        <br><br>
        <router-outlet></router-outlet>

    </div>

    <footer class="page__footer">

    </footer>


</div>