<div class="page">

    <header class="page__header">


        <div class="loop loop--cards">

            <!-- <app-card [type]="'link'" [url]="'overview-numbers'" [title]="'Oversiktstall'"></app-card>
            <app-card [type]="'link'" [url]="''" [title]="'Kvalitetssikrede data'"></app-card>
            <app-card [type]="'link'" [url]="''" [title]="'Rødlistede arter'"></app-card>
            <app-card [type]="'link'" [url]="''" [title]="'Fremmede arter'"></app-card>
            <app-card [type]="'link'" [url]="''" [title]="'Arter uten nok data'"></app-card>
            <app-card [type]="'link'" [url]="''" [title]="'Funnkatalog'"></app-card>
            <app-card [type]="'link'" [url]="'s'" [title]="'EurobirdWatch norge'"></app-card>
            <app-card [type]="'link'" [cssClass]="'card--secondary'" [url]="'user-statistics'" [title]="'Brukerstatistikk'"></app-card> -->
            
            <app-card [type]="'link'" [url]="getLinkUrl(link.url)" [title]="link.title" *ngFor="let link of menuSections$ | async">
            </app-card>

        </div>


    </header>

    <div class="page__content">

        <br><br>
        <router-outlet></router-outlet>

    </div>

    <footer class="page__footer">

    </footer>


</div>