<div class="component" id="">


    <div class="component__content">

        <div class="button-list button-list--grid">

            <a class="button" [routerLink]="['overview-numbers']" routerLinkActive="button--active">
                <h1 class="button__heading">Oversiktstall</h1>
            </a>


            <a class="button" [routerLink]="['quality-assured-data']" routerLinkActive="button--active">
                <h1 class="button__heading">Kvalitetssikrede data</h1>
            </a>


            <a class="button" [routerLink]="['red-listed-species']" routerLinkActive="button--active">
                <h1 class="button__heading">Rødlistede arter</h1>
            </a>


            <a class="button" [routerLink]="['alien-species']" routerLinkActive="button--active">
                <h1 class="button__heading">Fremmede arter</h1>
            </a>


            <a class="button" [routerLink]="['no-data-species']" routerLinkActive="button--active">
                <h1 class="button__heading">Arter uten nok data</h1>
            </a>


            <a class="button" [routerLink]="['user-statistics']" routerLinkActive="button--active">
                <h1 class="button__heading">Brukerstatistikk</h1>
            </a>


            <a class="button" [routerLink]="['user-lists']" routerLinkActive="button--active">
                <h1 class="button__heading">Mine lister</h1>
            </a>

        </div>

    </div>


</div>