<div class="page page--landing">

    <header class="page__header"></header>

    <div class="page__intro" *ngIf="!location">

        <p>Ingress og annen nødvendig tekst</p>

    </div>

    <div class="page__content">

        <!-- <div class="loop loop--teasers" *ngIf="news; else message">

            <app-teaser [source]="item.imgUrl" [url]="item.url" [text]="item.intro" [tag]="'news.currently' | translate"
                [date]="item.created" [title]="item.title" *ngFor="let item of news"> </app-teaser>

        </div> -->

        <!-- <h2>Fra WordPress Non Observable</h2>
        <div class="loop loop--teasers" *ngIf="news; else message">
            <app-teaser [source]="item.imgUrl" [url]="item.url" [text]="item.excerpt" [tag]="'news.currently' | translate" [date]="item.date"
                [title]="item.title" *ngFor="let item of news"> </app-teaser>
        </div>
    -->

        <div *ngIf="news$ | async as news">

            <div class="loop loop--teasers">

                <app-teaser [source]="item.imgUrl" [url]="item.url" [text]="item.intro"
                    [tag]="'news.currently' | translate" [date]="item.created" [title]="item.title"
                    *ngFor="let item of (take === 0 ? (news) : (news | slice: 0: take) )"> </app-teaser>

            </div>

        </div>

        <!-- <ng-template #message>
            <p class="message">{{ errorMessage }}</p>
        </ng-template> -->

    </div>

    <footer class="page__footer"></footer>

</div>