<div class="page page--landing">

    <header class="page__header"></header>

    <div class="page__intro" *ngIf="!location">
        <p>Ingress og annen nødvendig tekst</p>
    </div>

    <div class="page__content">

        <div *ngIf="news$ | async as news; else noData" class="loop loop--news">

            <app-teaser [type]="'img'" [source]="item.imgUrl" [url]="item.url" [tag]="'news.currently' | translate"
                [date]="item.created" [title]="item.title"
                *ngFor="let item of (take === 0 ? (news) : (news | slice: 0: take) )"> </app-teaser>

        </div>

        <ng-template #noData>
            <app-error-response></app-error-response>
        </ng-template>

    </div>

    <footer class="page__footer"></footer>

</div>