<div class="page page--landing">

    <header class="page__header"></header>

    <div class="page__intro" *ngIf="!location">
        <p>Ingress og annen nødvendig tekst</p>
    </div>

    <div class="page__content">


        <div *ngIf="news$ | async as news; else noData">


            <!-- <app-teaser [source]="item.imgUrl" [url]="item.url" [tag]="'news.currently' | translate"
                    [date]="item.created" [title]="item.title"
                    *ngFor="let item of (take === 0 ? (news) : (news | slice: 0: take) )"
                    style="border: 2px solid red; display: block;"> </app-teaser> -->

            <div *ngFor="let item of (take === 0 ? (news) : (news | slice: 0: take) )">

                <a class="" routerLink="item.url" routerLinkActive="" style="border: 2px solid fuchsia;">

                    <p>{{ item.title }}</p>

                    <!-- <img class="" src="assets/images/gallery/animal1.jpg" alt=""> -->

                    <div style="display: none;">
                        <div class="">{{ 'news.currently' | translate }}</div>
                        <div class="">{{ item.published | localizedDate }}</div>
                    </div>

                </a>

            </div>

        </div>

        <ng-template #noData>
            <app-error-response></app-error-response>
        </ng-template>

    </div>

    <footer class="page__footer"></footer>

</div>