<div class="page page--landing">

    <header class="page__header"></header>


    <div class="page__intro">
        <p>
           Tekst.
        </p>
    </div>

    <div class="page__content">


        <div class="cards">

            <app-card [type]="'link'" [url]="'/report-observation'" [title]="'Rapportere observasjon'"></app-card>
            <app-card [type]="'link'" [url]="'/sightings'" [title]="'Se, søk og filtrer observasjoner'"></app-card>
            <app-card [type]="'link'" [url]="'/observations'" [title]="'Importere observasjoner'"></app-card>
            <app-card [type]="'link'" [url]="'/observations'" [title]="'Rapportere artsovervåking*'"></app-card>
            <app-card [type]="'link'" [url]="'/observations'" [title]="'Observasjonsprosjekter'"></app-card>
            <app-card [type]="'link'" [url]="'/observations'" [title]="'Validere observasjoner'"></app-card>

        </div>


    </div>

    <footer class="page__footer"></footer>

</div>