<div id="menu-wrapper" #menuWrapper>
    <button id="hamburger" class="hamburger hamburger--squeeze" [ngClass]="{'hamburger--is-active': activeMenu}"
        type="button" #menuToggle (click)="toggleMenu()" aria-controls="menu"
        [attr.aria-label]="'menu.menu_buttonToggle' | translate" [attr.aria-haspopup]="activeMenu"
        [attr.aria-expanded]="activeMenu">

        <span class="hamburger__text" aria-hidden="true">
            {{ 'menu.menu' | translate }}
        </span>
        <span class="hamburger__box" aria-hidden="true">
            <span class="hamburger__inner"></span>
        </span>

    </button>

    <div class="menu" id="menu" role="menu" #menu aria-labelledby="hamburger" [ngClass]="{'menu--open': activeMenu}">

        <header class="menu__header">
            <div class="mobile">
                <app-language-switcher></app-language-switcher>
            </div>
        </header>

        <app-navigation></app-navigation>
        <!-- <app-subnavigation></app-subnavigation> -->
        <app-extra-navigation></app-extra-navigation>

        <footer class="menu__footer"></footer>

    </div>
</div>