<!--shareable component-->

<nav class="shortcuts">

    <a class="shortcuts__link" routerLink="/report/add-observation"  *ngIf="location !== 'add-observation'">
        <span class="shortcuts__text">Legg til</span>
        <!-- <span class="shortcuts__icon">
            <img src="/assets/images/iconEye.png" alt="">
        </span> -->

        <img class="shortcuts__icon" src="/assets/images/iconBinoculars.png" alt="">
    </a>

    <a class="shortcuts__link" routerLink="/observations/sightings" *ngIf="location !== 'sightings'">
        <span class="shortcuts__text">Søk i</span>
        <img class="shortcuts__icon" src="/assets/images/iconBinoculars.png" alt="">
    </a>

</nav>

<!--shareable component-->